[2015-12-27 15:14] jig08 opened #1 "Instagram icon instead Flickr icon in Social Media"
The icon in social media which links to https://www.flickr.com/photos/fossasia has a erroneous Instagram icon instead of Flickr.

![screenshot from 2015-12-27 20 44 26](https://cloud.githubusercontent.com/assets/9291400/12010788/a5b928aa-acda-11e5-9b14-b53c5984254d.png)

[2015-12-30 13:19] jigyasa-grover commented on #1
Issue Resolved via PR [#234](https://github.com/fossasia/gci15.fossasia.org/pull/234)

[2015-12-30 13:19] #1 closed

[2016-01-13 13:42] mariobehling opened #3 "Add cron job"
To schedule campaigns or to make sending more reliable, add a cron job with the following command.
Command

php /usr/www/users/opentek/news/scheduled.php > /dev/null 2>&1

This command needs to be run every 5 minutes in order to check the database for any scheduled campaigns to send. You'll need to set your cron job with the following.
(Note that adding cron jobs vary from hosts to hosts, most off

[2016-01-15 13:39] mariobehling opened #5 "Implement Web Tweets with loklak API instead of twitter API on FOSSASIA sites"
**Objective**

There is already a working implementation of loklak webtweets at https://github.com/fossasia/fossasia-loklak-webtweets. Please implement loklak tweets to substitute the current implementation using the twitter API on http://2015.fossasia.org, http://2016.fossasia.org and http://fossasia.org. Keep the design as is and ensure tweets are looping.

**Requirements**

* use http://loklak.

[2016-01-16 05:43] codethejason commented on #5
@mariobehling I have implemented Loklak into each of the sites and referenced the loklak-webtweets README for documentation in the HTML.

[2016-01-16 09:26] mariobehling commented on #5
@codethejason Could you check please to correct the design slightly. Only links are bold und underlined, regular text is not bold.

Is it also possible to implement "Posted xyz minutes/hours/days ago"?

[2016-01-16 15:14] codethejason commented on #5
@mariobehling Links now display as bold and regular text is not bold. Also, all tweets are from the @fossasia account. I decided to implement tweeted x hours ago because it makes it more readable in my opinion.

[2016-01-16 23:23] mariobehling commented on #5
Good job! Thanks.

[2016-01-16 23:23] #5 closed

[2016-01-24 14:31] mariobehling opened #12 "Implement separate Blog Section"
Implement blog section in design of page with
* white background section
* grayish background (as now is good)
* corners (no round edges as this is not according to design specs)
* links in red

[2016-01-25 03:43] codethejason commented on #12
@mariobehling Would you like it in the same location?

[2016-01-25 16:45] mariobehling commented on #12
@codethejason I added a section. Please add it in there. Cheers!

![screenshot from 2016-01-25 17 44 11](https://cloud.githubusercontent.com/assets/1583873/12557496/5a4c636a-c38b-11e5-95f4-8ec418af62ad.png)

[2016-01-26 01:07] mariobehling commented on #12
@codethejason Excellent work. At the moment we depend on Yahoo for showing blog content. I wonder if there was a solution to implement it without a third party service, e.g. we could also check if we could add a module to the Drupal blog in order to offer content in another format.

[2016-01-26 01:43] mariobehling commented on #12
Please change "See more at FOSSASIA" on the bottom to "Read more in the blog".

[2016-01-26 02:02] codethejason commented on #12
@mariobehling I looked into it and offering a JSON format or disabling the same origin policy in the CORS header (which wouldn't be the best idea) could let us automatically parse the data without relying on Yahoo.

[2016-01-26 02:23] mariobehling commented on #12
Ok, if you have time to look into how to offer JSON from a Drupal blog would be great. Maybe this is the solution.

[2016-01-26 02:48] mariobehling opened #16 "Add a press section"
* add a form for press
* add press materials
* add high res logo and photos

[2016-01-26 08:50] yasoob commented on #12
IMO we should just display the blog-post titles and not the full content in this section. And then add a hyperlink to the title which leads to the blog-post. The current version does not go along well with the design of the website. What do you say?

[2016-01-26 10:17] mariobehling commented on #12
@yasoob I think it is ok for now. We can have a fresh look in a few days. Would be great, to find an existing Drupal theme for the blog, that matches the design of the main page.

[2016-01-26 10:17] #12 closed

[2016-01-26 10:19] mariobehling commented on #12
Check out this issue: https://github.com/fossasia/blog.fossasia.org/issues/1

[2016-02-02 03:48] shivamMg commented on #16
@mariobehling Can I work on this, if you haven't started already.

[2016-02-02 04:16] shivamMg opened #19 "Slower Blog post transitions"
Reading the preview blog posts at front page is difficult. The transitions are very fast. <del>They should stop on mouse hover.</del>
<del>"Read more in the blog" button shouldn't be full-width on larger devices.</del>

If someone gives a go ahead, I would like to work on this one.

[2016-02-02 06:41] jigyasa-grover commented on #19
You can send in your improvements ...
On 2 Feb 2016 09:46, "Shivam Mamgain" notifications@github.com wrote:

[2016-02-02 07:47] shivamMg commented on #19
Thank you @jig08. I'll submit a PR as soon as I can.

[2016-02-02 10:09] shivamMg commented on #19
@jig08 I've solved the issue in https://github.com/fossasia/fossasia.org/pull/20
I didn't include changes for the stop-at-mouse-over thing. It would have been confusing for the user, since the blog posts don't have a visible border. Also, changing dimensions of the Read more button didn't look neat, so I kept it as it is.

[2016-02-02 11:56] jigyasa-grover commented on #19
Okay. Closing this issue with the blog transitions made to `fadeIn` and `fadeOut` instead of abrupt views.

[2016-02-02 11:56] #19 closed

[2016-02-03 06:04] SilentFlame commented on #16
@mariobehling
Anyone working on this issue.
Else I would like to work.

[2016-02-03 08:36] shivamMg opened #21 "Number at the end of `index.html`"
There is a number at the end of the index page after the closing html tag.
It is showing up on the site too. "1018"

[2016-02-06 16:38] #21 closed

[2016-02-18 05:38] manishbisht opened #25 "Want to improve the footer of the fossasia.org"
Hello Devs,

I want to improve the design of the footer of the fossasia.org to make it more attractive. Can I start working on this change ?

[2016-02-18 08:16] jigyasa-grover commented on #25
@manishbisht
Go ahead and submit your changes as a PR. They shall be reviewed accordingly.

[2016-03-01 21:23] SilentFlame opened #27 "`Tweeted time` and `follow @fossasia for more updates` overlap for some tweets."
![twet](https://cloud.githubusercontent.com/assets/9693795/13442327/af9e673e-e021-11e5-9409-b25c952a810a.png)

we can set the tweet to be present inside a specified <div> so as to avoid the overlapping of large tweets.

[2016-03-04 19:55] #27 closed

[2016-03-04 20:03] SilentFlame commented on #27
@jig08  are you available on IRC as I am facing problems in  setting up loklak_server and using it locally.
would be very thankful if you can help.

[2016-03-05 06:42] sopu opened #29 "Redirect back to the referrer page after subscribing to news-letter"
On clicking 'subscribe' to news-letter, new page `news.fossasia.org/subscribe` is opened.
IMO it should redirect back to the referring page after about 2 or 3 secs.

[2016-03-06 21:16] SilentFlame opened #30 "Adding Instagram link at the bottom of the page"
Since we have a Instagram page too, so why can't we provide a link to that as like our fb, twitter accounts.

[2016-03-06 22:26] SilentFlame opened #32 ""Fossasia" logo should be made static"
As seen at the top right corner the `fossasia` is clearly and well visible.
![pic1](https://cloud.githubusercontent.com/assets/9693795/13557489/641a5f26-e417-11e5-8e05-3c44c476d8fb.png)
**Problem** :Now when I opened the side bar on left the `fossasia` shifts to place where it's not completely visible.
![pic2](https://cloud.githubusercontent.com/assets/9693795/13557490/67e55a84-e417-11e5-9de2-497d

[2016-03-08 19:10] ashutoshsaboo commented on #30
@jig08 Please have a look at my PR - https://github.com/fossasia/fossasia.org/pull/33 . Please advise if any changes are required in the code. Thanks!

[2016-03-08 20:08] #30 closed

[2016-03-09 06:30] ashutoshsaboo commented on #29
Umm I have been looking into this. But just an issue. Could you help me out figure, where is the code (as in which HTML file is the code) for `news.fossasia.org` ? @jig08 Could you help me out? @sopu

[2016-03-09 06:48] ashutoshsaboo commented on #32
Hi @SilentFlame . I don't know why it's getting viewed like that on your Firefox. But on my Chrome (on Ubuntu) , it seems to be completely fine. And there's no need of keeping the `FossAsia` logo static, because in the right slider the logo is also present, and the original logo on the web page, gets completely hidden, so I guess that's completely consistent and fair. And also, that if we keep any

[2016-03-09 10:46] SilentFlame commented on #32
@ashutoshsaboo you hadn't made the screenshot properly.
Either too much zoom or else you are making a partial shot.
check once again I suggest because It is what it's visible above in the screenshots above I provided.
and I can clearly see that your shot is also having th esame p[roblem just the thing is didn't show that in shot coz of %of zoom.
so try zooming out to 100% or I'll say `ctrl+0` as y

[2016-03-18 23:39] SilentFlame opened #36 "No tweets in the tweet section on main page(fossasia.org)"
It seems the tweet section has stopped posting the tweets.
![tweets](https://cloud.githubusercontent.com/assets/9693795/13894652/86966220-ed90-11e5-8b68-b603affff6ee.png)

something like the above is present currently. I can't say from how long it is like that, but ya I noticed couple of hours before.

[2016-03-19 10:56] SilentFlame commented on #36
Now It's working fine.
@championswimmer do you have any Idea why that happened, as was it just for those couple of hours or is there still a possibility for the same to occur. if not then I can close the issue.

[2016-03-24 08:38] ghost commented on #29
I think this is a seperate service and that's why you can't change the page there. But I'll try to open a new tab with the homepage, before it is going to subscribe.

[2016-06-25 18:53] sahilhindwani opened #39 "The tweet section is not proper.The link to follow on twitter is hidden by that tweet for some tweets.In short overwriting is taking place"
![fossasia1](https://cloud.githubusercontent.com/assets/8669640/16358543/6c58c89e-3b33-11e6-9e6a-99a984f349d5.png)
![fossasia2](https://cloud.githubusercontent.com/assets/8669640/16358551/a0c9371c-3b33-11e6-86f0-4e3358a1924e.png)

[2016-06-25 18:56] ghost commented on #39
Can i work on solving this one. I am new to the community and would like to contribute to the community.

[2016-06-25 19:06] mananwason commented on #39
@sahilhindwani can you elaborate on what you mean?

[2016-06-25 19:16] ghost commented on #39
@mananwason This is a very small problem.As it can be seen in the screenshot attached there is a **follow @fossasia on twitter** line which is overwritten by the tweets.The problem is due to the div size as well as Font is too large to be accommodated in that div size.

[2016-06-26 09:00] mariobehling commented on #39
@sahilhindwani Yes, please help. Thank you!

[2016-06-26 16:23] #16 closed

[2016-06-26 16:24] #39 closed

[2016-06-26 16:24] #36 closed

[2016-06-26 16:24] #32 closed

[2016-06-26 16:24] #25 closed

[2016-06-26 16:24] #29 closed

[2016-06-28 20:12] mariobehling opened #41 "Fix the blog showcase section on fossasia.org"
The set up of http://blog.fossasia.org has changed as we moved the blog from Drupal to Wordpress. The result is that the showcase section "Blog" on the page does not work anymore. Please re-implement it on http://fossasia.org as follows:
- [x] Automatically show the last 10 blog entries of the FOSSASIA blog
- [x] Include heading, and below only show the first two paragraphs and a read more link
-

[2016-07-07 06:29] VibhuKesar commented on #41
1st trouble : Uppermost fossasia image overlap with activities when changed the dimensions of web browser
![screenshot 15](https://cloud.githubusercontent.com/assets/20054569/16644926/ec9a59c4-443d-11e6-877d-6b4cd733efa6.png)

2nd trouble : Blog improvement
[https://www.dropbox.com/s/l92fgaxa9gfvvz8/fossasia.org-gh-pages.zip?dl=0](url)

[2016-07-07 08:48] VibhuKesar commented on #41
also should i make remote branch so that u can easily compare?
How to contribute so i found this the better way than dropbox,

[2016-07-07 09:33] mariobehling commented on #41
Hi, thanks for your help. Each issue usually should only focus on one problem.

Please open another issue about the resolution problem.

For improvements, please use github and make a branch on your github account and show the changes.

After that please make a pull request. Thank you.

[2016-07-07 18:33] VibhuKesar commented on #41
I have made a pull request .Thanks for giving me opportunity to contribute.

[2016-08-12 14:07] mariobehling opened #45 "Implement donation and supporter funding for fossasia.org"
Please implement donation and supporter funding for fossasia.org. Ensure it can continue to be hosted on github pages.
- [ ] Choose Donation or Regular Supporter
- [ ] If user chose donation offer: Choose amount
- [ ] If user chose regular supporter offer: Dropdown menu 5USD/month, 10USD/month, 50 USD/month, 100USD/month, 200USD/month, 1000USD/month
- [ ] Choose payment method (Paypal or Stripe)

[2016-08-15 17:00] mariobehling opened #46 "Create a sitemap.xml and html site"
Please create a sitemap as
- [ ] sitemap.xml at http://fossasia.org/sitemap.xml
- [ ] an index.html sitemap at http://fossasia.org/sitemap/
- [ ] Include subdomains and the blog

[2016-08-30 14:57] vaibsharma commented on #41
for issue #41

@mariobehling ,hello sir , Sorry being absent for that long , from yesterday I started with this issue and for now I have been quite successful in getting .
1. Automatically show the last 10 blog entries of the FOSSASIA blog
2. Include heading, and below only show the first two paragraphs and a read more link
3. Use the xml file of http://blog.fossasia.org/feed/
Could you please gui

[2016-08-30 15:24] mariobehling commented on #41
@vaibsharma Thank you for the updates. Please also document which technology you use in the Readme.md. I see feednami. Cheers.

[2016-08-30 15:25] vaibsharma commented on #41
Yeah Sure sir

[2016-08-30 15:53] vaibsharma commented on #41
@mariobehling  #48 added README.md for feednami

[2016-08-30 19:46] vaibsharma commented on #41
#49 blog slider done! @mariobehling

[2016-08-30 21:58] mariobehling commented on #41
Slider was not working and I had to revert it. Please implement a separate css and separate js files and do not change the existing ones. Thank you.

[2016-08-31 04:45] vaibsharma commented on #41
Sorry for changing the existing files ,implemented a seperate css and js files #51 now it's working fine .
Thank you
Best regards
Vaibhav

[2016-08-31 08:41] mariobehling commented on #41
@vaibsharma Thank you, could you set up a test site on your repository, please? This would make it much easier. Cheers.

[2016-08-31 14:59] vaibsharma commented on #41
vaibsharma.github.io/fossasia @mariobehling , I had deleted earlier CNAME file(sorry),as this made my server off for the entire day , .

[2016-09-02 18:04] vaibsharma commented on #46
Will you please explain about this issue ?
Thank you !

[2016-09-14 15:40] mariobehling opened #53 "Fix height of gray events dropdown menu"
The events dropdown menu currently does not show all links. Please ensure the box is automatically expanded to show all links of the menu on all FOSSASIA pages and subdomains.

![screenshot from 2016-09-14 17 38 49](https://cloud.githubusercontent.com/assets/1583873/18518966/61a8f05a-7aa2-11e6-829c-3b5e0e4e02cf.png)

[2016-09-15 09:08] mariobehling opened #54 "Add a GitHub icon to footer and sidebar"
Currently the Github icon is missing on the footer and sidebar.

Please add it
* [x] to the sidebar

![screenshot from 2016-09-15 10 53 59](https://cloud.githubusercontent.com/assets/1583873/18544373/8f1e5e3e-7b34-11e6-8b16-44bdaa6664c3.png)

* [x] to the footer

![screenshot from 2016-09-15 10 53 42](https://cloud.githubusercontent.com/assets/1583873/18544390/a04a4ccc-7b34-11e6-863d-33e859bd54a9.

[2016-09-21 15:13] sandmanx commented on #53
@mariobehling  Fixed the issue by forcibly fixing the height of dropdown menu at 400px using inline styling. PR #56

[2016-09-21 15:59] bettersandeep commented on #53
@mariobehling The only solution that I could find was to forcibly set the height of the dropdown menu to 400px using inline css. So should I go ahead and create multiple pull requests for all the pages?

[2016-09-21 16:09] bettersandeep commented on #53
@mariobehling You can see how it works in PR #56. This is for the home page only. I will do the same for all pages in all fossaia websites that are currently live.

[2016-09-21 16:21] mariobehling commented on #53
@sandmanx Thanks. Looks good. Please increase height even more. The link to the code of conduct is still missing. cheers.

[2016-09-21 19:42] bettersandeep commented on #53
@mariobehling Issue fixed for the main website on two pages, index.html and about.html by PR #58 and #57 respectively. You can close the issue now.

[2016-09-22 13:39] jigyasa-grover commented on #54
Closing. Fixed via PR https://github.com/fossasia/fossasia.org/pull/59.

[2016-09-22 13:39] #54 closed

[2016-09-23 21:24] rajmeghpara commented on #46
@mariobehling , I have created both the files as u suggested,but i want u to check it before i create pull request,Here is the [link](https://drive.google.com/drive/folders/0B9EAusN0qvTXTHYteEpEdDJNZzA?usp=sharing).

[2016-09-25 07:32] jigyasa-grover commented on #46
@rajmeghpara Feel free to submit a PR, we can then review and merge the changes. Cheers !

[2016-09-29 17:37] Shivang-Bhandari commented on #53
Rather than giving a fixed height i think a overflow for the section would be a more appropriate solution to the problem.

[2016-09-29 22:01] Shivang-Bhandari opened #64 "Navbar Crash for Ipad Portrait Orientation"
The Navbar's Hamburger Button does not appear fully for ipad portrait mode ( 768 px * 1024 px ) @mariobehling @the-dagger

[2016-09-29 22:01] Shivang-Bhandari commented on #64
![2](https://cloud.githubusercontent.com/assets/16368588/18974046/69b9dbec-86be-11e6-9799-6aa2ffb5cefd.png)

[2016-09-29 22:07] Shivang-Bhandari opened #65 "Navbar Crash at 769 X 392 px"
The Fossasia logo merges with the navbar menu.
![3](https://cloud.githubusercontent.com/assets/16368588/18974183/304bdf58-86bf-11e6-9f0d-8e3bd83f5f1c.png)

[2016-09-29 22:09] Shivang-Bhandari commented on #65
Extra White Space too generates in the extreme right which decreases with increase in width

[2016-09-30 17:44] jigyasa-grover commented on #65
@Shivang-Bhandari Yes, the issue is there. Would you like to take this up ?

[2016-09-30 17:56] jigyasa-grover commented on #64
@Shivang-Bhandari Help us resolve the issue pls.

[2016-09-30 19:22] Shivang-Bhandari commented on #64
yeah sure ill get to it and check where things are going off track, i hope by the end of the weekend ill be able to resolve the issue @jig08 .

[2016-09-30 19:26] Shivang-Bhandari commented on #65
Ill give it a look on my end, i hope i can find a fix. @jig08

[2016-10-01 21:26] sandmanx opened #66 "Overlapping of Copyright text on sidebar"
On decreasing the length of the browser and opening the sidebar, the Copyright text overlaps with the options available in the sidebar.
![page-shot-2016-10-2-fossasia 2](https://cloud.githubusercontent.com/assets/14184381/19017084/15e209ce-884c-11e6-829d-cad345161a1e.png)

[2016-10-01 21:31] bettersandeep commented on #66
Also, a typo exists in the third option (Event Management)

[2016-10-02 01:32] bettersandeep commented on #66
One way to fix this is to fix the copyright text at the bottom of the page. But that approach causes it to disappear on decreasing the height of the browser. Should I go ahead with this approach?

[2016-10-02 01:56] daminisatya commented on #66
@sandmanx these are purely user experience problems, please create a pull request, we will test it. And then we can decide on the right fix or merge the existing one!

[2016-10-02 02:24] bettersandeep commented on #66
Fixed wrt PR #67

[2016-10-02 03:23] #66 closed

[2016-10-02 08:15] Shivang-Bhandari commented on #64
@jig08 i have fixed the issue.

[2016-10-03 12:59] jig08 commented on #64
@Shivang-Bhandari Your PR referenced this issue ? Attach a link of the same.

[2016-10-03 17:40] Shivang-Bhandari commented on #64
@mariobehling The issue is that there is an additional white space in the whole page due to which the hamburger icon is not displayed fully and the user has to scoll a bit horizontally as visible in the screenshot previously attached. After looking into the home page i found that this was being caused due to the footer elements going out of place. I am attaching screenshots of the navbar display a

[2016-10-03 17:56] Shivang-Bhandari commented on #64
@mariobehling the issue can only be resolved by changing the width of the elements in the footer as the email address's unusual width is causing the issue in the first place.

[2016-10-03 18:54] mariobehling commented on #64
@Shivang-Bhandari Thanks for pointing this out. Please try to play around with css, e.g. a result could be that in smaller resolutions the page shows "fossasia@google...." instead of the full email.

[2016-10-04 04:43] Shivang-Bhandari commented on #64
@mariobehling rather than hiding the whole email address wouldn't it be better to fit it in the page itself by adjusting the classes for smaller resolutions like i did in my commit which was reverted ?

[2016-10-04 11:02] mariobehling commented on #64
Your adjustments changed the width distribution of the footer columns. This is not a desired outcome as the footer should be distributed evenly. Cheers.

[2016-10-08 05:38] Shivang-Bhandari commented on #64
@mariobehling Ok sir so should i make changes to hide the whole email address for the smaller screen resolutions ?

[2016-10-08 08:00] mariobehling commented on #64
We can also think about another solution, but it sounds like the easiest to go with for now.

[2016-10-11 15:09] Shivang-Bhandari commented on #64
@mariobehling Sorry for the late reply but i am thinkig that it would be a better idea to put Just 'FOSSASIA' instead of the whole link and then add a mailto link to it which would be much more convinient for the users too.

[2016-10-11 15:10] Shivang-Bhandari commented on #64
if you feel the idea would be ok then i'll get it done asap

[2016-10-12 04:11] mariobehling commented on #64
@Shivang-Bhandari This field is an email field. So, Email address there is the preferred solution. As this is quite a long discussion about a small issue, I am opening this issue to others and unassigning this. If you still think you can solve it, simply make a pull request. Cheers.

[2016-10-13 09:16] #64 closed

[2016-10-21 11:37] gureks commented on #46
@mariobehling If this issue has not been resolved yet, please assign it to me.

[2016-10-21 13:14] jigyasa-grover commented on #46
@rajmeghpara Updates on this pls ?

@gureks Go ahead with this in the meanwhile, submit a PR accordingly.

[2016-10-22 11:05] mariobehling commented on #46
@gureks Thanks for joining! There is a basic sitemap here http://fossasia.org/sitemap.html and xml version here http://fossasia.org/sitemap.xml

Please help to add more details and improvements. Cheers.

[2016-10-26 15:03] palnabarun commented on #45
I want to work on this issue but don't know where to start. Can anyone please help?

[2016-11-07 15:53] rajakedia1 commented on #45
I want to work on this issue. I have already work with payment methods.

[2016-11-07 17:55] rajakedia1 commented on #45
Can anyone tell me something about the layout, or about the designs so that I can start working on the page.

[2016-11-08 07:43] #53 closed

[2016-11-19 07:44] #65 closed

[2016-11-25 09:55] #46 closed

[2016-11-29 09:04] Shivang-Bhandari opened #82 "UI-UX Updations"
@mariobehling sir i would like to work on making the overall UI-UX better for the website. There are a lot of places where the Website can be made more interactive and more user friendly.
I have a few changes in mind and will start working on them as soon as i get a confirmation.

[2016-11-29 20:19] mariobehling commented on #82
Hi @Shivang-Bhandari, thanks for your enthusiasm. For the moment we would like to focus on our software projects rather than on the website. A change of the website would in any case demand a lot of coordination and currently there are software projects that are about to release.

Regarding this issue "UI Updates" is not a specific issue. Therefore I am closing this. It would be great, if you coul

[2016-11-29 20:19] #82 closed

[2016-12-05 03:09] AmazingAbdullah opened #83 "Implement automatic update to sitemaps with python script and travis"
Create a script which updates information to the sitemap.xml and sitemap.html files automatically every time a page is updated/created on the website. Integrate the script with Travis CI and ensure it runs at every site update.

[2016-12-07 02:29] AmazingAbdullah commented on #83
can @niccokunzmann please label the issue as enhancement and GCI (for google code-in)

[2016-12-07 02:46] mariobehling commented on #83
There is no need to label it GCI as all our tasks are open for GCI contributions.

[2016-12-07 02:58] AmazingAbdullah commented on #83
ok

[2016-12-15 11:08] abishekvashok commented on #83
I am working on it.

[2016-12-15 11:12] abishekvashok commented on #83
This repo is not using Travis @mariobehling @AmazingAbdullah @niccokunzmann I need to have Travis integrated to make this work, I cant integrate on my own because I have no write access, my sitemap updated script is almost ready.

[2016-12-15 11:13] abishekvashok commented on #83
Hah sorry @AmazingAbdulla I though you were a mentor but only now seen now it was assigned to you. May be we could collaborate what is your opinion sir.

[2016-12-15 11:43] mariobehling commented on #83
@Abhi2424shek Ok, please make it work on your own repo and once it works, we will make it work on this one. Cheers.

[2016-12-15 12:46] abishekvashok commented on #83
@mariobehling sure.

[2016-12-16 02:28] AmazingAbdullah commented on #83
I just submitted a pull request (#84)
My script updates the sitemap.xml file, I'm currently working on the sitemap.html updating

[2016-12-16 02:32] AmazingAbdullah commented on #83
Can @niccokunzmann  or @mariobehling give me an extension at google code-in too

[2016-12-16 06:34] Tikam02 opened #85 "web-page can be Enhanced: can implement a horizontal transparent menu-bar"
Actually in http://fossasia.org website when menu bar is clicked the page moved to left side:Like this
![foss-page](https://cloud.githubusercontent.com/assets/10548085/21253773/0f6bacdc-c387-11e6-9847-aea6852c8744.png)
![foss-page1](https://cloud.githubusercontent.com/assets/10548085/21253784/1d4d1066-c387-11e6-935c-e2ae00d94b14.png)
we can do is just make a simple horizontal menu-bar and which wi

[2016-12-16 06:43] mariobehling commented on #85
Thanks. This is out of scope at the moment. Would be great, if you help with other issues though. Right now we need help with the open event orga server: https://github.com/fossasia/open-event-orga-server

[2016-12-16 06:43] #85 closed

[2016-12-16 10:10] niccokunzmann commented on #83
@AmazingAbdullah Can you give me a link?

[2016-12-17 00:16] AmazingAbdullah commented on #83
It's Alright I got the extension

[2016-12-18 08:37] niccokunzmann commented on #83
@AmazingAbdullah I merged. Let us see if the sitemap.xml turns up on the site.

[2016-12-18 08:40] abishekvashok commented on #83
@niccokunzmann I think you'd need a new PR or commit to get travis work [then only would travis execute the script and then only could we see the sitemap.xml]

[2016-12-18 08:42] niccokunzmann commented on #83
@Abhi2424shek Let's see.

[2016-12-18 08:43] niccokunzmann opened #86 "Pin versions of Python modules."
@AmazingAbdullah We will need another commit to make travis run. Can you do the following?

Pronblem: With Python you can not be sure which version you get when you do `pip install packageX`. Zou would usually do `pip install packageX==VERSION` for the version that works.

Solution: Add the version information to allow future compatibility even several years in the future.

[2016-12-18 08:45] niccokunzmann commented on #83
#86 created for a new travis commit.

By the way, I use this to create the sitemap.xml file: https://github.com/niccokunzmann/niccokunzmann.github.io/blob/master/sitemap.xml

[2016-12-18 22:26] AmazingAbdullah commented on #86
Got it!

[2016-12-18 22:39] AmazingAbdullah commented on #86
I submitted the pull request #87 @niccokunzmann

[2016-12-18 22:44] AmazingAbdullah commented on #83
Wow! I never thought of using the templating system. Looks Neat

[2016-12-19 00:04] niccokunzmann commented on #86
Thanks, you resolved this.

[2016-12-19 00:04] #86 closed

[2016-12-19 00:05] niccokunzmann commented on #83
@AmazingAbdullah If the sitemap python generates does not turn up on the page, we can try out the template. Please check: Can we close this?

[2016-12-19 01:59] AmazingAbdullah commented on #83
Travis was not working and i just fixed that over here  (#88 )

[2016-12-19 02:00] AmazingAbdullah commented on #83
But I don't see the sitemap.xml file getting updated

[2016-12-19 02:10] AmazingAbdullah commented on #83
I don't think the script is able to update the file

[2016-12-19 09:17] niccokunzmann commented on #83
So, I also do not think now, that the file can get updated by travis. Would you like to try out the sitemap.xml which works on jekyll?

[2016-12-20 01:46] AmazingAbdullah commented on #83
Ya I think that is the best choice

[2016-12-20 04:33] AmazingAbdullah commented on #83
@niccokunzmann
I was looking at your example for the sitemap
Can you explain how {% for page in site.pages %} works. Where does site.pages come from?

[2016-12-20 08:00] abishekvashok commented on #83
It comes from Jekyll @AmazingAbdullah

[2016-12-21 03:01] AmazingAbdullah commented on #83
I know that but I was asking specifically, like where does the variable get assigned or come from

[2016-12-21 07:53] niccokunzmann commented on #83
Here is some more input on variables: https://jekyllrb.com/docs/variables/
For where they are created, you can have a look at the jekyll source code. Github makes it posible to search through the files.

[2016-12-21 21:16] Elgayar commented on #45
Is someone working on this issue?

[2016-12-23 17:34] mariobehling commented on #45
This issue is free to take up. Solution should be a lightbox that pops up.

[2016-12-23 18:16] Elgayar commented on #45
Is there a specific email that should receive the paypal payments?

[2016-12-24 01:36] AmazingAbdullah commented on #83
@niccokunzmann
Would this work?
 [Jekyll-Sitemap Plugin](https://github.com/jekyll/jekyll-sitemap)

[2016-12-24 07:41] abishekvashok commented on #83
Should I be of any help

[2016-12-24 07:41] abishekvashok commented on #83
I have a sitemap updated script ported with Travis

[2016-12-24 07:57] mariobehling commented on #45
yes: contact@fossasia.org

[2016-12-28 04:19] AmazingAbdullah commented on #83
To deal with Travis CI's lack of write access to public repositories, I looked for a solution online and found out that we could use a bash script that clones the repository, builds the sitemaps, and then pushes it back to the repo. The problem with this is that the password will have to be stored in plaintext for this. Then I found out that we can use [HTTP Access Tokens](https://github.com/setti

[2016-12-28 05:56] abishekvashok commented on #83
@AmazingAbdullah  we have it implemented for coala on the gci16.fossasia.org repository; if you could build the sitemap, on a PR merge then to push back you need to add a remote via git using a new users username and password and relase and push back, remember the user has to have write access to the repo or it will give permission denied errors. Id you have more doubts just ping me on slack.

[2016-12-28 21:27] AmazingAbdullah commented on #83
Yes. That is why I asked someone who has write access to either use their account to generate a token or create a new account with write access to the repo specifically for this purpose.

[2016-12-29 04:35] abishekvashok commented on #83
Please ask @mariobehling sir

[2016-12-29 21:05] AmazingAbdullah commented on #83
I mentioned him above

[2016-12-31 16:29] AmazingAbdullah commented on #83
@mariobehling @niccokunzmann  Please look at this

[2016-12-31 17:14] niccokunzmann commented on #83
@AmazingAbdullah Now, when you build, there should be an environment variable with the name `travis_deploy_key` in which you will find a private key for git with push access to the repository. Please make sure, that you do not create a build loop.
You can test this feature at your own fork by making the same settings.

I would recommend using the jekyll sitemap but since noone does this and you li

[2016-12-31 19:38] AmazingAbdullah commented on #83
Did you add the environment variable `travis_deploy_key` directly on the Travis CI dashboard? @niccokunzmann
Also can you tell me the name of the user this key is for? (for authentication)

[2016-12-31 21:47] AmazingAbdullah commented on #83
I pushed the new changes to my repo and added it to the pull request #88

[2017-01-01 19:57] AmazingAbdullah commented on #83
Oh is this an ssh key?

[2017-01-02 14:30] niccokunzmann commented on #83
It is an ssh key.

[2017-01-07 05:02] abishekvashok commented on #45
@Elgayar updates would be awesome

[2017-01-08 18:10] niccokunzmann opened #89 "Create amd64 build"
As far as I can see, creating a meilix amd64 requires the following:

- [ ] add the file `image-amd64.tar.lzma`
- [ ] do not install i368 packages
- [ ] add amd64 variants of the i368 packages

[code]

Questions:

- [ ] Is it possible to use the same image files for amd64 as for i368?
- [ ] Could we just copy the files for the amd64 image from the Ubuntu amd64 iso?

[2017-01-08 18:10] #89 closed

[2017-01-08 18:11] niccokunzmann commented on #89
Wrong repository.

[2017-01-24 09:34] niccokunzmann commented on #83
@AmazingAbdullah, I created a new environment variables named "GITHUB_API_TOKEN" which should have write access to the repository. You can try using this in your PR.

[2017-01-27 05:25] AmazingAbdullah commented on #83
@niccokunzmann What is the username associated with this token (needed for authentication) ?

[2017-01-27 10:27] niccokunzmann commented on #83
If it does not work without username, please notify me.

On 27.01.2017 06:25, Abdullah Shuaib wrote:

[2017-01-29 11:18] AmazingAbdullah commented on #83
@niccokunzmann The way the token works is that you substitute it for the password while authenticating, so you would still need the username.
Ex:
`git push https://username:password@github.com/username/repo.git`
Becomes
`git push https://username:token@github.com/username/repo.git`

Correct me if I am wrong

[2017-02-21 21:08] m1guelpf opened #92 "Join fossasia link"
Hi!

I've noticed the normal behaviour on joining fossasia is that the user asks an admin/completes the form and waits for approval.
I've created a tool called OrgManager that allows you to generate links to join a Github organization!
(You may want to get more info at [the github repo](https://github.com/m1guelpf/orgmanager) or [see it in action](https://orgmanager.miguelpiedrafita.com).)

Some o

[2017-03-03 13:03] jitendra3109 commented on #92
What do mean by that?
You are the member of it.
Without approval how can people join Org.

[2017-03-03 13:58] m1guelpf commented on #92
@jsroyal I meant that people normally have to wait for manual approval when joining FOSSASIA, and providing a solution.

[2017-03-03 14:47] jitendra3109 commented on #92
@m1guelpf I agree on that need to manual approval take time.So what are the criteria for joining the org in your solution?
Is that only GitHub login?

[2017-03-03 15:52] m1guelpf commented on #92
@jsroyal OrgManager is an application that uses the Github API to instantly invite new users to the organization. The users don't have to login, they only write their username and fill a captcha, and Organizations can optionally protect signups by requesting a password. Also, an API is available so Organizations can build custom integrations.

[2017-03-05 02:31] mariobehling commented on #92
@m1guelpf OrgmManager is a nice idea, but the sign up page asks me for admin access to all my organizations.

Firstly, why do I need to give admin access. Isn't there a way to give less access rights?

Secondly, why do I need to provide admin access to all my organizations?

![screenshot from 2017-03-05 10-28-33](https://cloud.githubusercontent.com/assets/1583873/23583989/e8d67d04-018e-11e7-8173-5

[2017-03-05 14:20] m1guelpf commented on #92
@mariobehling Admin access in needed to use the invites API. Also, FOSSASIA (and maybe your other organizations) is not configured correctly, and auto-authorizes every request. You may want to check the help page of GitHub for this: https://help.github.com/articles/about-third-party-application-restrictions/

[2017-03-27 16:17] m1guelpf commented on #92
@mariobehling Any updates?

[2017-04-02 13:54] abhishek1995s commented on #45
Is this issue still open can I complete it

[2017-04-02 13:56] abishekvashok commented on #45
It's still open @abhishek1995s pls do work on it.

[2017-04-25 10:22] mariobehling opened #96 "Tweet Section no longer providing tweets from loklak"
Tweet section is supposed to show tweets.

[2017-04-29 13:50] dilpreetsio commented on #96
@mariobehling Do we only have to show tweets and not retweets from FOSSASIA ?
Tweets older than 1 month wont be displayed as loklak now only stores the tweets that are no older than one month. The tweet section wont populate as there has been no tweets for fossasia within last month.

[2017-04-29 13:55] mariobehling commented on #96
Tweets and Retweets, please.

No need to repeat this everywhere. I am the one who did this with Michael.

[2017-04-29 13:58] dilpreetsio commented on #96
Sorry, I was just trying to clear things. Thanks

[2017-04-29 14:27] #96 closed

[2017-05-01 21:52] mariobehling opened #98 "Wrong date on tweets"
Tweets are showing wrong post date, e.g. 0 days ago for tweets that are posted long ago.

![screenshot from 2017-05-01 23-50-48](https://cloud.githubusercontent.com/assets/1583873/25596392/33ae6ed8-2ec9-11e7-95bb-e23273d873ed.png)

[2017-05-01 21:52] mariobehling commented on #96
Thanks for the changes. Tweet days are wrong though. Issue here https://github.com/fossasia/fossasia.org/issues/98

Any ideas?

[2017-05-02 11:09] dilpreetsio commented on #98
@mariobehling I have checked and closely monitored the tweets and the dates displayed, it seems that the dates of the tweets are correct for the tweets older than 24 hours. For tweets which were posted within 24 hours are displayed as `Tweeted 1 days ago`. I was not able to find any tweets with `Tweeted 0 days ago`, Can you please give any example of such case?

[2017-08-05 18:09] mariobehling opened #146 "Add links to blog section and expand length of section to include more content"
* Add links to author, title should link to post
* Expand height of section

[2017-08-07 18:02] Ujjwal-9 opened #147 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2017-08-07 18:14] #147 closed

[2017-09-04 02:29] isuruAb opened #148 "width of team member images are differ"
width of team member images are differ in small screen sizes.
<img width="567" alt="screen shot 2017-09-04 at 7 56 48 am" src="https://user-images.githubusercontent.com/7692626/30009555-f873cf44-9146-11e7-8a45-c77ad40348ff.png">
<img width="468" alt="screen shot 2017-09-04 at 7 57 20 am" src="https://user-images.githubusercontent.com/7692626/30009574-0e8e4a98-9147-11e7-9a43-108c4783c311.png">

[2017-09-05 09:56] championshuttler commented on #146
Can you please elaborate this issue @mariobehling . I want to work on it

[2017-09-05 11:51] mariobehling commented on #146
@championshuttler

The section is on the page:
![screenshot from 2017-09-05 13-50-32](https://user-images.githubusercontent.com/1583873/30059880-40a8e024-9241-11e7-8a1d-cbce705f26ba.png)

* Add links to author, title should link to post
* Expand height of section

[2017-09-06 10:30] mariobehling commented on #83
Closing this due to inactivity.

[2017-09-06 10:30] #83 closed

[2017-09-06 10:31] #3 closed

[2017-09-06 10:31] #41 closed

[2017-09-06 10:35] mariobehling opened #149 "Fix and enhance tweet section"
Currently the tweet section shows some tweets of FOSSASIA accounts that are not related to FOSSASIA. Please implement as follows show tweets and retweets of the following accounts:
* https://twitter.com/fossasia
* https://twitter.com/fasblg
* https://twitter.com/fa_voc
* https://twitter.com/fossasiasg

Also ensure the date of the tweets are shown correctly and instead 0 days ago e.g. 5 hours ago.

[2017-09-06 10:35] mariobehling commented on #98
Closing in favor of https://github.com/fossasia/fossasia.org/issues/149

[2017-09-06 10:35] #98 closed

[2017-09-06 10:37] dilpreetsio commented on #149
@mariobehling I'm having a look at it.

[2017-09-06 10:44] mariobehling commented on #92
@m1guelpf I have finally worked it out now. Here it is https://orgmanager.miguelpiedrafita.com/o/fossasia. Would be great to get a code snippet for a popup for the website here. So people don't have to leave the site.

[2017-09-06 11:21] singhpratyush commented on #149
@geekyd: Try this request -

https://api.loklak.org/api/search.json?callback=loklakFetcher.handleData&q=from:fossasia%20OR%20from:fasblg%20OR%20from:fa_voc%20OR%20from:fossasiasg&count=3&source=all&timezoneOffset=-330&minified=true

* Query is `from:account1 OR from:account2 OR ...`
* Set source to all
* No need for `fields` and `limit`
* Go with better timezoneOffset than `0` (see api.loklak.org

[2017-09-06 11:52] m1guelpf commented on #92
@mariobehling I am woking on a link that authorizes the user and then redirects back to the organization page. Will notify you when it's ready. You can also use the OrgManager REST API if you want.

[2017-09-07 09:37] #149 closed

[2017-09-07 10:41] sounak98 commented on #148
I would like to work on this.

[2017-09-08 03:23] mittalprince commented on #148
is this issue has been solved or not . @sounak98

[2017-09-08 06:07] nikssardana commented on #146
Hi
I would like to work on this issue. Can anyone guide me about which files need to be changed?
Also, what should be the new height of the carousel?

[2017-09-08 08:23] mariobehling opened #152 "Top bar has a moving effect - avoid that effect"
When a user scrolls down the top and the bar switches to white a moving effect appears when the user scrolls over an item.

Expected: The underline effect should appear, but the moving effect should not appear.

![screenshot from 2017-09-08 10-18-42](https://user-images.githubusercontent.com/1583873/30202731-bac89d00-947f-11e7-8898-9078471252b2.png)

[2017-09-08 10:05] sounak98 commented on #148
@mittalprince this issue was still there when I had started working on it.

[2017-09-08 10:35] mariobehling opened #153 "Move http content to https"
There are some issues when switching the http websites to https, e.g. we have some scripts that are using http.

Please go through the website with issues, propose and implement solutions, e.g.
https://events.fossasia.org/ -> https://github.com/fossasia/events.fossasia.org
https://2018.fossasia.org/ -> https://github.com/fossasia/2018.fossasia.org
https://2017.fossasia.org/ -> https://github.com/f

[2017-09-08 13:49] #148 closed

[2017-09-08 14:58] isuruAb opened #154 "Arrow controllers are not working"
Arrow controllers of blog section are not working correctly.

<img width="1006" alt="screen shot 2017-09-08 at 8 25 27 pm" src="https://user-images.githubusercontent.com/7692626/30217542-1198e622-94d4-11e7-9268-842c5e20cc3d.png">

[2017-09-08 15:01] venkateshdb commented on #153
I think there is only problem with 2018.fossasia.org.

after some editing.
now@ https://venkateshbellale.github.io/2018.fossasia.org/

[2017-09-08 15:29] isuruAb commented on #146
Hi @nikssardana  ,

Please go through the js files of repo.you can change this section ,
https://github.com/fossasia/fossasia.org/blob/gh-pages/js/blog.js
happy coding 👍

and please check whether @championshuttler  is still working on this issue or not.

[2017-09-08 15:59] nikssardana commented on #146
Thanks @isuruAb. I'll look into it.
@championshuttler please reply if you're already working on it, I'll find something else to work on if you've started working on it. Otherwise, I'd like to be assigned to this.

[2017-09-08 17:11] AshishkrGoyal commented on #152
@mariobehling Sir...
can i work on this ??

[2017-09-08 17:14] dilpreetsio commented on #152
@AshishkrGoyal Please go ahead!

[2017-09-08 17:36] isuruAb commented on #153
@venkateshbellale  please send a pull request to this issue.
https://github.com/fossasia/2018.fossasia.org/issues/34

[2017-09-08 17:38] nanspro opened #155 "URL changes when user clicked on the featured images of blog posts"
![workspace 1_001](https://user-images.githubusercontent.com/24641089/30223948-7af2e094-94ea-11e7-86a6-ae67df60a036.png)
![workspace 1_002](https://user-images.githubusercontent.com/24641089/30223951-7e29cb9c-94ea-11e7-9d68-b6ed455c79fd.png)

[2017-09-08 17:44] nanspro commented on #155
@isuruAb  Can you tell me what it should do when it gets clicked

[2017-09-08 17:52] isuruAb commented on #155
Hi @nanspro ,
Actually you can't change these things here, because blog is separate wordpress site. If you need to change this you have to edit the wordpress theme.
@mariobehling  need your opinion here.

[2017-09-08 18:24] nikssardana commented on #146
The xml feed used in the above mentioned file contains link to the blog and author's name, but I could not find the link to author's profile. Where can I find it?

[2017-09-08 18:35] mittalprince commented on #154
sir may i work on this issue ?

[2017-09-08 18:39] dilpreetsio commented on #153
@venkateshbellale This issue is resolved in https://github.com/fossasia/2018.fossasia.org/pull/32
You can take up these issue I just opened:
https://github.com/fossasia/events.fossasia.org/issues/6
https://github.com/fossasia/events.fossasia.org/issues/7
https://github.com/fossasia/2016.fossasia.org/issues/113
https://github.com/fossasia/2015.fossasia.org/issues/48
https://github.com/fossasia/2017

[2017-09-08 18:52] isuruAb commented on #154
@mittalprince  yes you can proceed with this

[2017-09-08 18:55] isuruAb commented on #146
make this kind of url using author name
https://blog.fossasia.org/author/mario-behling/

[2017-09-08 19:36] mittalprince commented on #154
sir actually i'm new in this field so please would you guide me , what steps should i follow to solve this issue

[2017-09-08 19:39] mittalprince commented on #154
sir one more thing that there is no arrow visible in blog section, please help me  @isuruAb
thanks

[2017-09-08 23:22] mariobehling commented on #155
This is normal behavior of Wordpress and not a bug.

[2017-09-08 23:22] #155 closed

[2017-09-09 00:58] isuruAb commented on #154
hi @mittalprince ,
this is the place you need to edit.
https://github.com/fossasia/fossasia.org/blob/gh-pages/js/blog.js
now you have to go through the code and check the issue. then send a PR with new solution.

happy coding 👍

[2017-09-09 03:25] mittalprince commented on #154
thanks sir
i will see it and try my best to solve it

[2017-09-09 04:09] championshuttler commented on #146
@nikssardana i am working and i will let you if i won''t be able to do it.
thank you

[2017-09-09 08:15] AshishkrGoyal commented on #152
@mariobehling @geekyd
i have done changes for 2018 summit website, same will be applicable here,
please give a review to changes then i will send i PR for this.
link is:

http://www.ashishkrgoyal.me/2018.fossasia.org/

Thanks :smile:

[2017-09-09 08:22] dilpreetsio commented on #152
@AshishkrGoyal Thanks for the fix. Please open a PR if you have resolved the issue. All the reviews and changes can be suggested on the PR itself.

[2017-09-09 08:51] AshishkrGoyal commented on #152
@geekyd
please visit this link and review PR.

https://github.com/fossasia/fossasia.org/pull/156

Thanks 😄

[2017-09-09 09:12] #152 closed

[2017-09-09 10:29] AshishkrGoyal commented on #154
@isuruAb
next and prev both button are working properly.
please view this issue once

thanks

[2017-09-09 13:02] harshit98 commented on #153
@geekyd I am still able to see this issue on <a href="2018.fossasia.org">2018.fossasia.org</a>

![capture](https://user-images.githubusercontent.com/22245418/30240366-dc0abd14-958c-11e7-9397-28b6953e928c.PNG)

[2017-09-09 14:39] isuruAb commented on #154
@AshishkrGoyal  could you please tell me  what is the browser you are using ?

[2017-09-09 14:41] AshishkrGoyal commented on #154
@isuruAb
Google Chrome | 60.0.3112.113 (Official Build) (64-bit) (cohort: Stable)
-- | --

[2017-09-10 06:01] AshishkrGoyal opened #158 "Responsiveness issue:design and alignment of input boxes is not good for all devices"
@mariobehling @isuruAb @niccokunzmann
Screenshot
alignment of input boxes is good for devices whose width > 770px but devices less than this width have to face alignment issue of input box which spoil the UI and UX.

like in this screenshot all the three boxes are not aligned centered or aside, while all have their different alignment.

![image](https://user-images.githubusercontent.com/25322851/3

[2017-09-10 06:07] AshishkrGoyal opened #159 "carousel images cut problem:responsiveness issue"
@isuruAb @niccokunzmann
images come in full size while working with large devices but with small devices image is not coming with proper dimensions.

**Screenshot for small devices:**

![image](https://user-images.githubusercontent.com/25322851/30246585-707bad66-961c-11e7-835e-813f246ae854.png)

**Screenshot for large devices:**

![image](https://user-images.githubusercontent.com/25322851/30246594

[2017-09-10 08:51] AshishkrGoyal commented on #159
@isuruAb
i am working for this issue

Thanks 👍

[2017-09-10 11:17] isuruAb commented on #159
hi @AshishkrGoyal , but it is better if you can work on major projects instead of minor bugs of fossasia website. try to work on other major projects like susi, loklak or open event.
happy coding 👍

[2017-09-10 11:42] AshishkrGoyal commented on #159
@isuruAb
i am new to open source contribution field and want to be a developer for fossasia organization because i have interest in fossasia's projects..

i think that may be at this time it is hard to contribute major projects but gradually i will move to major projects..

can you please guide me that i am going in right direction or it is wrong track??

i will be highly grateful to you for the s

[2017-09-10 12:25] mani87 commented on #158
@AshishkrGoyal i want to work on this. Can i?

[2017-09-10 12:27] AshishkrGoyal commented on #158
@mani87
actually i am working on this 😄

Thanks 👍

[2017-09-10 12:28] mani87 commented on #158
OK @AshishkrGoyal  :)

Thankyou!

[2017-09-11 15:10] meets2tarun opened #162 "Unnecessary White Space"
In the FOSSASIA team page, there is an unnecessary white space between two images. https://fossasia.org/team
![bug](https://user-images.githubusercontent.com/15213246/30281935-6432963a-9731-11e7-93ce-4e4cd70e9066.png)

[2017-09-11 15:28] isuruAb commented on #162
in chrome it works fine. are you working on this issue ?

[2017-09-11 17:13] meets2tarun commented on #162
Yes, it works perfectly in Chrome but one can reproduce the issue in Firefox.
I would like to solve this issue.

[2017-09-14 09:26] techyay opened #168 "Add bottom text, address and Github icon"
Please do the following changes on all pages:
* On the top right of the menu add a Github icon and link to https://github.com/fossasia
* On the footer change the FOSSASIA text as follows:

FOSSASIA develops Open Source software and hardware solutions with a global developer community from its base in Asia and organizes Open Technology events around the year. The organization runs coding programs a

[2017-09-14 14:22] Pk13055 commented on #168
I will work on this!

[2017-09-14 17:11] Pk13055 commented on #168
@techyay There is no _github icon_ in the icon css that is used. What should I use instead?

[2017-09-14 17:37] mariobehling commented on #168
Look there is a github icon on the bottom of the page, through in black. Please check what options are there and find a way to add an icon.

[2017-09-14 18:40] Pk13055 commented on #168
@mariobehling I shall check it out. In the meanwhile, can you review the other changes?
EDIT: I have added the icon from `font-awesome` itself.

[2017-09-14 18:45] Pk13055 commented on #162
Can you post a screenshot here?

[2017-09-14 18:52] meets2tarun commented on #162
It is above there.

[2017-09-14 19:15] mariobehling commented on #162
Reason is probably an image which does not have the exact size.

[2017-09-14 20:33] Pk13055 commented on #162
Could we possibly use flexboxes for the images to render properly across browsers/versions?

[2017-09-14 20:38] mariobehling commented on #162
The best is: Avoid a discussion that could take hours, if you could solve the issue in just a few minutes.

[2017-09-15 11:50] heysadboy opened #171 "Managing the images in team section"
The second last image's size is not proper and the last image is not aligned with others.

![screenshot 16](https://user-images.githubusercontent.com/22588035/30480929-e25ac694-9a39-11e7-8936-28ed263f862a.png)

I think it should be aligned to the left.

[2017-09-15 13:44] sagar-kalra commented on #171
problem of the last image persists in chrome, but is completely fine in firefox.

[2017-09-15 14:09] mariobehling commented on #171
Vibhor's image is not in the correct size. Please adapt it to the correct size.

[2017-09-15 16:01] vibhcool commented on #171
I have fixed the issue, please see https://github.com/fossasia/fossasia.org/pull/172
Nikhil Rayapralu's image is a bit smaller than the size.
an approach to prevent this issue can be to set fix size of height of images like the way width is set

[2017-09-16 06:47] shubham-sr commented on #45
I want to contribute to this issue if its still open, how should I get started ?

[2017-09-16 06:58] isuruAb commented on #45
@abhishek1995s  what is the status of this issue ? are you still working on this ?

[2017-09-16 09:39] mariobehling commented on #168
1. On the top right of the menu add a Github icon and link to https://github.com/fossasia

2. On the Footer Address "FOSSASIA" is missing. The address should be added after "FOSSASIA".
* FOSSASIA

FOSSASIA
6 Eu Tong Sen Street, #05-07 The Central, Singapore 059817

[2017-09-16 10:15] AshishkrGoyal commented on #162
@mariobehling sir.
i think there is no issue like that now..
so please close this issue 😄

[2017-09-16 10:22] #162 closed

[2017-09-16 18:30] Pk13055 commented on #168
@mariobehling Can you check out #170, the comments that I've added?

[2017-09-17 11:29] sagar-kalra commented on #168
I would like to work on this issue. @mariobehling

[2017-09-17 12:04] sagar-kalra commented on #168
Submitted a PR https://github.com/fossasia/fossasia.org/pull/175

[2017-09-17 12:09] Pk13055 commented on #168
It's good to see your interest in this issue. But next time on, claim
issues that haven't been claimed already.

On Sep 17, 2017 5:34 PM, "Sagar Kalra" <notifications@github.com> wrote:

[2017-09-17 12:11] sagar-kalra commented on #168
Well, sorry for that. I ll keep this in mind next time I'll work on an issue.

[2017-09-17 16:14] hpdang opened #176 "Add the logo of host venue to the main page"
![ssg-lli_logo_v_rgb](https://user-images.githubusercontent.com/1658742/30522650-f6bbe802-9bd3-11e7-8067-efdd09ee2170.JPG)

URL: https://www.lli.sg

[2017-09-18 09:56] mariobehling commented on #176
Please follow up here: https://github.com/fossasia/2018.fossasia.org/issues/61

[2017-09-18 09:56] #176 closed

[2017-09-20 10:40] #168 closed

[2017-09-23 20:20] sansyrox commented on #159
@AshishkrGoyal can i work on this issue?

[2017-09-23 20:48] AshishkrGoyal commented on #159
@stealthanthrax
i am working for this issue already 😄

[2017-09-24 00:21] mariobehling commented on #159
I don't really see this as a bug and I don't know what should be improved. The current way it works is good for me. It does not make sense to work on these small things. We need urgent help with Open Event, SUSI.AI, Yaydoc, loklak, phimpme, PSLab. These kind of issues here are taking away time of reviewers and mentors. Therefore I am closing this issue. Please help to develop actual software in FO

[2017-09-24 00:21] #159 closed

[2017-09-24 16:36] Nshul commented on #154
This issue persists on firefox but not on chrome.
Can i work on this issue if it hasn't been resolved yet?
@isuruAb

[2017-09-24 18:24] AshishkrGoyal commented on #154
@Nshul
sure you can solve it..
go ahead 😄
cheers 👍

[2017-09-24 19:42] isuruAb commented on #154
@Nshul  please go ahead 👍

[2017-09-25 16:53] Nshul commented on #154
@isuruAb Can you please help me out here

I tried modifying the blog.js file at https://github.com/fossasia/fossasia.org/blob/gh-pages/js/blog.js
with these three functions for manual movement of carousel.
Apparently, the log function works i.e. the arrow clicks are detected but the carousel doesnt goto next or prev
[code]
[code]
[code]
[code]
But sadly,the issue still persists

I even tried to mo

[2017-10-01 10:35] anshulwadhawan opened #188 "Sudden gap between elements in the core developers section"
@mariobehling
![issue](https://user-images.githubusercontent.com/25061477/31053741-d079295e-a6c1-11e7-922e-f0a6fac46c61.png)

I am interested to work on this issue.

[2017-10-01 11:51] anshulwadhawan commented on #188
@mariobehling
Please refer to my PR-https://github.com/fossasia/fossasia.org/pull/189
I have fixed this issue.

[2017-10-01 18:57] AshishkrGoyal commented on #188
@anshulwadhawan it is good that you first open the issue and then by asking for working on it, send PR for it,
definitely it is good that you are working for it but following best practices will increase value of your contribution 😄

Thanks 👍
Happy Coding 😄

[2017-10-02 16:16] anshulwadhawan commented on #188
@AshishkrGoyal
Sure sir.
I will take care from now onwards.

[2017-10-03 15:12] anshulwadhawan opened #193 "Text flowing out of allotted box"
Current state:
On viewing the website on Redmi Note 3, the text after the blog posts carousel seems to come out of the allotted space.
Expected state : The text should not overflow out of the grey background and should be properly aligned with respect to the background.

![issue](https://user-images.githubusercontent.com/25061477/31132701-1c911ff8-a87b-11e7-9deb-7e2a5eb9d589.png)

I want to work o

[2017-10-03 15:17] anshulwadhawan opened #194 "Icons in the footer contact us bar overflow"
Currently:
On viewing the website on Redmi Note 3, the contact us footer bar icons overflow out of the line(to the next line).
Expectation :All the icons should be in the same line.

![issue](https://user-images.githubusercontent.com/25061477/31133043-fcda42f6-a87b-11e7-8da0-7d276a45f167.png)

I want to work on this issue.
@mariobehling
@isuruAb

[2017-10-03 23:34] isuruAb commented on #193
@anshulwadhawan  yes you can proceed

[2017-10-04 12:49] anshulwadhawan commented on #193
This issue has been solved.
Please have a look at my PR- https://github.com/fossasia/fossasia.org/pull/195
Thanks :)
@isuruAb

[2017-10-13 09:26] vanshsoni opened #197 "Change footer UI for "Back to Top""
As we can see back to top link is not eye-catching to user, We can change it to back to top button as like in screenshot 1
![screenshot 1](https://user-images.githubusercontent.com/20061884/31539539-769a0106-b026-11e7-8564-dd0fb0518481.png)
![screenshot 74](https://user-images.githubusercontent.com/20061884/31539566-971ee8ba-b026-11e7-833d-8aefe5625bf9.png)

[2017-10-13 12:17] jainkeval commented on #197
I would like to work on it.

[2017-10-13 12:18] jainkeval commented on #197
![image](https://user-images.githubusercontent.com/26284185/31545846-92fd1780-b03e-11e7-945b-c8604ae3b98b.png)
Is this fine??

[2017-10-13 14:29] mariobehling commented on #197
Thanks, but this has low priority. Please help on FOSSASIA's software projects instead.

Closing it. Cheers.

[2017-10-13 14:29] #197 closed

[2017-10-15 14:20] kartiktyagi4282 commented on #146
Hi @mariobehling @isuruAb
Sir, can i fix this bug.I think i have got the solution to this problem.

[2017-10-17 05:28] AshishkrGoyal opened #201 "improvement of UI"
@isuruAb i want to improve UI of this site because this site has many bugs at various screen sizes.
i will send PR for my code to this repository and you are requested to please review it 👍

can i proceed further please reply sir as soon as possible 😄
Thanks in advance 👍

[2017-10-17 10:57] isuruAb commented on #201
Could you please list down all the bugs that you identified at the moment. Then all others can see those bugs which you are working.

It would be really good if you can work on major projects instead of these web pages.

[2017-10-17 11:08] AshishkrGoyal commented on #201
@isuruAb can you please suggest me some projects of fossasia for which i can contribute??
i am JSlover 👍
really it will be a big help
Thanks in advance 👍

[2017-10-17 13:43] isuruAb commented on #201
@AshishkrGoyal  there are lot of JS projects
https://github.com/fossasia/chat.susi.ai

or just search by language
https://github.com/fossasia?utf8=%E2%9C%93&q=&type=&language=javascript

It is pleasure to help you.
cheers 👍

[2017-10-22 06:16] luckykumardev opened #202 "problem in dropdown menu when we reduce the screen width less then 769px(approx)"
dropdowns
1.PROJECTS
2.EVENTS
not completely visible when we reduce screen width less the 769(approx)
![fossasia 1](https://user-images.githubusercontent.com/32070019/31858809-99aaa890-b6b5-11e7-964c-aab84f6a5742.jpg)
![fossasia 3](https://user-images.githubusercontent.com/32070019/31858811-9e2630d8-b6b5-11e7-8bd0-14ca2c8cebf0.jpg)
![fossasia 2](https://user-images.githubusercontent.com/32070019/3

[2017-10-22 11:48] isuruAb commented on #202
@luckykumardev  yes work on this. if you can work of major projects that would be really great. 👍  cheers

[2017-10-22 12:47] luckykumardev commented on #202
thanks @isuruAb I will try.

[2017-10-31 10:21] aashutoshrathi opened #204 "Travis Build Failure"
Travis is somehow disconnected or unable to make build.

[2017-11-01 19:22] jigyasa-grover commented on #204
cc: @mariobehling @hpdang

[2017-11-12 18:54] Roshanjossey opened #205 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2017-11-13 01:08] mariobehling commented on #205
https://orgmanager.miguelpiedrafita.com/o/loklak

[2017-11-13 01:08] mariobehling commented on #205
https://orgmanager.miguelpiedrafita.com/o/fossasia

[2017-11-13 01:08] #205 closed

[2017-11-23 05:33] pandyamarut commented on #146
Is this issue still unsolved? if so, please tell me i'll go forward with it.
Thank you!

[2017-11-26 15:47] ihsraham opened #206 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2017-11-26 20:27] mariobehling commented on #206
https://orgmanager.miguelpiedrafita.com/o/fossasia

On Sun, Nov 26, 2017 at 4:47 PM, Maharshi Mishra <notifications@github.com>
wrote:

[2017-12-02 16:14] naveentherocker opened #207 "404 Page and 500 Page Not Edited, No Header, No Red Drop Down Menu and No Link for Fossasia Summit 2018 in Drop Down Menu"
Issue 1- 404 Page and 500 Page is as same as in the Template.
Issue 2- No Fossasia Logo and Favicon in 404 and 500 Pages
Issue 3- No Header and No Drop Down Menu in Both the Pages
Issue 4- No Links for the Fossasia summit 2018 in the Drop Down Menu

[2017-12-02 23:26] #207 closed

[2017-12-03 14:27] shalithasuranga opened #209 "Newsletter Subscription is not working"
When I tried to subscribe fossasia newsletter found that [http://news.fossasia.org/subscribe](http://news.fossasia.org/subscribe) location which receives POST from main site is broken

URL - [https://fossasia.org/about.html](https://fossasia.org/about.html)

[2017-12-04 06:20] #209 closed

[2017-12-04 06:33] #202 closed

[2017-12-04 06:36] #193 closed

[2017-12-06 21:03] mariobehling opened #211 "Dropdown menus are no longer showing all menu items"
Dropdown menus are shortened now and don't show all projects, events etc.

![screenshot from 2017-12-06 22-02-14](https://user-images.githubusercontent.com/1583873/33685245-4d2a31a8-dad1-11e7-90da-35c27621de64.png)

[2017-12-06 22:07] mariobehling commented on #211
Already fixed.

[2017-12-06 22:07] #211 closed

[2017-12-06 22:51] #206 closed

[2017-12-06 22:52] mariobehling commented on #204
No need for travis for a simple html page.

[2017-12-06 22:52] #204 closed

[2017-12-06 22:54] mariobehling opened #212 "Get Stripe Credit Card Payments to work on Donate page"
On the donate page Stripe is still set to Demo account (https://fossasia.org/donate.html#stripe). Please propose and make the required changes to get Stripe working.

Relevant documentation is here: https://stripe.com/docs/stripe-js/elements/quickstart

[2017-12-12 11:20] mariobehling opened #213 "Fix blog area"
The blog area has a few issues:
* Add some padding on top and bottom of area
* Add padding on left and right providing some space to edge of area
* Center images
* Ensure going over the link area is clickable. Some area of link areas are not entirely clickable

![screenshot from 2017-12-12 12-16-47](https://user-images.githubusercontent.com/1583873/33881924-b687a5a4-df36-11e7-8968-0663adbe762a.png

[2017-12-12 11:25] mariobehling opened #214 "Make social media buttons to share info about FOSSASIA"
The social media buttons could share info about FOSSASIA. Implement them as popups in the same way as on https://publiccode.asia.
![screenshot from 2017-12-12 12-24-09](https://user-images.githubusercontent.com/1583873/33882149-7a3d01f6-df37-11e7-8ebc-1fd7aad4c47c.png)

[2017-12-13 09:33] nzec commented on #214
On it!

[2017-12-13 09:44] nzec commented on #171
This problem still persists.
![Image](https://i.imgur.com/ZWhiBlJ.png)

[2017-12-13 10:13] nzec commented on #213
On it!

[2017-12-13 11:10] #213 closed

[2017-12-13 11:10] #214 closed

[2017-12-13 11:25] nzec commented on #194
Will this be worked on? I don't think this is required.

[2017-12-13 11:28] nzec commented on #212
Will try to do this. Will be taking at least 2 days.

[2017-12-13 11:31] nzec commented on #153
Aren't all the websites using https already? I do not see a single script/resource on any of these websites using http.

[2017-12-13 15:57] mariobehling opened #216 "Add members and improve team page: Developers, GCI/GSoC mentors, students etc."
The team page at https://fossasia.org/team is missing team members and missing information including:
* mentors of GCI/GSoC
* GSoC students of 2016 and 2017 into section "Alumni"
* Codeheat finalists into section "Alumni"
* FOSSASIA Summit organizers

**Note**: Only keep people in one category, e.g. if they already show up on the advisory board there is no need to add them again to the event organ

[2017-12-14 00:52] mariobehling opened #217 "There are more tweets showing up on 2018.fossasia.org - change in same way here"
The 2018.fossasia.org site also shows retweets. Please change the tweet display here in the same way.

[2017-12-14 01:15] mariobehling opened #218 "Some pages are missing Github icon on top menu"
Add the github icon on all pages.

[2017-12-14 07:13] nzec commented on #212
Okay. So @mariobehling you need to generate your own key by signing in. And then you can put it in
[code]

[2017-12-14 07:35] ryushar commented on #216
Added about half of GSoC 2017 students, anyone who wishes to take up this issue can continue adding more students after Afroz Ahamad from this page: [https://summerofcode.withgoogle.com/archive/2017/organizations/5936828200779776/](https://summerofcode.withgoogle.com/archive/2017/organizations/5936828200779776/) :tada:

[2017-12-14 07:48] nzec commented on #218
On it!

[2017-12-14 08:32] #218 closed

[2017-12-14 08:37] mariobehling commented on #212
The key is already in the code, but there are some other issues:
`input type="hidden" id="pk_live_TYUOty0alel95s5ZGMydBd8Q" value="" name="pk_live_TYUOty0alel95s5ZGMydBd8Q" `

https://github.com/fossasia/fossasia.org/blob/gh-pages/donate.html#L198`

[2017-12-14 08:51] nzec commented on #216
@2coolife @mariobehling On it!

[2017-12-14 12:28] nzec commented on #212
@mariobehling Okay. I will see.

[2017-12-15 06:09] HassanUsman opened #224 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2017-12-15 10:46] mariobehling commented on #224
https://orgmanager.miguelpiedrafita.com/o/fossasia

[2017-12-15 10:46] #224 closed

[2017-12-16 20:22] vaibhavsingh97 commented on #212
@duttaditya18 What's the status? Any help needed

[2017-12-17 08:03] Ploypiti commented on #153
The https loaded just fine but I got this error (except 2018 site no error detected).

![error](https://user-images.githubusercontent.com/32614202/34077648-67a56c10-e33b-11e7-8cd4-07dd61783e62.jpg)

[2017-12-17 09:03] 0x48piraj commented on #153
I understood what you're saying @mariobehling :heart:
I am starting to resolve this issue.
**It's a huge issue, so it will take some time.** _(If any member wants to work, say before firing a PR :smile: )_
Also, you can remove https://2018.fossasia.org/  as it is working just fine! :+1:

[2017-12-17 09:07] 0x48piraj commented on #153
This preview will help knowing the actual issue. :smile:
![image](https://user-images.githubusercontent.com/5800726/34078010-ab7c9cf0-e337-11e7-9e35-4dd04d734c45.png)

[2017-12-17 23:37] #45 closed

[2017-12-18 22:15] 0x48piraj opened #231 "Fix twitter thumbnail in fossasia.org"
It makes the site less **credible** !

### Screenshot of the Issue :
![image](https://user-images.githubusercontent.com/5800726/34130677-c57e6696-e46e-11e7-95c1-3d03d76bf79e.png)

---

### Would you like to work on this issue ?

## **Yes**

[2017-12-19 04:17] 0x48piraj commented on #231
Ping @fossasia/website-admins @fossasia/web-developers

[2017-12-19 09:21] #231 closed

[2017-12-19 10:56] himanish-star commented on #217
@mariobehling , I would like to work on this issue. May I help?

[2017-12-24 04:36] Pl4gue opened #235 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2017-12-24 04:43] #235 closed

[2017-12-24 04:44] abishekvashok commented on #235
@Pl4gue pls use this link: https://orgmanager.miguelpiedrafita.com/o/fossasia and close this issue. Don't open issues for such matters, Please see our gitter channel, gitter.im/fossasia/fossasia

[2017-12-24 04:44] abishekvashok commented on #92
@m1geulpf https://orgmanager.miguelpiedrafita.com/o/fossasia is working now,a re we done with this issue?

[2017-12-24 08:38] #92 closed

[2017-12-24 11:57] m1guelpf commented on #92
@abishekvashok Yeah, it's done now.

[2017-12-28 04:21] STEdirisuriya opened #236 "Add a menu item, "contribute" and format code properly."
Add a menu item, "Contribute" with links of FOSSASIA's repositories on GitHub for easily make contributors for FOSSASIA.

[2017-12-28 04:41] supunTE commented on #236
- Indent codes and use spaces. Remove unwanted spaces.

[2017-12-28 04:42] supunTE commented on #236
I am working!

[2017-12-28 11:13] mariobehling commented on #236
We already have the info how to contribute in the projects section. Indent code is the only thing we need. Please don't open links in new windows and change the color. We need to align all FOSSASIA subsites now instead of changing styles. Therefore closing it.

[2017-12-28 11:13] #236 closed

[2017-12-28 11:14] #201 closed

[2017-12-30 11:38] abishekvashok commented on #216
@mariobehling pls open this as it is not completed yet

[2017-12-31 12:12] arjunpandey2003 opened #237 "Red Dropdown menus"
All dropdown menus in navbar should have a red background

[2017-12-31 12:25] #237 closed

[2018-01-02 07:57] manmeet0307 opened #240 "Dropdown Menu"
![image](https://user-images.githubusercontent.com/32425680/34477437-42b19244-efc0-11e7-92ec-43267067c89b.png)
Extra space in dropmenu should be removed.

[2018-01-02 08:06] manmeet0307 opened #241 "Hovering missing in side navigation"
In side navigation of fossasia.org hovering of context is missing
![image](https://user-images.githubusercontent.com/32425680/34477631-87e2731e-efc1-11e7-8b3f-b757bf2e24df.png)
After updating it should look like:
![image](https://user-images.githubusercontent.com/32425680/34477670-b84596f8-efc1-11e7-8987-4162b42a5338.png)

[2018-01-02 08:08] abishekvashok commented on #241
Please work only after if an admin agrees.
Ping @mariobehling

[2018-01-02 08:10] manmeet0307 commented on #241
What I  need to do to take the approval @abhishek1995s?
Please guide me I am new to this organisation.

[2018-01-02 08:29] manmeet0307 opened #242 "Google+ link is missing"
The link to google+ of fossasia is missing from both side navigation bar and footer of fossasia.org
![image](https://user-images.githubusercontent.com/32425680/34478084-e66dc9bc-efc4-11e7-8f1e-d9a64cf036e3.png)
After updating it should like:
![image](https://user-images.githubusercontent.com/32425680/34478096-0660c4fe-efc5-11e7-80d9-380676bcdd76.png)

[2018-01-02 10:37] mariobehling commented on #241
This feature is currently not needed. We need to align all FOSSASIA sites instead of adding more complexity.

[2018-01-02 10:37] #241 closed

[2018-01-02 10:55] manmeet0307 commented on #241
I would appreciate if @mariobehling  you may guide me with an issue to which I can contribute.
I am new to open source.This project is appealing me.

[2018-01-02 11:00] mariobehling commented on #241
Please contribute in our software projects. There are only small issues in the websites apart from the FOSSASIA Summit site of 2012 and 2014 for example.

[2018-01-02 18:07] Beta-King opened #243 "Missing project in drop-down (SUSI Skill CMS)"

[2018-01-02 19:10] anshumanv commented on #243
SUSI.AI is already listed which is a superset of all SUSI Projects.
Thanks though.

[2018-01-02 19:10] #243 closed

[2018-01-02 19:22] Beta-King opened #245 "Add Labyrinth to the projects dropdown !!"

[2018-01-03 03:27] shikhar-scs commented on #242
If no one is working on this issue can i please fix it ?

[2018-01-03 03:46] manmeet0307 commented on #242
I am working on it

[2018-01-03 03:55] shikhar-scs commented on #242
ok

[2018-01-06 07:40] mariobehling opened #254 "Revert the creation of the summit dropdown"
Revert the change in this PR: https://github.com/fossasia/fossasia.org/pull/247

[2018-01-06 07:42] mariobehling commented on #188
Seems solved.

[2018-01-06 07:42] #188 closed

[2018-01-06 07:43] mariobehling commented on #171
Seems solved.

[2018-01-06 07:43] #171 closed

[2018-01-06 07:44] #153 closed

[2018-01-06 07:45] mariobehling commented on #154
Working now.

[2018-01-06 07:45] #154 closed

[2018-01-06 07:45] mariobehling commented on #146
Working at the moment.

[2018-01-06 07:45] #146 closed

[2018-01-06 14:53] musakazem opened #256 "Adding animation to the "Friends and Partners" section"
I would like to work on this section

[2018-01-06 15:26] musakazem commented on #256
Done

[2018-01-08 10:47] mariobehling commented on #256
Animations are not needed here. Cheers.

[2018-01-08 10:47] #256 closed

[2018-01-08 10:49] #242 closed

[2018-01-09 13:59] sayak119 commented on #254
Claiming it

[2018-01-09 23:26] sayak119 opened #260 "Excessive padding hinders proper view of amount"
Due to excessive padding proper view of amount is hindered in Donate with Credit Card in https://fossasia.org/donate.html

![screenshot from 2018-01-10 04-52-30](https://user-images.githubusercontent.com/28414920/34748451-93420eac-f5c2-11e7-84b5-1398e7c4c4f5.png)

I would like to work on this.

[2018-01-09 23:40] sayak119 opened #262 "The donation amount should be in dollars instead of euro."
The recommended amount is in euro. In Asia many countries use dollars.

![screenshot from 2018-01-10 05-07-44](https://user-images.githubusercontent.com/28414920/34748797-4cea18da-f5c4-11e7-93de-0a563db73f61.png)

@mariobehling

[2018-01-10 16:23] kubami9 opened #263 "Add Diego Mora Cespedes as team member"
Diego Mora Cespedes is missing as team member. I'm going to add him 😄

[2018-01-10 22:26] #245 closed

[2018-01-10 22:27] ParthS007 commented on #240
Please update your status.

[2018-01-10 22:28] ParthS007 commented on #194
closing this as no problem in footer 👍

[2018-01-10 22:28] #194 closed

[2018-01-11 04:42] mariobehling commented on #263
Not a member.

[2018-01-11 04:42] #263 closed

[2018-01-11 05:33] #260 closed

[2018-01-11 08:21] mithlesh4257 commented on #262
I like to work on this.

[2018-01-11 17:47] kubami9 opened #270 "Add Sami Sanskar Jethi as team member"
Add Sanskar Jethi as FOSSASIA team member

[2018-01-11 17:48] #262 closed

[2018-01-11 18:10] anshumanv commented on #254
Closing as this has been reverted.

[2018-01-11 18:10] #254 closed

[2018-01-11 19:14] #270 closed

[2018-01-13 06:28] harsh-jindal commented on #240
@ParthS007 Can I work on this issue?

[2018-01-13 06:48] mithlesh4257 opened #273 "Image Slider Next/ Prev button, height changing."
![screenshot from 2018-01-13 16-44-10](https://user-images.githubusercontent.com/22450186/34903643-beedb7c2-f85b-11e7-9325-b11eb7550749.png)
![screenshot from 2018-01-13 16-44-16](https://user-images.githubusercontent.com/22450186/34903644-bf34628a-f85b-11e7-88fe-f5018f332f4b.png)

See above two image. How height is changing in both cases
or else visit https://fossasia.org/

[2018-01-13 10:18] ParthS007 commented on #240
Yes @harsh-jindal  Please go ahead 👍

[2018-01-14 14:52] harsh-jindal opened #277 "Add hover property for links in the side menu bar"
I'm working on this issue.

[2018-01-14 18:03] ghost commented on #277
i m new to git, so please can you explain what does "#277" mean?

[2018-01-14 18:08] harsh-jindal commented on #277
@samarth-khajuria I'm almost done with this issue.

[2018-01-14 18:47] rupav commented on #277
@samarth-khajuria that's just Issue number. Used so that not needed to post the whole url of the issue. It can be referenced by a number directly.

[2018-01-14 19:40] mariobehling commented on #277
Sidebar colors should not be changed.

[2018-01-14 19:40] #277 closed

[2018-01-15 03:35] harsh-jindal commented on #277
Okay

[2018-01-15 05:54] mukesh4601 commented on #273
yes sure

[2018-01-15 06:11] mukesh4601 commented on #273
![screenshot from 2018-01-15 11-38-14](https://user-images.githubusercontent.com/28723602/34929242-a82067c2-f9e8-11e7-86d2-b54e1ea57d49.png)

See Size of Icons Increases
1: Increasing  the Font size of glyphicon icons Will Increase its Height as well .

[2018-01-16 19:37] #240 closed

[2018-01-21 18:14] DNS-404 opened #279 "No template for issues and pull requests."
There should be a template for issues and pull requests. Should I make one for each?

[2018-01-21 19:12] mariobehling commented on #279
No need in this simple website repository.

[2018-01-21 19:12] #279 closed

[2018-01-29 19:21] harsh-jindal opened #280 "Change colour of carousel indicator"
The colour if carousel indicator is white which is not visible because of white background.
Change it's colour.
I'm working on this

[2018-01-29 19:22] harsh-jindal opened #281 "Add a issue template"
Add a issue template.
I'm working on this.

[2018-01-29 20:21] mariobehling commented on #280
Not sure, what you mean. Do you have a screenshot.

[2018-01-29 20:21] mariobehling commented on #281
No need.

[2018-01-29 20:21] #281 closed

[2018-01-29 20:22] mariobehling commented on #158
This seems to have been solved already. If anything is unclear, please reopen new issue.

[2018-01-29 20:22] #158 closed

[2018-01-30 04:18] harsh-jindal commented on #281
Okay.

[2018-01-30 04:20] harsh-jindal commented on #280
@mariobehling
Screenshot:-
![screen shot 2018-01-30 at 9 49 22 am](https://user-images.githubusercontent.com/31013104/35548026-cf3067e8-05a2-11e8-9bb8-ce1fdf07551b.png)
In this the middle indicators of the carousel are hidden due to same background colour.
Shall I work  on this?

[2018-01-30 09:23] mariobehling commented on #280
I dont think we need middle indicators here. Thank you.

[2018-01-30 09:23] #280 closed

[2018-02-18 17:34] debck opened #283 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2018-02-18 17:35] anshumanv commented on #283
Hi, please visit this link to get your invite - https://orgmanager.miguelpiedrafita.com/join/6295529

[2018-02-18 17:35] #283 closed

[2018-03-06 21:11] mariobehling opened #284 "Include honeypot "hp" to prevent signups of bots on newsletter"
We had some issues with bots signing up on the newsletter. A way to avoid this is to add honeypot, that sendy supports now.

[code]

Also check out more info here: The following is the subscribe form HTML code for this list. To subscribe users programmatically, use the API →https://sendy.co/api?app_path

[2018-03-07 05:48] HongKhanhTran opened #285 "Add the information of members to Team list on FOSSASIA page"
Please add the information of five members to Team list on FOSSASIA page:
1.	Name: 	   Thanh Tu Dao
        Position:     Project Consultant
        Twitter:       https://twitter.com/DaoTuElla
        LinkedIn:     https://www.linkedin.com/in/thi-thanh-tu-dao-b7351616/
        Please add this profile picture:
![ctu-final](https://user-images.githubusercontent.com/36536225/37083249-8e9dbc08-2221-1

[2018-03-07 05:53] mariobehling commented on #285
Please provide a better picture of Tu Dao.

[2018-03-07 10:20] HongKhanhTran commented on #285
@mariobehling I have replaced another one.

[2018-03-08 07:31] agarwalaman263 commented on #285
@HongKhanhTran
These names are to be added to which subheadings?

[2018-03-08 07:42] HongKhanhTran commented on #285
@cyclopaman please add to Team section. Thank you!

[2018-03-09 10:56] championpaddler commented on #212
@mariobehling  The Donate Stripe Page is working. Any  Enhancement to be made in it??

[2018-03-10 18:43] #212 closed

[2018-03-11 17:43] championpaddler commented on #284
@mariobehling What type of enhancement is required??

[2018-03-15 06:03] HongKhanhTran opened #291 "Add new jury upto the page"
Please add Dr. Koh Tat Suan to this page https://unesco.sciencehack.asia/  as a Jury
It should look like:
           Dr. Koh Tat Suah
           Director
           Lifelong Learning Institute

and please add his profile photo
![dr koh tat suan](https://user-images.githubusercontent.com/36536225/37446629-842729be-2850-11e8-8568-3d8b74a31814.jpg)
Thank you so much!

[2018-03-15 06:37] #291 closed

[2018-03-28 01:12] #216 closed

[2018-03-28 01:13] #273 closed

[2018-03-28 01:14] #285 closed

[2018-03-28 01:18] mariobehling opened #292 "Move pages to its own folder and change links to css"
Move the following pages:
* [ ] about.html -> /about/index.html
* [ ] apply.html -> /apply/index.html
* [ ] team.html -> /team/index.html
* [ ] thankyou.html -> /thankyou/index.html
* [ ] mailthanks.html -> /mailthanks/index.html

[2018-03-28 01:20] yashLadha commented on #292
Shall I take this up. @mariobehling

On Wed 28 Mar, 2018, 6:49 AM Mario Behling, <notifications@github.com>
wrote:

[2018-03-28 01:44] mariobehling commented on #292
Sure, thanks.

[2018-03-30 17:23] mariobehling commented on #292
Also change donate.html. I did not list it, as I missed it, but I hope we can collaborate in a way that if someone misses something the other person will also review items.

[2018-03-30 17:24] yashLadha commented on #292
Sure I will add it.

On Fri 30 Mar, 2018, 10:53 PM Mario Behling, <notifications@github.com>
wrote:

[2018-03-30 17:25] mariobehling commented on #292
Same appliest to
* sitemap.html -> sitemap/index.html
* licenses.htmls -> licenses/index.html

[2018-03-30 17:26] yashLadha commented on #292
:+1:

On Fri 30 Mar, 2018, 10:55 PM Mario Behling, <notifications@github.com>
wrote:

[2018-03-30 17:27] mariobehling opened #294 "[Meta-Issue] Change all links in FOSSASIA subdomains to match the correct page"
Change all links across FOSSASIA subdomains and ensure the following links are working
* [ ] sitemap.html -> sitemap/index.html
* [ ] licenses.html -> licenses/index.html
* [ ] about.html -> /about/index.html
* [ ] apply.html -> /apply/index.html
* [ ] team.html -> /team/index.html
* [ ] thankyou.html -> /thankyou/index.html
* [ ] mailthanks.html -> /mailthanks/index.html
* [ ] donate.html -> /don

[2018-03-30 17:29] yashLadha commented on #294
Claiming the issue @mariobehling

On Fri 30 Mar, 2018, 10:57 PM Mario Behling, <notifications@github.com>
wrote:

[2018-03-30 17:34] mariobehling opened #295 "[Meta-Issue] Take out "subscribe" or "Newsletter" from all FOSSASIA Websites and substitute it with the link to main page subscription"
The subscribe code is on different FOSSASIA Subdomains. This makes the control of the subscription a challenge when the code changes. Substitute all newsletter subscription boxes and take them out of FOSSASIA website. Set any links e.g. in the menu to https://fossasia.org/#subscribe

[2018-03-31 07:22] mariobehling opened #296 "[Meta-Issue] Fix issues on 2012.fossasia.org"
The website at https://2012.fossasia.org has a few minor issues. Please help to fix it: https://github.com/fossasia/2012.fossasia.org

[2018-03-31 08:15] #292 closed

[2018-03-31 08:16] mariobehling commented on #294
This issue needs to be solved in multiple repositories.

[2018-04-17 09:01] SAITARUN55 opened #298 "Subscribe link not working in the blog"
![issue298-1](https://user-images.githubusercontent.com/26169081/38860105-0b446df6-424d-11e8-829b-aa39e327773f.PNG)
![Uploading issue298-1.PNG…]()

https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/
while submitting it is showing 404 Not Found Oh dear, this Page is not Available
Please respond to this issue...

[2018-04-23 21:59] noahcse opened #299 "got "404 Not Found" after subscribing mailing list"
I tried to subscribe FOSSASIA newsletter via " https://fossasia.org/#subscribe " / [Subscribe to stay informed](https://fossasia.org/#subscribe) , and I got " https://fossasia.org/mailthanks.html " / [404 Not Found](https://fossasia.org/mailthanks.html)
 after sending my email.

[2018-04-24 07:04] mariobehling commented on #299
Changed to http://fossasia.org/mailthanks/

Thanks!

[2018-04-24 07:04] #299 closed

[2018-04-24 08:53] mariobehling opened #300 "Update https://2010.fossasia.org Drupal"

[2018-04-24 08:53] mariobehling opened #301 "Update https://2011.fossasia.org Drupal"

[2018-04-24 08:54] mariobehling opened #302 "Update https://2014.fossasia.org Drupal"

[2018-04-24 08:59] mariobehling commented on #298
Fixed it. Thanks.

[2018-04-24 08:59] #298 closed

[2018-04-24 09:03] mariobehling opened #303 "Update foss.vn wiki"
The FOSS.vn site is a mediawiki. It is currently not loading. Please fix and update the site.

[2018-04-24 09:54] satya-vinay commented on #303
FOSS.vn site is loading without any problem.

[2018-04-24 10:44] nzec commented on #303
Yup! The FOSS.vn website is loading fine here as well.

**See this :**

![FOSS.vn](https://i.imgur.com/DwcHVUp.png)

[2018-04-24 11:36] mariobehling commented on #303
Thanks. This issue is a reminder for myself to update. Cheers.

[2018-04-28 09:42] mariobehling opened #304 "Update Libregraphics.asia"
The drupal system of Libregraphics.asia on the FOSSASIA server is outdated and needs to be updated.

[2018-04-28 10:25] mariobehling opened #305 "Convert perspektive89 to Wordpress"
The site on the FOSSASIA server perspektive89.com needs to be converted to Wordpress.

[2018-04-30 05:38] Kreijstal commented on #305
The conversion of the images has to be done manually.

[2018-04-30 10:08] mariobehling commented on #305
@Kreijstal Ok, how manually? With a script that you start yourself? What is the plan?

[2018-04-30 10:13] mariobehling commented on #305
@Kreijstal Looks like users don't appear on the site and were not added: http://perspektive89.com

And some pages were not transferred at all: http://perspektive89.com/2015/12/04/wir-haben-land-schwarze-saat/

[2018-05-05 05:21] Kreijstal commented on #305
This might have to do with the script I was using it.
See https://github.com/jpSimkins/Drupal2WordPress-Plugin/issues/29

About the empty pages, and the users not being imported I'm investigating it.

[2018-05-05 06:33] abishekvashok commented on #305
About the empty pages, please convert every special alphabets to ordinary english letters.

[2018-05-05 07:19] Kreijstal commented on #305
The idea is that, every image has translation of the tags on very different languages, so you can look up for the images on many languages. You cannot convert these to ASCII. Because it's an international website

[2018-05-05 08:21] abishekvashok commented on #305
Not the page title but the page url

[2018-05-07 07:11] maxlorenz commented on #303
I upgraded the MediaWiki from 1.23 to 1.30 using the [migration guide](https://www.mediawiki.org/wiki/Manual:Upgrading). Still testing all the plugins but the rest was easy to port

[2018-05-07 07:13] maxlorenz commented on #304
Well the original site threw an error (`Fatal error: Call to undefined function: phptemplate_get_ie_styles()`), which could be fixed using [this forum post](https://www.drupal.org/forum/support/upgrading-drupal/2008-04-08/fatal-error-call-to-undefined-function-phptemplate_get_ie). Now, [libregraphics.asia](http://libregraphics.asia/) shows a generic error message. I am not sure how to proceed here

[2018-05-07 07:19] maxlorenz commented on #303
this [url](http://foss.vn/index.php?title=%C4%90%E1%BA%B7c_bi%E1%BB%87t:Trang_%C4%91%E1%BA%B7c_bi%E1%BB%87t) is dead

[2018-05-07 07:48] Kreijstal commented on #304
You can try using the debugger to figure out where does the error come from, or ignore it and try exporting it directly from the database.

[2018-05-07 19:31] maxlorenz commented on #304
Okay. Going to migrate using a db backup locally and see how that goes

[2018-06-27 15:40] agrawalmanuj opened #307 "we can improve image gallary (I have an idea , i can do this)"

[2018-06-27 19:01] #307 closed

[2018-06-29 09:41] mielamvn opened #308 "Blur images on some parts of website"
To update the blur images to a clear one from Flickr

[2018-06-29 10:20] mariobehling commented on #308
@mielamvn Please point out which images exactly (link and section) and propose an alternative on.

[2018-06-29 10:22] itsmylam commented on #308
**Homepage**
1. Banner 1st image: https://flic.kr/p/25p3wZP
2. Banner 2nd image: https://flic.kr/p/24eZdhF
3. Section that has "The FOSSASIA Summit is an annual conference...": https://flic.kr/p/249d1gM
4. Section "Subscribe to stay informed": https://flic.kr/p/FPsDKk

[2018-07-04 10:09] aditya81070 commented on #308
can I take this?

[2018-07-04 16:22] meets2tarun commented on #308
@aditya81070 go for it!

[2018-07-22 07:48] pg07codes opened #309 "content pushed aside on opening sidebar"
![bug](https://user-images.githubusercontent.com/34238240/43043432-6e5a897a-8db1-11e8-807a-d99fd384963f.png)

instead of the whole page being pushed aside on opening side-bar , i think it will be more appropriate to decrease the size of remaining page.

[2018-07-28 05:35] cweitat commented on #308
@aditya81070 can I know how's the progress for this going?

[2018-07-28 08:22] aditya81070 commented on #308
@cweitat sorry, I do not noticed this reply. Will work by tomorrow.

[2018-07-31 09:23] cweitat commented on #308
@aditya81070 hi! how is it going? do you need help?

[2018-09-08 19:02] soulspark666 opened #310 "Location Marker Text not aligned properly."
![fossasia page error](https://user-images.githubusercontent.com/37495396/45257641-44dd0780-b3c7-11e8-818a-721550e70b34.png)
Location marker text is not properly aligned on https://fossasia.org/donate/

![corrected fossasia](https://user-images.githubusercontent.com/37495396/45257683-d187c580-b3c7-11e8-8a8d-7da414f4b6a4.png)
It can look like this.

[2018-09-08 19:19] soulspark666 opened #311 "Page Not Found and hyperlink does'nt matches"
The following hyperlink redirects to
![hyperlink error](https://user-images.githubusercontent.com/37495396/45257807-c03fb880-b3c9-11e8-894e-a163fff87e3c.png)
**This page!!**
![page not found](https://user-images.githubusercontent.com/37495396/45257772-53c4b980-b3c9-11e8-8bc7-969394fc9f68.PNG)

The _hyperlink_ of the following should be **Support** or the title should be changed to **Donate**
![tit

[2018-09-12 06:31] samagragupta commented on #310
@soulspark666 @mariobehling   Can I work on it ?

[2018-09-12 10:31] neeraj3029 opened #312 "Padding required between text fields and button in subscription form."
**Actual Behaviour**
Padding is not present between text fields and button in subscription form.

![screen shot 2018-09-12 at 3 55 47 pm](https://user-images.githubusercontent.com/31539812/45419251-60386300-b6a4-11e8-857e-656bbd2095b1.png)

**Expected behaviour:**
Padding is required between text fields and button in subscription form.

**Would you like to work on the issue?**
No

[2018-09-16 02:52] rohitjain00 commented on #312
Can I solve the issue?

[2018-09-16 06:04] neeraj3029 commented on #312
@rohitjain00 I will be working on this issue.

[2018-09-18 05:51] aditya81070 commented on #308
I am doing this now

[2018-09-18 06:54] #310 closed

[2018-09-18 07:17] neeraj3029 commented on #312
@rohitjain00 I won't be working on this issue now. You can get it assigned.

[2018-09-19 02:28] aditya81070 opened #325 "No uniformity on buttons"
Problem:- The buttons on [Background and Mission page](https://fossasia.org/about/#background) are not similar.
![screenshot from 2018-09-19 07-53-06](https://user-images.githubusercontent.com/30300772/45727451-6cab4700-bbe1-11e8-9b6c-f29358415e77.png)
![screenshot from 2018-09-19 08-02-04](https://user-images.githubusercontent.com/30300772/45727701-74b7b680-bbe2-11e8-9965-77e4e677bb87.png)

### H

[2018-09-19 02:28] aditya81070 commented on #325
@abishekvashok I am working on this.

[2018-09-19 14:48] abishekvashok commented on #325
Alright

[2018-09-22 12:34] mariobehling commented on #309
This is not a bug.

[2018-09-22 12:34] #309 closed

[2018-09-22 12:35] #303 closed

[2018-09-22 12:35] #304 closed

[2018-09-22 12:37] mariobehling opened #329 "Add Re-captcha and form validation to subscribe form"
The subscription form needs the following:
* users should enter both name and email - show an error, if only one is entered
* add re-captcha that opens on pressing "signup" and only submit the email once the captcha is solved

[2018-09-22 21:04] naman653 commented on #295
I want to work on the issue. Please assign it to me.
Can you please give me an example of what kind of Subdomains you are talking about.

[2018-09-22 21:23] mariobehling commented on #295
We have found another solution where we use a honeypot. Also we need a Recaptcha for the newsletter forms instead. Therefore closing it.

[2018-09-23 06:58] Ridvmodi commented on #312
Can I work on this issue?

[2018-09-23 09:08] #305 closed

[2018-09-23 17:42] rohitjain00 commented on #312
@Ridvmodi yes just submit a PR

[2018-09-23 17:53] Ridvmodi commented on #312
The subscribe form was removed now @rohitjain00

[2018-09-26 21:39] amrs-tech commented on #329
I'll try to work on it, sir.

[2018-09-26 22:14] amrs-tech commented on #329
I've fixed form validation for subscribing. Please review it. #332

[2018-09-29 20:42] #311 closed

[2018-10-01 17:36] siddhantshukla-10 commented on #325
Sir, I want to work on this.

[2018-10-01 18:05] siddhantshukla-10 commented on #312
Is this issue still open?
If yes, I want to work on it.

[2018-10-08 13:49] prekshajagetiya123 commented on #308
Can I work on this issue?

[2018-10-13 10:27] sahilBhola98 commented on #312
can i work on this?

[2018-10-13 14:59] Ridvmodi commented on #312
The issue is removed. please close this issue @neeraj3029 .

[2018-10-17 13:01] prateek951 opened #338 "Please add me as a team member. Looking to make some contributions."

[2018-10-19 05:36] abishekvashok commented on #338
Please make worthy contributions, participate in coding competitions and you would automatically be added. Thanks.

[2018-10-19 05:36] #338 closed

[2018-10-20 08:44] kushmisra opened #340 "Location to be shown in map on click"
### Problem Description

![fossasiass1](https://user-images.githubusercontent.com/25305139/47253524-a3d77700-d471-11e8-8a31-17256407fff2.png)

Similar to the email, where when we click, the default email provider openups with the fossasia email prefilled as reciever's email,  we can have the location marker ,( when clicked) to take the user to google maps poitning to the exact location on map.

##

[2018-10-21 12:35] Ridvmodi opened #341 "Extra free space in the team page"
![screenshot 274](https://user-images.githubusercontent.com/38110540/47267043-e37a8d80-d55b-11e8-854f-43b94b94eee3.png)

[2018-10-21 12:37] Ridvmodi commented on #341
Fixed Check PR #342 @hongquan
now it is looking like this
![screenshot 275](https://user-images.githubusercontent.com/38110540/47267064-22104800-d55c-11e8-8e88-97bac2fc2354.png)

[2018-10-25 08:53] #312 closed

[2018-10-25 11:26] niteshkumarniranjan opened #344 "(UI Improvement) Header Logo and Menu Alignments"
**Screentshot**
![screenshot from 2018-10-25 16-54-34](https://user-images.githubusercontent.com/20199181/47497215-dec51a80-d876-11e8-876e-d8ef6c142f59.png)

**Would you like to work on this**
Yes

[2018-10-25 11:28] niteshkumarniranjan opened #345 "Missing Code-In 2018 Link in Menu (Projects)"
![screenshot from 2018-10-25 17-00-02](https://user-images.githubusercontent.com/20199181/47497385-85a9b680-d877-11e8-8fec-2e6c4c07e7f3.png)

**Would you like to work on this**
Yes

[2018-10-28 09:11] #345 closed

[2018-10-30 12:30] saarthakchats opened #352 "Abhishek V Ashok not present on Team Page"
Need to add @abishekvashok to team page.

[2018-10-30 12:30] saarthakchats commented on #352
I'm working on it

[2018-11-02 03:59] #340 closed

[2018-11-02 06:01] robin07 opened #354 "after exhibition with community showcases not in red color"
![issue 2](https://user-images.githubusercontent.com/42633438/47896240-8901fb00-de92-11e8-8d43-065c21d18a09.PNG)

[2018-11-02 06:10] #354 closed

[2018-11-04 20:36] Ankurk99 commented on #329
For adding Re-captcha I will need to register the website to the Google captcha website, so should I register ?

[2018-11-05 09:56] amrs-tech commented on #329
@Ankur99 you can try creating reCAPTCHA on your own instead of going for Google

[2018-11-05 18:17] Ankurk99 commented on #329
@amrs-tech sorry but I am unable to create reCAPTCHA using PHP or other method so if you want you can take the issue, issue is open.

[2018-11-06 01:41] amrs-tech commented on #329
@Ankur99 You can try it. Actually I'm out of resources (laptop) so i want sometime to get back to solve this. :)

[2018-11-06 02:43] Ankurk99 commented on #329
OK @amrs-tech I will give it a try.

[2018-11-11 02:39] Ankurk99 commented on #329
For adding Re-captcha I will need to register the site to the Google Re-Captcha website, so should I register ?

[2018-11-11 11:22] abishekvashok commented on #329
Yes please

[2018-11-13 19:34] mdisrail2468 opened #356 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2018-11-13 21:17] anshumanv commented on #356
Hey, please go to - https://orgmanager.miguelpiedrafita.com/join/6295529

[2018-11-14 06:48] #356 closed

[2018-11-16 10:43] #352 closed

[2018-11-18 16:17] akshit15013 opened #357 "Add Rohit Potter to the team section"
Create a PR to add Rohit Potter to the team section

[2018-11-18 17:11] #308 closed

[2018-11-18 19:45] #357 closed

[2018-11-19 04:50] akshit15013 opened #360 "Add a developer to the Team section"
Create a PR to add a developer to the Team section

[2018-11-19 10:02] BolajiAyodeji opened #361 "Favicon on `team page` does not display"
The team page displays no Favicon

[2018-11-19 10:34] mariobehling opened #363 "Review FOSSASIA Team Members and Move Members who haven't contributed for 6 months to Alumni Section"
Many people are contributing to FOSSASIA projects. Who is currently active? Please review FOSSASIA Team Members and Move Members who haven't contributed for 6 months to Alumni Section.

[2018-11-19 11:30] BolajiAyodeji commented on #361
This has been fixed in #364

[2018-11-19 11:30] sarnava1 commented on #363
@mariobehling is this a GCI task?

[2018-11-19 12:07] BolajiAyodeji opened #365 "Can we move all Images to the cloud?"
To make the site load faster and ensure optimization and speed, can we move all Images especially on `team` to the cloud?
This will increase load time.
We could use `cloudinary`
I could have this done in few minutes?

[2018-11-19 12:30] BolajiAyodeji commented on #363
Nice issue @mariobehling

[2018-11-20 01:16] mariobehling commented on #365
No need.

[2018-11-20 01:16] #365 closed

[2018-11-20 01:17] mariobehling commented on #363
Yes, you can take this up in GCI. Just look for a suitable task that relates to this.

[2018-11-20 01:18] mariobehling opened #368 "Only show team members itself on team photo (no other people)"
Please check team photos and only show team members itself on a photo. If you cannot find a photo with only the team member, delete the photo from the page for now. We will try to come back to it later.

![screenshot from 2018-11-20 02-16-19](https://user-images.githubusercontent.com/1583873/48745155-9ed13780-ec6a-11e8-821a-2c3983f2281b.png)

[2018-11-20 01:21] BolajiAyodeji commented on #365
Alright

[2018-11-20 02:12] BolajiAyodeji commented on #300
No description?

[2018-11-20 02:12] #361 closed

[2018-11-20 02:31] BolajiAyodeji commented on #294
Working on this @mariobehling
which of the directories are fixed already?

[2018-11-20 05:52] sarnava1 commented on #363
@sahilsaha7773 you can look at this task. It is a nice issue.

[2018-11-20 05:53] sarnava1 commented on #368
@sahilsaha7773 @saarthakchats you can take this up.

[2018-11-20 06:00] sarnava1 commented on #363
I am actually a CODEHEAT participant and not a GCI participant!

[2018-11-20 06:17] mariobehling commented on #363
Anyone can contribute.

[2018-11-20 08:15] sahilsaha7773 commented on #368
I want to work on this issue

[2018-11-22 16:15] #368 closed

[2018-11-22 16:17] #344 closed

[2018-11-23 13:07] mariobehling opened #372 "Activated link blue - expected: It should by light gray"
Activated link blue - expected: It should by light gray

![screenshot from 2018-11-23 14-06-40](https://user-images.githubusercontent.com/1583873/48944993-192edf80-ef29-11e8-9cc3-8b72ffdce58a.png)

[2018-11-23 13:18] mariobehling opened #373 "Add related JS on site "adstatus.js""
The FOSSASIA page processes Googleads js and adstatus.js of doubleclick. Please find out which JS calls these JS and take it out.

![screenshot from 2018-11-23 14-17-03](https://user-images.githubusercontent.com/1583873/48945428-97d84c80-ef2a-11e8-9c3d-560df0a45512.png)

[2018-11-23 18:25] mariobehling opened #374 "Add screenshots of Android apps into Android section instead of logos"
The Android App section has logos to link to the app store at the moment. Please add large screenshots here instead.

![screenshot from 2018-11-23 19-17-15](https://user-images.githubusercontent.com/1583873/48956832-7c366b80-ef55-11e8-8ac1-a638f7d73f3e.png)

[2018-11-23 18:34] mariobehling opened #375 "Change project section from 3 column to 4 column and ensure mobile view works"
The project section has currently 3 columns. Please change it into 4 columns.

![screenshot from 2018-11-23 19-33-06](https://user-images.githubusercontent.com/1583873/48957074-c409c280-ef56-11e8-80f6-d40fd83f035f.png)

[2018-11-23 21:10] siddharthgusain commented on #375
Please assign this issue to me.

[2018-11-24 05:42] #375 closed

[2018-11-24 07:56] siddharthgusain opened #378 "Get your ticket button enhancement . Would you like to work on it? yes"

[2018-11-24 07:56] #378 closed

[2018-11-24 07:59] siddharthgusain opened #379 "Get your ticket button enhancement ."
![button](https://user-images.githubusercontent.com/32402201/48965910-ddf5e480-efec-11e8-830c-f3b6fd271de4.png)
This button text must be white it gives a better look to user

Would you like to work on it ?

Yes.

[2018-11-24 08:41] #379 closed

[2018-11-24 09:23] siddharthgusain opened #381 "Photo error in about page ."
![imagenotfound](https://user-images.githubusercontent.com/32402201/48966492-91180b00-eff8-11e8-9fe8-601c01aa0148.png)
would you like to work on it ?

Yes.

[2018-11-24 09:52] siddharthgusain commented on #381
@mariobehling  please review.

[2018-11-24 10:09] #381 closed

[2018-11-24 10:50] siddharthgusain opened #383 "Enhancement of membership section(dot div is not visible)"
![dot-div](https://user-images.githubusercontent.com/32402201/48967341-c4609700-f004-11e8-9f21-d16170a35493.png)
Would I like to work on it ?

Yes.

[2018-11-24 11:23] siddharthgusain commented on #374
Please assign this issue to me.

[2018-11-24 11:36] mariobehling commented on #374
Please go ahead. Thanks.

[2018-11-24 11:40] siddharthgusain commented on #374
Thanks. Working on it. :+1:

[2018-11-24 11:43] siddharthgusain opened #384 "Image not loading on clicking."
Image not loading probably because it is being deleted from the img folder.
![deletediamge](https://user-images.githubusercontent.com/32402201/48967821-4dc79780-f00c-11e8-8040-05e8d2369540.png)

[2018-11-24 12:50] #384 closed

[2018-11-24 12:52] KSNINJA opened #386 "The Navigation Bar isn't responsive ."
While resizing the window , some of the links of the nav-bar comes to the next line  , which looks awful , while the other merges the FOSSASIA logo .
### Screenshots
![image](https://user-images.githubusercontent.com/26023139/48968424-a2bbdb80-f015-11e8-9821-158b8945f77e.png)
![image](https://user-images.githubusercontent.com/26023139/48968426-a6e7f900-f015-11e8-9590-a4dac23b41ae.png)

### Would y

[2018-11-24 12:53] kksinghal commented on #386
@mariobehling Please confirm the relevance of this issue .

[2018-11-24 12:57] mariobehling opened #387 "Add Weibuo to Social Footer Menu"
Weibuo link is: https://www.weibo.com/u/5784920339

[2018-11-24 14:39] KSNINJA opened #390 "The sponsorship and membership heading text isn't responsive ."
#### The SPONSORSHIP and MEMBERSHIP text overflows . It should decrease in size with decrease in screen width .
![image](https://user-images.githubusercontent.com/26023139/48969450-aa36b100-f024-11e8-9494-d1070c819660.png)

####  I am working on this issue

[2018-11-24 14:43] kksinghal commented on #390
@mariobehling Can I modify the theme-lava.css file ? Or should I override it in custom.css file ?

[2018-11-24 18:17] mariobehling opened #391 "Add VK logo and link to social menu footer section of pages"
The FOSSASIA presence on VK is: https://vk.com/fossasia

[2018-11-24 19:56] Ryan10145 opened #393 "Footer Map Location Text is Inconsistent"
The footer text that says "Ms. DANG Hong Phuc FOSSASIA 6 Eu Tong Sen Street, #5-07 The Central, Singapore 059817" is inconsistent across the pages.

![image](https://user-images.githubusercontent.com/8119928/48972435-57470480-eff8-11e8-80ac-73214d4dfa40.png)
![image](https://user-images.githubusercontent.com/8119928/48972437-5dd57c00-eff8-11e8-86cf-dc4283b95e64.png)
![image](https://user-images.gi

[2018-11-24 22:07] mariobehling opened #394 "Change Linkedin link on footer menu"
The new Linkedin link is: https://www.linkedin.com/groups/3762811/

[2018-11-25 02:44] midhmanohar commented on #386
would like to work on this issue

[2018-11-25 02:47] midhmanohar commented on #386
would like to work on this issue

[2018-11-25 15:24] siddharthgusain opened #395 "Unallignment of subscribe div on small devices."
![unallign](https://user-images.githubusercontent.com/32402201/48980850-454a8c00-f0f4-11e8-9360-8b71866e387e.png)

[2018-11-26 10:29] #383 closed

[2018-11-26 11:22] siddharthgusain commented on #374
@mariobehling  please review . Thanks

[2018-11-27 07:01] #374 closed

[2018-11-27 07:07] mariobehling opened #398 "Add name of app below each screenshot of the Android apps"
What style can we implement to show the name below the Android apps that looks good?

[2018-11-27 10:25] mariobehling opened #399 "Autohide top menu bar similar to susi.ai"
The top menu bar on susi.ai has a nice autohide functionality. Please implement the same here.

![screenshot from 2018-11-27 11-00-53](https://user-images.githubusercontent.com/1583873/49075447-1be64900-f237-11e8-9955-b3a3bfa9120c.png)

[2018-11-27 11:25] siddharthgusain commented on #398
Can we add logos below screenshots ?and add the links to these logos instead of screenshots?
 or A div with simply the name of app with red background ?

[2018-11-27 17:06] kksinghal commented on #329
I am working on this . Pls no one else start to work on this . If anyone is already working . pls confirm .

[2018-11-28 09:45] bansalraghav commented on #395
@siddharthgusain Can I work on this issue?

[2018-11-28 17:33] #390 closed

[2018-11-28 17:50] siddharthgusain commented on #393
i'm working on this

[2018-11-28 19:14] samagragupta opened #402 "Add issue template"
Add issue template.

[2018-11-28 19:35] siddharthgusain opened #403 "Inconsistency in Partner div"
Index page :-1:
![index](https://user-images.githubusercontent.com/32402201/49177249-bdbe8080-f372-11e8-8715-b7d8b2635059.png)
about page:-
![about](https://user-images.githubusercontent.com/32402201/49177258-c616bb80-f372-11e8-8e6f-2513bf242fcc.png)

[2018-11-29 04:25] kksinghal commented on #329
@mariobehling I want to confirm if I can use Google recaptcha as this is a open-source org .

[2018-11-29 04:41] kksinghal commented on #398
I think that the name and the sub-type should be added on the right side of each app image . Because this is my screen .
![image](https://user-images.githubusercontent.com/26023139/49199450-e3bd4280-f3bd-11e8-8d60-b1f27165ff58.png)
If I add the name at the bottom , it will almost be overflowing our viewport height .
For Example -
## SUSI.Ai
 Personal Assistant

@mariobehling

[2018-11-29 05:41] AdityaSrivast commented on #386
@KSNINJA Can I work on this issue?

[2018-11-29 05:42] kksinghal commented on #386
Yes , It is open to all .

[2018-11-29 07:33] kksinghal commented on #399
I am almost done with it . Pls no one else start working on this.

[2018-11-29 17:22] siddharthgusain commented on #403
@mariobehling  please review.Thanks.

[2018-11-29 19:04] KSNINJA opened #407 "Convert webp images back to jpg"
The images in the section 'Android apps of Fossasia'
, the images have extension webp , which is not supported by safari .
Need to fix this .
![image](https://user-images.githubusercontent.com/26023139/49245186-9f6e8880-f437-11e8-93dc-28d8012bf5a2.png)

[2018-11-30 03:14] #407 closed

[2018-11-30 03:14] #403 closed

[2018-11-30 03:16] #399 closed

[2018-12-01 09:31] STEdirisuriya opened #409 "Add scrollbars for dropdowns"
It's overflowing and not shows some links in the dropdown lists.
![image](https://user-images.githubusercontent.com/33794760/49326521-5b839c80-f579-11e8-948d-b5cf32890716.png)

![image](https://user-images.githubusercontent.com/33794760/49326533-8cfc6800-f579-11e8-9430-639bca12f42c.png)

### Add scrollbars like in https://github.com/fossasia/2019.fossasia.org/pull/35

# Am I working?
Yes of course

[2018-12-01 15:57] Ridvmodi opened #412 "Team members are repeated"
![screenshot 286](https://user-images.githubusercontent.com/38110540/49330097-e1223f00-f5af-11e8-949a-4990ff4ec262.png)
![screenshot 287](https://user-images.githubusercontent.com/38110540/49330098-e7182000-f5af-11e8-9298-ba23297f485a.png)
They are repeated two times

[2018-12-03 01:32] abishekvashok commented on #409
I guess instead of adding a scrollbar we could remove old events and competitions.

What do you say @mariobehling

[2018-12-03 05:31] sarnava1 commented on #409
Yes @abishekvashok that is a nice idea.

[2018-12-03 07:03] KSNINJA opened #414 "Navbar needs to be improved"
There seems some scope of improvement in the navigation bar .
The navbar was appearing too fast and it appears/disappears on very minute scroll .

[2018-12-03 17:30] #414 closed

[2018-12-03 17:31] #409 closed

[2018-12-06 18:22] Dharmesh-Poddar commented on #412
can I work on it..

[2018-12-06 18:24] Ridvmodi commented on #412
fixed already closing it @Dharmesh-Poddar

[2018-12-06 18:27] Dharmesh-Poddar commented on #402
can you please tell more on the issue..

[2018-12-06 18:29] Dharmesh-Poddar commented on #395
I would like to work on it ..

[2018-12-06 19:48] siddharthgusain commented on #395
@Dharmesh-Poddar please go ahead . :+1:

[2018-12-07 06:56] Dharmesh-Poddar commented on #395
Thanks @siddharthgusain  Looking forward to it..

[2018-12-07 08:41] Dharmesh-Poddar commented on #395
please check the pull request #418

[2018-12-07 08:53] supunTE commented on #373
I would like to work on it.

[2018-12-07 10:26] siddharthgusain commented on #395
@Dharmesh-Poddar provide preview link and screenshots of the enhancement that would better.

[2018-12-07 12:51] Dharmesh-Poddar commented on #395
![screenshot from 2018-12-07 18-11-23](https://user-images.githubusercontent.com/32756751/49648486-03064080-fa4c-11e8-8c3a-a31eb986367e.png)
![screenshot from 2018-12-07 18-11-31](https://user-images.githubusercontent.com/32756751/49648488-039ed700-fa4c-11e8-90d5-67b15d63c627.png)

[2018-12-07 16:32] Ridvmodi opened #420 "Extra Partners found"
There are extra partners on other pages as compared to home page

**Partners visible on home page**
![screenshot 293](https://user-images.githubusercontent.com/38110540/49659884-31474880-fa6b-11e8-8833-79b605ac0d20.png)

**Partners visible on About > Background and mission page**

![screenshot 292](https://user-images.githubusercontent.com/38110540/49659979-78cdd480-fa6b-11e8-8df1-d6348659b213.png

[2018-12-07 16:33] #420 closed

[2018-12-07 16:35] Ridvmodi commented on #420
Sir can you tell what's the problem with this issue

From:
Ridhav Modi

On Fri, 7 Dec 2018 10:03 pm Mario Behling <notifications@github.com wrote:

[2018-12-07 16:37] Ridvmodi commented on #420
Why you closed it

From:
Ridhav Modi

On Fri, 7 Dec 2018 10:04 pm Ridhav Modi <ridhavgarg01@gmail.com wrote:

[2018-12-07 16:38] Dharmesh-Poddar commented on #395
@siddharthgusain  please check my new pr #419 related to this issue

[2018-12-08 20:19] #395 closed

[2018-12-09 06:47] mariobehling commented on #402
Not needed for this simple web project. Please focus on code.

[2018-12-09 06:47] #402 closed

[2018-12-09 06:48] #341 closed

[2018-12-09 06:51] mariobehling opened #422 "Add submenu for GCI and move annual pages to submenu"
Please implement the submenu in the project tab. Ensure it also works on mobile views.

![screenshot from 2018-12-09 07-49-44](https://user-images.githubusercontent.com/1583873/49694254-38fc0f80-fb87-11e8-9f61-28e75a4d9734.png)

Example for submenu:

![screenshot from 2018-12-09 07-46-29](https://user-images.githubusercontent.com/1583873/49694255-41544a80-fb87-11e8-80f9-51c479acb554.png)

[2018-12-12 19:12] plxity opened #426 "Spacing required between Button and image"
## Description
No spacing between button and image in mobile view

## Actual behaviour
![2018-12-13 2](https://user-images.githubusercontent.com/28510494/49892759-bd90ab80-fe6f-11e8-8418-cf56a47ae00d.png)

## Expected behaviour
![2018-12-13 1](https://user-images.githubusercontent.com/28510494/49892772-c8e3d700-fe6f-11e8-8d88-4e8b6092f98a.png)

## Would you like to work on this?
Yes, I would like

[2018-12-13 01:13] #426 closed

[2018-12-13 17:07] kksinghal commented on #422
Working

[2018-12-15 10:03] KSNINJA opened #429 "Split color of color-blocks for screensize 770-990px"
Same color is applied here for screensize 770px to 990px .

<img width="771" alt="screenshot 2018-12-15 at 3 32 32 pm" src="https://user-images.githubusercontent.com/26023139/50041691-b8ee1200-007e-11e9-8c2f-6bb8fc78d2c6.png">

#### The colours should be different .

### Would you like to work on this issue ?
Yes

[2018-12-15 12:44] KSNINJA opened #431 "Improve loading time by deferring offscreen images"
### There is scope of improving loading time of the website by adding lazy loading to the offscreen images
<img width="743" alt="screenshot 2018-12-15 at 6 10 56 pm" src="https://user-images.githubusercontent.com/26023139/50043137-efcf2280-0094-11e9-8697-81a5dc4c1478.png">

### Would you like to work on this issue ?
Yes

[2018-12-16 08:08] saarthakchats opened #432 "No details or hover on Android Apps"
These apps should have the name coming on hover
<img width="1329" alt="screenshot 2018-12-16 at 1 37 36 pm" src="https://user-images.githubusercontent.com/24372680/50051416-c9ae8e80-0137-11e9-9a48-bcf9e12b5e6c.png">

[2018-12-16 08:09] saarthakchats commented on #432
#398

[2018-12-16 13:05] KSNINJA commented on #429
Close via #430

[2018-12-16 13:06] kksinghal commented on #429
Close via #430

[2018-12-16 13:06] #429 closed

[2018-12-16 18:34] garvitkhandelwal commented on #386
I want to work on this issue. I know how it can be solved.

[2018-12-17 11:45] KSNINJA opened #437 "Extra undesirable spaces in 'EVENTS, CONFERENCE...' section"
There are some undesirable spaces .

### Screenshots

<img width="919" alt="screenshot 2018-12-17 at 5 13 38 pm" src="https://user-images.githubusercontent.com/26023139/50085120-2638a900-021f-11e9-9a4d-26d15fd690bf.png">

### Would you like to work this issue ?
Yes

[2018-12-18 11:31] garvitkhandelwal commented on #329
Is anyone working on this issue? Because I want to work on this.

[2018-12-18 14:48] saarthakchats opened #439 "Link to Summit incorrect"
Link to summit in ReadMe.md is not working.

[2018-12-18 15:12] #439 closed

[2018-12-18 17:16] pranav1698 opened #442 "The screenshts for the mobile apps is not responsive for mobile screens"
The screenshots for the mobile apps is not responsive to mobile screens

## Screenshots
![screenshot from 2018-12-18 22-42-53](https://user-images.githubusercontent.com/34754265/50170733-9bd37080-0316-11e9-970c-2e0d128a9951.png)
![screenshot from 2018-12-18 22-43-00](https://user-images.githubusercontent.com/34754265/50170742-9fff8e00-0316-11e9-83df-15f60a7055e4.png)
![screenshot from 2018-12-18 2

[2018-12-18 19:29] garvitkhandelwal opened #445 "Weird looking negative space in "How can I support Fossasia" section when it is resized to the size of a tablet.."
**In normal mode**
![screenshot 36](https://user-images.githubusercontent.com/24408454/50177920-350b8280-0329-11e9-8252-e3e669b0d1ed.png)

**In resized mode**
![screenshot 33](https://user-images.githubusercontent.com/24408454/50177966-4fddf700-0329-11e9-9a81-af7308de151c.png)
![screenshot 34](https://user-images.githubusercontent.com/24408454/50177973-54a2ab00-0329-11e9-8d07-d303f78be093.png)

[2018-12-18 19:41] garvitkhandelwal opened #446 "Email not responsive in "About Fossasia" section"
![screenshot 35](https://user-images.githubusercontent.com/24408454/50178727-4e153300-032b-11e9-8990-41e539f20852.png)

[2018-12-18 19:46] garvitkhandelwal commented on #422
Is this issue still open?

[2018-12-18 21:18] garvitkhandelwal commented on #442
It works fine on my device.
![screenshot 37](https://user-images.githubusercontent.com/24408454/50183583-8e2ee280-0338-11e9-8e01-60c9897af0d8.png)

[2018-12-18 21:21] pranav1698 commented on #442
![screenshot_20181218_211850](https://user-images.githubusercontent.com/34754265/50183704-e2d25d80-0338-11e9-8b72-f9e9ab827f97.jpg)
Strange, It is the same with my mobile

[2018-12-19 03:13] kksinghal commented on #422
I have already done this , my PR is pending.

[2018-12-19 06:53] Masquerade0097 opened #449 "Add Priyanshu Khandelwal to the team"
Add Priyanshu Khandelwal to the teams section.

[2018-12-19 08:21] NishithP2004 commented on #302
What has to be done exactly?

[2018-12-19 13:09] NishithP2004 commented on #301
What has to be done in this issue exactly?

[2018-12-19 14:47] Dharmesh-Poddar commented on #446
@garvitkhandelwal  can I work on it

[2018-12-19 16:50] garvitkhandelwal commented on #446
Yes sure!

[2018-12-20 06:15] saarthakchats opened #450 "Visibility poor in Android apps section"
Names and text not clearly visible

[2018-12-20 19:59] garvitkhandelwal opened #451 "Improved android apps section"

[2018-12-20 22:53] #449 closed

[2018-12-20 22:54] #450 closed

[2018-12-20 22:59] mariobehling opened #453 "Update About FOSSASIA Footer text"
Please update the footer text as follow:

FOSSASIA develops Open Source software and hardware solutions with a global developer community from its base in Asia and organizes Open Technology events around the year. The mission of FOSSASIA is to improve people's lives by sharing open technologies, knowledge and resources and building a sustainable FOSS ecosystem. Projects include [conversational AIs

[2018-12-21 02:32] Dharmesh-Poddar commented on #453
@mariobehling can I work on it..

[2018-12-22 20:48] khan0604 commented on #453
@mariobehling I have solved the issue. Please review my changes.
https://github.com/fossasia/fossasia.org/pull/456

[2018-12-23 10:46] ravk1234 commented on #446
can I work on it?

[2018-12-23 10:48] khan0604 commented on #453
@mariobehling I have solved the issue. Please review my changes. https://github.com/fossasia/fossasia.org/pull/457

[2018-12-23 13:47] garvitkhandelwal commented on #446
Sorry but I am working on it now.

[2018-12-24 07:40] #437 closed

[2018-12-24 16:18] KSNINJA opened #460 "Flickering in navbar menu"
#### There is a slight vertical wavering of the menu items when hover .
### Screenshot
![bug](https://user-images.githubusercontent.com/26023139/50403572-a1710080-07c5-11e9-808f-ca4913f84765.gif)
### Would you like to work on this issue ?
 No

[2018-12-25 17:54] #372 closed

[2018-12-25 17:57] #451 closed

[2018-12-25 17:58] #446 closed

[2018-12-25 17:59] #296 closed

[2018-12-25 17:59] #300 closed

[2018-12-25 17:59] #301 closed

[2018-12-25 17:59] #302 closed

[2018-12-25 17:59] #325 closed

[2018-12-25 17:59] #360 closed

[2018-12-25 18:03] mariobehling opened #461 "Make "arrow" on dropdown for GCI submenu showing to the ">" right"
The GCI has the arrow in the wron g direction. Please fix it as below.

![screenshot from 2018-12-09 07-46-29](https://user-images.githubusercontent.com/1583873/49694255-41544a80-fb87-11e8-80f9-51c479acb554.png)

[2018-12-25 19:18] akkshaychauhan opened #462 "Responsiveness issue:The menubar is not responsive"
![isuue](https://user-images.githubusercontent.com/26792528/50425970-d2296680-08a7-11e9-89b1-14eff9ab3306.png)

[2018-12-26 06:24] Dharmesh-Poddar commented on #461
@mariobehling  would like to work on it..

[2018-12-26 14:59] Dharmesh-Poddar opened #465 "navbar's dropdown menus disappear when you try to point them"

[2018-12-26 15:58] Dharmesh-Poddar opened #466 "navbar's dropdown menus disappear when you try to point them"
navbar's dropdown menus disappear when you try to point them near color-block section.

![ezgif com-crop](https://user-images.githubusercontent.com/32756751/50450619-16267500-0955-11e9-90c1-ec18b744653f.gif)

[2018-12-27 14:18] #431 closed

[2019-01-02 14:02] #461 closed

[2019-01-02 14:06] mariobehling opened #469 "Implement overlay on hover bottom of Android Apps images"
The Android apps images had an overlay with more information, but it was changing the space below and above the area as well.

Please implement a simple dark gray overlay on the bottom (a square covering the bottom of the image). Avoid Gradients.

Only add one effect that moves up from the bottom and include basic information about the app. Avoid having different effects for different lines. Keep

[2019-01-02 14:34] Dharmesh-Poddar commented on #469
@mariobehling working..

[2019-01-02 16:27] mariobehling opened #470 "Make Travis run"
Travis was not configured so far. As the site has a few dependencies it could be useful to run it now. Please help to make it run.

[2019-01-03 04:38] Dharmesh-Poddar commented on #469
@mariobehling  have you removed the span class consisting the basic information about the apps ?

[2019-01-03 12:31] mariobehling opened #472 "Add link "Best Practices" on second line in About Menu Tab"
Please add this link on all pages https://blog.fossasia.org/open-source-developer-guide-and-best-practices-at-fossasia/

![screenshot from 2019-01-03 13-30-26](https://user-images.githubusercontent.com/1583873/50637835-d74b7d00-0f5b-11e9-8694-62d75aac898c.png)

[2019-01-03 13:20] Dharmesh-Poddar commented on #472
@mariobehling working on it..

[2019-01-03 21:42] #472 closed

[2019-01-04 10:54] akshaycodrs commented on #460
Yes

[2019-01-04 10:54] akshaycodrs commented on #460
But i have no idea give me direction to do it

[2019-01-06 17:12] khan0604 commented on #470
@mariobehling I can see that there is a `.travis.yml` file in the repo that triggers `build.sh`. What is the expected outcome for this issue? Can you provide more details?

[2019-01-09 07:42] rbhatia46 opened #474 "Include a back-to-top button on scrolling down"
On scrolling the website, a back-to-top button can be included in the bottom-right corner to make it easier to navigate back to the top. Only show the back to top button when the use moves the page. Ensure you use the existing scrolling implementation.

This issue is available for anyone. You can just start working on it without getting assigned.

[2019-01-10 22:31] Yahhi opened #475 "Error 404. There is no way to add or propose at least new ideas (or ready to use repositories) to the fossasia organization."
The only link I found to apply with a new idea is https://fossasia.org/apply.html it gives error 404.
I want to suggest creating a new project for pslab hardware. It will connect with pslab through Bluetooth connection and will be written in Flutter, so iOS users can have all the opportunities the hardware can give them.
On site there should be some form to add ideas and discuss them. Gitter chats

[2019-01-11 12:42] mariobehling opened #476 "Images not showing on subpages"
Background images and some other images are not showing up anymore on subpages, e.g. https://fossasia.org/about/

Please identify the reason and fix it.

![screenshot from 2019-01-11 13-38-45](https://user-images.githubusercontent.com/1583873/51034311-ac3dda80-15a6-11e9-8ef3-263812a645b1.png)

[2019-01-11 12:51] mariobehling commented on #475
This is a great idea. Would be awesome if you get started!

If you would like to start a new subproject the usual way is as follows:
1. At first engage in the community and mention your idea on the specific Gitter channel of the project itself.
2. Create a Github repository in your personal area and start adding information on the Readme file and most importantly start coding.
3. Formulate an emai

[2019-01-11 13:42] Dharmesh-Poddar commented on #476
@mariobehling working on it..

[2019-01-11 13:52] kksinghal commented on #476
@Dharmesh-Poddar Sorry , I forgot to mention here . My PR is ready .

[2019-01-11 14:10] Dharmesh-Poddar commented on #476
@KSNINJA  No problem bro :)

[2019-01-11 15:55] mariobehling commented on #422
Good job so far. Please ensure this works on all pages. Thank you.

[2019-01-11 15:56] kksinghal commented on #422
I will definitely work on this .

[2019-01-14 04:02] divyanshu132 commented on #466
Can I work on this??

[2019-01-14 04:58] Dharmesh-Poddar commented on #466
@divyanshu132  sure!! go on..

[2019-01-18 09:02] niravasher commented on #474
Hello sir, i want to fix this issue, can I work upon it? Along with this I will also change the styling of the scroll bar to make it look better

[2019-01-18 09:55] niravasher commented on #462
Hello, in this issue the contact link comes in the next line and it is not yet responsive, can I work on this issue @akkshaychauhan

[2019-01-20 11:10] muarachmann commented on #476
Can this issue be closed since it is resolved @KSNINJA

[2019-01-24 14:14] cweitat opened #479 "Menu links broken"
Some links under **About** are broken

[2019-01-24 14:26] mariobehling commented on #479
Cannot verify that. On which page?

[2019-01-24 14:39] #479 closed

[2019-01-29 17:39] Jaggu-123 commented on #474
@rbhatia46 sir can I work on this issue ??

[2019-01-29 17:44] Jaggu-123 commented on #460
@KSNINJA can I take this issue ??

[2019-01-30 08:37] kksinghal commented on #460
@Jaggu-123 Yes, it is open to all .

[2019-01-30 13:06] Jaggu-123 commented on #460
Ok, I am working on it.

[2019-01-30 20:30] mariobehling opened #481 "Add "Project Ideas" to menu below "Contribute on Github""
Please add the link "Project Ideas" to https://labs.fossasia.org/ideas.html below "Contribute on Github"

![screenshot from 2019-01-30 21-24-36](https://user-images.githubusercontent.com/1583873/52010587-30182200-24d6-11e9-9240-e9b1d5c0e0f1.png)

[2019-01-31 04:56] Jaggu-123 commented on #481
@mariobehling I will do this task.

[2019-01-31 19:12] Jaggu-123 commented on #481
@mariobehling I am not getting the file for url starting with someting "labs.fossasia.org" or "events.fossasia.org". So suggest me whether to do changes in these files or not.

[2019-02-03 15:21] Jaggu-123 commented on #460
@KSNINJA can you please help me to reproduce this problem.

[2019-02-04 12:25] kksinghal commented on #460
@Jaggu-123 Just hover over the elements quickly .
By the way , it does not flicker when you are at the top of the page , I mean at scroll-position 0

[2019-02-06 13:12] ayanujju commented on #474
Can I work on it ?

[2019-02-09 04:27] rahul291999 commented on #284
Should I make input's autocomplete attribute to off to stop spam bot signups?

[2019-02-18 12:21] yash-kedia commented on #466
can i work on this

[2019-02-19 13:13] JaiParakh commented on #466
can i work on the issue?

[2019-02-23 16:53] ICEBERG98 commented on #481
If the Issue Has been fixed Please Mark this as fixed,
If not is it open to Assignees?

[2019-02-24 01:35] #481 closed

[2019-02-26 15:19] RDIL opened #486 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2019-02-26 15:49] mariobehling commented on #486
https://orgmanager.miguelpiedrafita.com/o/fossasia

[2019-02-26 15:49] #486 closed

[2019-03-05 14:11] Safnaj commented on #386
Is this Issue Fixed ??

[2019-03-07 16:28] Tharindupriyaharshana commented on #475
do you fixed this issue?

[2019-03-14 19:15] dilum1995 opened #488 "Bug fixing in fossasia.org/team page developers section"
**Actual Behaviour**

When the [fossasia.org website team page](https://fossasia.org/team/) loads there's a bug in the last two rows of the developer's section.

As I have attached in the screenshots section it doesn't properly render the list of developers as It does in the above rows.

**Expected Behaviour**

The last row of the developer's section should be the same as the above rows.

**Steps

[2019-03-21 13:07] satya-vinay opened #489 "Removal of Google plus social icons"
As Announced by [Google](https://timesofindia.indiatimes.com/gadgets-news/google-consumer-accounts-to-be-discontinued-on-april-2-heres-all-you-need-to-know/articleshow/67768585.cms), the Google plus is going shutdown on April 2, 2019 and all accounts and pages will deleted.

**To-Do:**
So before that its better to remove the Google plus social icons from the website.

**Would you like to work on t

[2019-03-21 19:36] tkoushik1 opened #490 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2019-03-21 19:37] #490 closed

[2019-03-22 19:45] kshitijk83 commented on #386
Can I use Hamburger icon nav bar to make it responsive?

[2019-03-24 09:58] hjain5164 commented on #489
I have removed the icons from the website

[2019-03-25 04:49] mariobehling opened #493 "Implement new top menu on all pages"
The index.html page has an updated menu. Please implement it on all pages.
* Please ensure you keep internal links working.
* Also show a menu option on mobile pages

[2019-03-27 08:27] abishekvashok commented on #386
There used to be a hamburger but it's not there now. `git blame`

[2019-04-01 16:26] felixonmars opened #494 "The name "Playstore" on homepage is not natural"
It should be "Play Store".

[2019-04-01 17:03] felixonmars opened #496 "Dead link on homepage"
20209.fossasia.org is not resolvable.

[2019-04-02 00:58] #496 closed

[2019-04-02 01:00] #494 closed

[2019-04-03 15:09] kushthedude commented on #493
@mariobehling Is it up for grabs?

[2019-04-03 16:40] mariobehling commented on #493
Yes, please also ensure a drop down menu shows up on mobile pages.

[2019-04-03 16:58] kushthedude commented on #493
Workin on it , will include a dropdown nav

[2019-04-09 12:13] felixonmars opened #499 "Kai Yuan She's link is broken on About page"

[2019-05-19 10:12] hpdang opened #501 "Article: Monthly Review of FOSSASIA ORG activities and development"
Please use follow this template

[2019-05-19 10:13] hpdang opened #502 "Event: OpenTechSummit Shenzhen - Pushing Call for Papers"

[2019-05-21 06:54] hpdang opened #503 "GSoC: Onboarding Talks"
FOSSASIA Admins initiate the conversation with each student on Gitter Chat during the bonding period (**May 6 - 27, 2019**) to make sure students are aware of expectations and align on goals at the same time to understand whether students are still able to commit their time sufficiently as they promised or specified in their GSoC application. _Note: After got accepted, students tend to take things

[2019-05-24 12:27] hpdang opened #504 "CodeHeat: Distribution of Swags"
Arrange shipping of Swags to Code Heat participant 2019

[2019-05-24 15:15] hpdang opened #505 "Article: FOSSASIA Summit 2019 Recap"

[2019-05-24 15:20] hpdang opened #506 "FOSSASIA Interns: Onboarding Talks"
- [x] Check the list of [accepted interns 2019](https://docs.google.com/spreadsheets/d/1bhtWnhgm8yjaafYYYuepQ2G6PYp7oTk6kjGNoEts7J4/edit#gid=517099697)
- [x] Create direct Gitter chat with each students + admins
- [x] Started conversation with the students based on [this template](https://docs.google.com/spreadsheets/d/1FYvtgCxKmqsi4EPetgSgp51jWcT5VkxfVT_fJBtUPkk/edit#gid=805515836)
- [x] Create n

[2019-05-24 15:45] hpdang opened #507 "Align with 2 GCI Winners"
[GCI presentation link](https://docs.google.com/presentation/d/13g57DcmaA6dJsR7q9J2czIfa_xDfO2hh5ED9VTRVotM/edit#slide=id.g5a944ec98f_1_70)

[2019-05-26 12:41] Divya-5 opened #508 "advanced developer page giving 404 error"

[2019-05-26 12:41] Divya-5 commented on #508
![screencapture-events-fossasia-org-adp-2019-05-26-18_11_33](https://user-images.githubusercontent.com/43536638/58381966-b73b5980-7fe1-11e9-9c65-a06673f3670d.png)

[2019-05-31 11:14] #503 closed

[2019-05-31 11:16] edenyay opened #509 "Event: OpenTechSummit Shenzhen - Listing on Huodongxing"
- [x] Create new event on [Huodongxing](https://www.huodongxing.com/event/9495025606400)
- [x] Create new Chinese poster
- [x] Plan the ticket prices
- [x] Publish event
- [x] Update call for speakers on eventyay

[2019-05-31 14:11] hpdang opened #510 "FOSSASIA Sponsorship Doc for all events in 2019"
We need a doc listed all event of 2019 that we organized

[2019-05-31 15:04] hpdang commented on #504
Mario needs to check on the mentor list. @edenyay please issue digital certificate

[2019-05-31 15:05] hpdang commented on #506
Eden finished the chat template, please add link

[2019-05-31 15:13] #507 closed

[2019-05-31 15:25] hpdang opened #511 "Event: OpenTechSummit Thailand - Next Steps"
- [x] Update event date on social media and eventyay
- [x] Align with Mishari on responsibilities
- [ ] Call for Papers

[2019-06-03 06:15] hpdang commented on #504
Delivery list https://docs.google.com/spreadsheets/d/1-stRxRccCxwjNfQjf-Veom6cb1qAKVo2O5iQ6Esyddg/edit#gid=0

[2019-06-04 07:50] mohitm15 commented on #510
@hpdang Direct me to the list of the events !

[2019-06-06 15:46] ShivanshRakesh opened #513 "Navbar text remains barely visible on going to previous-visited page, until the page is scrolled."
On going to previous visited page (go Back or go Forward button in browser), the text on navigation bar does not appear correctly (barely visible). Also, the background remains transparent.

On navigating to previous page: (Notice slightly visible FOSSASIA logo)
![Screenshot from 2019-06-06 21-09-49](https://user-images.githubusercontent.com/49039969/59046710-1893e000-88a0-11e9-908e-8dbd54a1e2d3.p

[2019-06-07 15:04] hpdang commented on #511
Had a following meet up with Thai Land https://docs.google.com/document/d/1PNEGDap5UmO1ciTtSd6MUJv_ZvYMr4U7AbZ5BTyBLg8/edit

[2019-06-07 15:09] hpdang commented on #504
HP to write email to supplier

[2019-06-07 15:19] #511 closed

[2019-06-07 15:20] #509 closed

[2019-06-07 15:22] hpdang opened #514 "Event: OpenTechSummit Thailand - follow up action items from the last meeting"
Follow up with this notes https://docs.google.com/document/d/1PNEGDap5UmO1ciTtSd6MUJv_ZvYMr4U7AbZ5BTyBLg8/edit

[2019-06-10 09:42] akshatra commented on #513
Seems to be working fine when I copied this on my local machine.
Let's see what can be done.

[2019-06-14 03:32] #506 closed

[2019-06-14 14:46] hpdang commented on #514
@edenyay please complete the OTS Sponsorship doc

[2019-06-14 16:17] edenyay opened #515 "Create event list for each leadership meeting"
add all the events by students/ organizers that taking place within that week into leadership meeting notes

[2019-06-14 16:36] bellaphan opened #516 "OpenTech Summit Thailand Action Items"
- [x] Get Finance Credentials  [add link here to action items]
- [x] Confirm Ticket Prices with Mishari  [add link here to action items]
- [x] Add meeting notes https://docs.google.com/document/d/1PNEGDap5UmO1ciTtSd6MUJv_ZvYMr4U7AbZ5BTyBLg8/edit#
(https://docs.google.com/spreadsheets/d/1MEWHs5SOlE7j6vYw2rRhQRfQc6YLFsecHY_XkNb8l4U/edit#gid=2018108338)
- [x] Work Sponsorships  [add link here to acti

[2019-06-15 15:42] bellaphan opened #517 "ACTION ITEMS for Vietnam office meeting"
- [ ] Setup Weekly meeting to plan work with each other: Day/Time [https://docs.google.com/document/d/1FvRRCZuKfFFz4pOv2K0_49D1SbiKA5dSiwiEM7IoTVA/edit#]
- [ ] Decide the date and the locations to Vietnam office
- [ ] Send an invite to people who involve for meeting

[2019-06-16 10:22] hpdang opened #518 "Create a new OpenTechSummit China page on eventyay"
The current [eventyay page of OTS China](https://eventyay.com/e/2af056c8) was created with the old version of eventyay which is not working so well anymore. Please create a new event using the current system

https://eventyay.com/e/79d3ee4a

[2019-06-18 16:49] bellaphan commented on #518
Dear sis,

Could you please check if I made any mistakes. ^^

https://eventyay.com/e/79d3ee4a

[2019-06-20 12:29] mariobehling opened #519 "Improve mobile screen section / add buttons for Playstore/Fdroid / Add apps"
Please improve the app section as follows:
* [ ] add a semitransparent background and text with the app name on the bottom of the app screenshots
* [ ] add buttons for a) Playstore, b) Fdroid, c) GitHub below each app screen
* [ ] add other apps
  * [ ] Badge Magic
  * [ ] Eventyay Attendee App
  * [ ] Eventyay Organizer App

[2019-07-15 11:12] mariobehling opened #522 "Event Participation: Linux Australia Application"

[2019-07-15 11:12] mariobehling opened #523 "Event Participation: FOSDEM Application"

[2019-07-19 09:45] #284 closed

[2019-07-19 09:45] #294 closed

[2019-08-08 17:25] ShivanshRakesh commented on #519
Is the issue still open? If yes, I would like to work on it.

[2019-08-10 03:24] #519 closed

[2019-08-10 03:40] mariobehling opened #526 "Improve Mobile App Section"
Provide more relevant screens showing more of the main feature of the apps in the bottom row. Image size should be Width: 364 x Height: 647

![Screenshot from 2019-08-10 05-26-17](https://user-images.githubusercontent.com/1583873/62816975-6e4e6800-bb2f-11e9-8360-3366f17edb3b.png)

[2019-08-10 04:07] mariobehling commented on #499
We dont have active collaboration currently. So, we are pausing the display of Kai Yuan Shi.

[2019-08-10 04:07] #499 closed

[2019-08-10 04:08] #493 closed

[2019-08-10 04:08] #489 closed

[2019-08-10 04:08] #488 closed

[2019-08-10 04:09] #476 closed

[2019-08-10 04:10] mariobehling commented on #475
Correct link for application is https://fossasia.org/apply/index.html

[2019-08-10 04:10] #475 closed

[2019-08-10 04:11] mariobehling commented on #508
Correct link is https://fossasia.org/adp

Works for me. Please identify pages where that contain the wrong link, if any.

[2019-08-10 04:11] #508 closed

[2019-08-10 04:14] #469 closed

[2019-08-10 04:20] mariobehling opened #527 "Add info area with expanding image title overlay effect on top of Android app screenshots"
Please implement a simple dark gray overlay on the bottom (a square covering the bottom of the image). Avoid Gradients. Compare the general effect here: https://www.w3schools.com/howto/howto_css_image_overlay_title.asp

Only add one effect that moves up from the bottom and include
* Name of app
* One Scroll-over show: Short description of the app. **Please make the effect in the way that the botto

[2019-08-10 04:21] #513 closed

[2019-08-10 04:22] #470 closed

[2019-08-10 04:22] #466 closed

[2019-08-10 04:22] #460 closed

[2019-08-10 04:22] #422 closed

[2019-08-10 04:22] #442 closed

[2019-08-10 04:23] #373 closed

[2019-08-10 04:23] #329 closed

[2019-08-10 04:23] #363 closed

[2019-08-13 13:18] NamanZelawat commented on #526
I would like to work on it.

[2019-08-13 13:27] NamanZelawat commented on #526
And I would also like to add some effects like <a href = "http://css3.bradshawenterprises.com/flip/">flipping</a> or <a href="http://css3.bradshawenterprises.com/cfimg/">fading(demo3)</a> so that we can display more than one image in the space of one image.

[2019-08-14 09:35] ShridharGoel commented on #445
Can be closed since it's fixed.

[2019-08-14 09:55] #445 closed

[2019-08-14 10:39] NamanZelawat commented on #526
@mariobehling  All changes(flipping effect) are made you can check them <a href = "https://namanzelawat.github.io/fossasia.org/">here</a>. If there are some more changes required please comment.

[2019-08-23 09:55] amreshk005 commented on #527
Can I take this issue?

[2019-08-25 05:37] arghac14 commented on #474
@rbhatia46  Assign me this.

[2019-08-25 05:38] arghac14 commented on #527
@mariobehling Can I work on this?

[2019-09-11 20:22] #526 closed

[2019-09-11 20:24] mariobehling opened #530 "Implement Top Menu Bar from Index.html on all other pages"
The top menu bar has changed and links have been change. Please update all other page in this repo following the index.html. Please ensure you keep relative links e.g. use ./about/ instead of linktin to https://fossasia.org/about/.

[2019-09-11 20:25] mariobehling opened #531 "Page fossasia.org/coc/index.html broken due to wrong CSS links"
THe page fossasia.org/coc/index.html is broken as links and images are linked in another directory. Please help to fix it.

[2019-09-11 20:26] mariobehling opened #532 "Top menu missing in Mobile View"
Please make the top menu bar visible in mobile view e.g. by using a menu icon.

![Screenshot from 2019-09-11 21-06-44](https://user-images.githubusercontent.com/1583873/64732400-36965f80-d4e3-11e9-91fc-4e39e7ed2040.png)

[2019-09-12 02:10] Yachitha commented on #531
can I take this? I'll check this out and give a feedback.

[2019-09-12 04:10] liveHarshit commented on #531
Go ahead.

[2019-09-12 05:37] Yachitha commented on #531
**js/twitterfetcher.min.js** this file is not found in the **js** directory? has anyone changed the file location?

[2019-09-16 09:22] Yachitha commented on #531
@mariobehling are their any mistakes in the code. please let me know I'll try my best to resolve them.

[2019-09-16 11:29] #532 closed

[2019-09-17 00:38] mariobehling opened #537 "Program Section: White link not showing up on top of white background"
In the program section on the top and the bottom there are two links that are white in front of a white background (and blue on scroll-over). Please make these links red as in other sections.

![Screenshot from 2019-09-17 02-32-17](https://user-images.githubusercontent.com/1583873/65002457-2cfe6480-d8f4-11e9-8494-592c302d1c23.png)

[2019-09-17 07:46] nasirhjafri opened #538 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2019-09-17 08:20] liveHarshit commented on #538
Please do not open issue for this.

[2019-09-17 08:20] #538 closed

[2019-09-22 05:16] asha15 commented on #530
@mariobehling  Shall i work on this ?

[2019-09-22 07:02] mariobehling commented on #530
Go ahead, please.

[2019-09-22 07:03] mariobehling commented on #530
Please make the top menu on all fossasia pages and subpages like labs.fossasia.org same as in fossasia.org main page. Thanks.

[2019-09-26 06:41] #537 closed

[2019-09-26 16:06] dewanshrawat15 commented on #462
I would like to work on this @mariobehling

[2019-10-02 00:35] kushthedude opened #541 "Featured Projects: Poor designing of UI and Chosen Images"
- The featured project's design is too poor, a bad looking description with grey highlight box just worsens the website and make it look too ugly.
- Also in the mobile view, the container loses its location.
- Also, the choice of images is poor and all of the images are pixelated
Implement something which is at least better than the
<img width="487" alt="Screenshot 2019-10-02 at 6 03 26 AM" src="h

[2019-10-02 00:38] kushthedude commented on #541
@mariobehling , Labels and review the issue.

[2019-10-02 05:07] amrs-tech opened #542 "Unwanted text in navbar menu list of Labs & Programs"
**Screenshot**
![Screen Shot 2019-10-02 at 10 28 21](https://user-images.githubusercontent.com/23120166/66019335-9095ae00-e500-11e9-89cd-c851a2409003.png)

[2019-10-02 05:10] amrs-tech commented on #542
I hope this extra text is placed there by mistake because I find no reason for it to be there, but if I'm wrong and it is included there knowingly. Sorry for this issue.

[2019-10-04 09:45] amrs-tech commented on #542
Can someone please review the PR #543  that resolves this issue ?

[2019-10-06 04:45] #542 closed

[2019-10-15 03:24] keysangyonthan commented on #531
Is this issue still open, if it is I would like to work on it!

[2019-10-15 05:12] liveHarshit commented on #531
Please go ahead

[2019-10-18 22:05] ji-kun commented on #474
I would like to take up this issue

[2019-10-21 17:30] ayushmankumar7 commented on #474
Assign this to me.

[2019-10-22 05:05] ayushmankumar7 opened #547 ""MORE EVENTS" in Events (nav-bar) needs some change"
![Screenshot from 2019-10-22 10-35-06](https://user-images.githubusercontent.com/41910134/67260195-a40cb700-f4b7-11e9-8652-0e3a8048b674.png)

[2019-10-22 05:06] ayushmankumar7 commented on #547
This can be made better.

[2019-10-30 08:41] kushthedude opened #548 "Implement a better back to top"
Current back to the top is too ugly, The transition should be should scrolling rather than going directly upwards.
Improve the following

[2019-10-30 20:02] preyunk commented on #547
Can you please tell what needs to be changed?

[2019-10-31 07:01] SauravP97 commented on #547
I have proposed a PR #549  for this issue, Kindly have a look

[2019-10-31 07:08] ayushmankumar7 commented on #547
I have already made a pull request.  Let's see what the owners decide.

[2019-10-31 08:12] aditya20t commented on #531
I fixed this issue. PR #550

[2019-11-01 02:11] adad20 opened #551 "JS and background image is missing in /coc/index.html"

[2019-11-01 02:17] #551 closed

[2019-11-01 02:30] aditya20t commented on #530
If this issue is open can I take a look?

[2019-11-01 03:32] liveHarshit commented on #530
It is open. Please go ahead.

[2019-11-01 07:39] adad20 opened #554 "Code of Conduct page is not responsive."
How to reproduce?
- Go to the Code of Conduct page  and change the display size of your tab.
Anyone can take this issue.

[2019-11-02 02:55] aditya20t commented on #531
Also #552 is the enhancement solution.

[2019-11-02 05:18] liveHarshit commented on #531
@adad20 Always mention fixes in the PR description so that the issue will automatically get closed when the PR got merged.

[2019-11-02 09:09] arron-tij commented on #548
Please share the link of the pages where this issue exists, because all the back to top links that I saw already had scroll transition

[2019-11-02 14:10] kushthedude commented on #548
See the `fossasia.org` index page

[2019-11-09 04:01] #554 closed

[2019-11-09 20:27] #386 closed

[2019-11-09 20:27] #462 closed

[2019-11-09 20:27] #530 closed

[2019-11-09 20:27] #531 closed

[2019-11-09 20:27] #547 closed

[2019-11-09 20:28] mariobehling opened #555 "Revert Lazy loading on index.html as it results in issues"
Lazy loading on start page results in the issue that linking into sections on the page is not working smoothly. Please revert lazy loading on the index.html page.

[2019-11-09 20:29] mariobehling commented on #555
Changes were done in this PR: https://github.com/fossasia/fossasia.org/pull/434

Please help to revert these changes.

[2019-11-11 06:32] abhishekvirat0 commented on #548
Hi, My name's Abhishek and I would like to work on this issue

[2019-11-11 11:32] kushthedude commented on #548
Sure, Go ahead.

On Mon, 11 Nov, 2019, 12:02 abhishek, <notifications@github.com> wrote:

[2019-11-11 13:03] abhishekvirat0 commented on #548
Thanks !
what type of back to the top you want ?

[2019-11-11 13:25] kushthedude commented on #548
Current button looks good, just make sure the transition is smooth scroll

On Mon, 11 Nov, 2019, 18:33 abhishek, <notifications@github.com> wrote:

[2019-11-19 10:06] yash-kedia commented on #548
the button also should have a border radius of 10px

[2019-11-19 14:18] abhishekvirat0 commented on #548
ok, I'll update once done.

[2019-11-22 16:54] srishtiBajpai commented on #555
Hey! I would like to work on this issue and had a brief look over index.html file and found that the changes as done in issue #434 have been reverted back and lazy loading features are no more implemented (or may be i have missed it). Please help me to forward resolve this issue

[2019-11-22 16:55] srishtiBajpai commented on #555
Hey! I would like to work on this issue and had a brief look over index.html file and found that the changes as done in issue #434 have been reverted back and lazy loading features are no more implemented (or may be i have missed it). Please help me to further resolve this issue

[2019-11-24 10:56] maze-runnar opened #558 "Align all social icons in one line for mobile"
![Screenshot from 2019-11-24 16-23-52](https://user-images.githubusercontent.com/56407566/69493634-ebcb9780-0ed6-11ea-9486-dc844dc8edf7.png)
**Additional context**
i am working on it .

[2019-11-25 21:14] kushthedude commented on #555
@srishtiBajpai The changes are not reverted I suppose, Since the PR is not linked to any reverting PR

[2019-11-25 21:15] kushthedude commented on #555
You may take it if you want to work on it. Thanks

[2019-12-01 19:01] Aaryan-kapur commented on #558
can i start to work on this?

[2019-12-01 19:02] Aaryan-kapur commented on #541
can i start working on this. would love to take this up!

[2019-12-01 19:02] maze-runnar commented on #558
Already a pr is open .

[2019-12-01 19:02] Aaryan-kapur commented on #527
can i start working on this, I would love this

[2019-12-01 19:21] Aaryan-kapur commented on #558
oh okay thankyou so much!
can you suggest me any similar projects i could contribute to?

[2019-12-01 19:24] maze-runnar commented on #558
Open-event and susi

[2019-12-02 20:01] Shizerq opened #560 "Outdated photo of team member on team page"
Harsh Patel's photo is old.

![Screenshot 2019-12-02 at 21 00 09](https://user-images.githubusercontent.com/34197298/69990821-bb26d600-1546-11ea-9a2d-d92ef14dec40.png)

![Screenshot 2019-12-02 at 21 00 42](https://user-images.githubusercontent.com/34197298/69990861-ced23c80-1546-11ea-94a5-076e777f75a2.png)

I'll work on this issue

[2019-12-03 05:32] ayushiitr2901 commented on #527
Is this issue still open, I will like to work on this

[2019-12-03 05:33] ayushiitr2901 commented on #548
Is this issue still open, I would love to work on this

[2019-12-04 15:56] makoteq opened #562 "lacking team member"
add Neel Trivedi to member list

https://github.com/neel1998

[2019-12-05 02:25] Hasala123 opened #564 "adding a team member to site"
Creating a new section for FOSSASIA team members and adding a member

[2019-12-05 12:46] kavindyasinthasilva opened #571 "adding new php project"
this is change add to php file and .back end develop is not?
if you have make new local host and run it

[2019-12-05 12:52] kavindyasinthasilva opened #573 "install new git hub action python or other language"
GitHub Actions help you automate your software development workflows in the same place you store code and collaborate on pull requests and issues. You can write individual tasks, called actions, and combine them to create a custom workflow. Workflows are custom automated processes that you can set up in your repository to build, test, package, release, or deploy any code project on GitHub.

With G

[2019-12-06 15:31] MuhammadWasif commented on #564
Which member are you going to add?

[2019-12-07 16:19] Ojaswy opened #575 "How to join FOSSASIA on Github"
How do I join this Organisation?

[2019-12-07 16:25] liveHarshit commented on #575
Is it an issue?

[2019-12-07 16:25] #575 closed

[2019-12-07 16:26] Ojaswy commented on #575
No, but it would be nice to include the steps to join on the Website. Hence opened one here.

[2019-12-07 16:28] liveHarshit commented on #575
Orgmanager build is failing currently. The link is here: http://orgmanager.miguelpiedrafita.com/o/fossasia
For now, only admin can invite individually.

[2019-12-08 22:13] pranavkarthik10 opened #576 "Missing social icons"
There is no icon for the Docker, Gitlab, or Crunchbase profiles for FOSSASIA in the footer.

[2019-12-10 09:36] #558 closed

[2019-12-10 09:41] #573 closed

[2019-12-10 09:42] #571 closed

[2019-12-10 09:42] #562 closed

[2019-12-10 09:42] #560 closed

[2019-12-10 10:04] #548 closed

[2019-12-10 10:04] #555 closed

[2019-12-10 12:10] ShivanshRakesh commented on #576
@mariobehling I would like to work to work on this issue.

[2019-12-12 04:26] VarunSaini23 opened #579 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2019-12-13 03:05] abishekvashok commented on #579
We will don't open issues here :)

[2019-12-13 03:05] #579 closed

[2019-12-13 13:26] Ojaswy commented on #576
@pranavkarthik10 Can you post the link of the webpage where this issue persists?

[2019-12-16 09:59] manan025 opened #580 "Missing social icons"
Instagram icon needs update whereas docker hub and crunchbase icons are missing and I have self assigned myself to do the task in Google Code-in.

[2019-12-16 10:28] Aaryan-kapur commented on #527
Is this issue still open, I will like to work on this

[2019-12-16 10:34] mariobehling commented on #527
No need to claim it. Just go ahead and solve it.

[2019-12-16 10:34] Aaryan-kapur commented on #527
oh okay thank you!!

[2019-12-17 11:12] antonyalex opened #582 "Adding more profile links in the bottom pages"
Adding links to fossasia docker and crunchbase profiles to fossasia.org

[2019-12-17 16:08] mariobehling opened #583 "Website: Update new FOSSASIA Address"
The new FOSSASIA Address in Singapore is:

12 Eu Tong Sen Street #08-169 Singapore 059819

Please update it and add the correct link to OpenStreetMap on all pages.

[2019-12-18 04:38] kumuditha-udayanga commented on #583
I'm working on it.

[2019-12-18 05:56] kumuditha-udayanga commented on #583
@mariobehling the changes have been done please review #585 😇

[2019-12-18 18:58] harsh-kukreja commented on #576
@mariobehling can you provide the links for docker gitlab and crunchbase profiles for the FOSSASIA so tha i can add and work on this issue

[2019-12-18 18:58] harsh-kukreja commented on #576
@pranavkarthik10  or @mariobehling can you provide the links for docker gitlab and crunchbase profiles for the FOSSASIA so tha i can add and work on this issue

[2019-12-18 20:56] harsh-kukreja commented on #541
Hey @mariobehling please review the PR

[2019-12-19 12:48] kumuditha-udayanga commented on #582
@mariobehling the changes have been done please review #590  😇

[2019-12-19 13:39] kushthedude commented on #583
@mariobehling Close.

[2019-12-19 16:42] Dishebh commented on #580
Why are there 3 issues (open) for the same purpose?

[2019-12-20 05:29] #583 closed

[2019-12-21 11:26] mariobehling commented on #564
Not needed.

[2019-12-21 11:26] #564 closed

[2019-12-21 16:50] Dishebh opened #596 "Some icons get cut when seen in mobile (or similar) resolutions"
Some Icons get cut when seen in mobile screens or any similar resolutions.

### Screenshots of the issue:
![Screenshot from 2019-12-21 21-47-33](https://user-images.githubusercontent.com/43489708/71310917-13fbd700-2440-11ea-9bb5-440bb4a2798a.png)

You can see the issue above the heading: A Little More About FOSSASIA

[2019-12-22 04:54] supunTE commented on #474
Working on this.

[2019-12-22 10:40] kumuditha-udayanga opened #600 "Github logo disappear in the profile links"
# Description
The GitHub logo is has been disappeared in the profile links

# Are you working on this issue
[x] Yes
[ ] No

# Screenshot
<img width="1656" alt="Screenshot 2019-12-22 at 16 08 24" src="https://user-images.githubusercontent.com/27630091/71320710-4f94b080-24d5-11ea-8bf9-5cb93e7f9700.png">

[2019-12-22 23:05] mariobehling commented on #600
This is a new issue. Which PR caused this issue? Please identify and help to revert the change that caused it.

[2019-12-23 04:55] kumuditha-udayanga commented on #600
@mariobehling I think this is the PR (https://github.com/fossasia/fossasia.org/pull/593)

[2019-12-23 09:44] mariobehling commented on #600
Thanks. Could you make a PR reverting this PR and provide a test page, please?

[2019-12-23 13:21] kumuditha-udayanga commented on #600
okay sure

[2019-12-23 14:19] kumuditha-udayanga commented on #600
@mariobehling reverted successfully #603

[2019-12-23 15:44] chamodperera opened #605 "add missing team members"

[2019-12-23 15:45] chamodperera commented on #605
I can work on this

[2019-12-23 15:46] chamodperera commented on #605
https://github.com/fossasia/fossasia.org/pull/604

[2019-12-23 19:30] Dishebh opened #606 "Remove the horizontal scroll-bar"
### Description:
Remove the horizontal scroll-bar from the web-page which shows up at max-width of around 981px

### Screenshot of the issue:
![Screenshot from 2019-12-24 00-55-13](https://user-images.githubusercontent.com/43489708/71376807-b787eb80-25e8-11ea-84fa-cdcf1432122b.png)

You can see the issue at the bottom of the screenshot.

[2019-12-23 20:24] pranavkarthik10 opened #608 "Add missing Team Members"
# Overview
Missing profile for team members:
- Akshay Shirmali
- Chung Wei Tat
# Are you going to work on this
- [x] Yes
- [ ] No

[2019-12-23 20:43] pranavkarthik10 commented on #600
@mariobehling Instead of reverting the PR, I fixed the issue by updating all of the icons #609.

[2019-12-24 16:59] Dishebh commented on #605
@chamodperera if you aren't working, shall I continue with it?

[2019-12-25 05:31] #600 closed

[2019-12-26 08:46] #608 closed

[2019-12-28 08:56] #606 closed

[2019-12-29 06:22] rajatvarma opened #616 "missing social icons"

[2019-12-29 15:08] sayanmondal2098 opened #617 "Join FOSSASIA.. How do I join this Organisation?"
How i can join there ?

[2019-12-29 21:17] Dishebh commented on #617
@sayanmondal2098 You can join the organization by interacting with the community, solving and / or finding out bugs, guiding others along the way, etc.
For more queries, you can head to the gitter channel:
https://gitter.im/fossasia/home

[2019-12-29 21:36] Dishebh opened #619 "Reduce the images size for better performance"
There are many images in the img directory that exceeds the size of 400kb or 500 kb. Shrink them to less than 100kb (except for the images covering more than 70% of screen width) for optmization and better performance of the website.

[2019-12-30 02:59] Rishi007-web commented on #616
I want to work on this issue.

[2019-12-30 03:03] Rishi007-web commented on #619
I want to work on this issue.

[2019-12-30 11:30] keysangyonthan commented on #616
where?

[2019-12-31 10:38] #596 closed

[2019-12-31 15:32] adiwahyudi02 opened #623 "fix responsive image from team page"
There is a difference in image size

![responsive](https://user-images.githubusercontent.com/45607028/71625939-1ec32280-2c1d-11ea-988f-154c6caa0d84.png)

You can check:
[https://fossasia.org/team/](https://fossasia.org/team/)

[2020-01-03 14:46] Chaitanyassr opened #627 "Membership(text)is overlaping the text need to be fixed."
![Screenshot (127)](https://user-images.githubusercontent.com/30374226/71729445-c29f0f00-2e65-11ea-8be7-710e82776711.png)

[2020-01-05 11:17] #623 closed

[2020-01-05 12:28] dipu989 opened #629 "Fix broken GitHub image"
Steps to reproduce -
Hover over the team members profile here  at https://fossasia.org/team/
Github image is not properly displayed.

Would you like to work on this?
No, Open for beginners!

[2020-01-06 13:51] SarthakA99 opened #631 "Adding more profile icons"

[2020-01-06 13:51] #631 closed

[2020-01-07 16:23] DevanshCodes commented on #629
Can I work on this?

[2020-01-08 02:52] mariobehling commented on #629
In order to fix this, please revert PR https://github.com/fossasia/fossasia.org/pull/621

It can not be reverted automatically. So, it would be great, if you could help to simply revert it manually.

[2020-01-08 05:42] abishekvashok commented on #629
@mariobehling that would take a force push, it might break the forks, can I make a PR?

[2020-01-08 07:26] mariobehling commented on #629
Already done. Thanks. Closing it.

[2020-01-08 07:26] #629 closed

[2020-01-08 14:46] aryanguls opened #635 "Add Missing Team Members"
As the FOSSASIA website Team Member's page does not contain the image and social profiles of each and every team member thus I am adding Kush Trivedi to the FOSSASIA Team Member's Page.
He is an IOS Developer and is a mentor at FOSSASIA as well for Google Code-In.

[2020-01-08 18:20] Dishebh opened #637 "Section-header section getting cut mid-way"
### Description
`section-header` gets cut almost through midway on the web page

### Screenshot of the issue:
![Screenshot from 2020-01-08 23-48-33](https://user-images.githubusercontent.com/43489708/72004542-a2aa8980-3271-11ea-9991-edd5ccbabbfe.png)

[2020-01-09 05:33] #635 closed

[2020-01-09 11:25] mariobehling opened #639 "Add yaydoc.org into dropdown menu on all FOSSASIA.org Github pages"
Yaydoc is running on yaydoc.org. Please add the link to the FOSSASIA dropdown menu into the "projects" tab above "Meilix".

![Screenshot from 2020-01-09 16-51-59](https://user-images.githubusercontent.com/1583873/72063755-68d49400-3300-11ea-8709-b9e73aa7321a.png)

[2020-01-09 22:56] hoangdatngo opened #641 "Add Hub Docker icon to the website"
I want to add Hub Docker icon to the fossasia website

[2020-01-11 05:01] Dishebh opened #643 "There's a redundancy in the teams page"
### Description:
`Abhinav Raj` profile repeats in the http://fossasia.org/team page.

### Screenshot for the issue:
![Screenshot from 2020-01-11 10-30-12](https://user-images.githubusercontent.com/43489708/72199109-6471bd80-345d-11ea-9c05-488a780a02ef.png)
![Screenshot from 2020-01-11 10-30-16](https://user-images.githubusercontent.com/43489708/72199112-69367180-345d-11ea-9377-1b6d2817db52.png)

[2020-01-13 08:12] SARTHAK1SINGH commented on #627
if this issue is open i would like to work on it.

[2020-01-13 08:20] SARTHAK1SINGH commented on #474
@mariobehling IF this issue is open i would like to work on it.
As i downloaded the project and i can see it's not updated yet.

[2020-01-13 08:22] Chaitanyassr commented on #627
This issue has been solved... Thank you.

[2020-01-13 13:55] ayushmankumar7 commented on #641
Where exactly, on the page, do you want it ?

[2020-01-13 14:20] abishekvashok commented on #641
is fossasia there on Hub Docker?

[2020-01-14 09:02] SARTHAK1SINGH commented on #643
@Dishebh is this issue open. Because i would like to work on it.

[2020-01-14 09:08] SARTHAK1SINGH commented on #637
@Dishebh is this issue still open . i would like to work on it.

[2020-01-14 09:53] Dishebh commented on #643
I have already submitted a PR, pls look for some other issue. Thanks

[2020-01-14 09:54] Dishebh commented on #637
I have already submitted a PR, pls look for some other issue. Thanks

[2020-01-16 08:32] Chaitanyassr commented on #474
I have already submitted a working PR on this issue, you are not seeing it because it is not merged currently and waiting for the review... Thank you.

[2020-01-16 14:48] SARTHAK1SINGH commented on #641
@hoangdatngo where do you want this icon, i would love to work on this issue.

[2020-01-16 14:53] hoangdatngo opened #651 "Add more social icon"
I want to add Weibo,Vk, Linkedin to the dropdown menu in the website.

[2020-01-16 14:59] mariobehling commented on #651
no need

[2020-01-16 14:59] #651 closed

[2020-01-17 10:28] SARTHAK1SINGH commented on #641
@mariobehling can i work on this issue?

[2020-01-18 19:01] SARTHAK1SINGH commented on #619
@Dishebh i would like to work on this issue.
can i work on it.

[2020-01-18 19:25] mohitm15 commented on #643
@Dishebh Also make change for `Praveen Ojha`

[2020-01-18 19:39] mohitm15 commented on #639
@mariobehling is this still an issue because I can see the yaydoc in the dropdown at official website.at (https://fossasia.org/). Kindly close this.

[2020-01-18 19:40] Dishebh commented on #643
@mohitm15 Done. Thanks for mentioning.

[2020-01-18 20:04] mohitm15 opened #654 "No gap between the icons in hamburger menu"
**Description**
There is no gap between the icons in hamburger menu.

**screenshot**
![Screenshot 2020-01-19 01:25:01](https://user-images.githubusercontent.com/35539313/72669768-d9478780-3a5b-11ea-87f7-74f0de433212.png)

[2020-01-18 20:11] mohitm15 commented on #617
@sayanmondal2098  Have this conversation on gitter and don't create such vague issues.Close this

[2020-01-18 20:13] mohitm15 commented on #616
@rajatvarma specify the issue with more clarification so that @keysangyonthan can work on it. Otherwise close this.

[2020-01-18 20:20] mohitm15 commented on #576
@hpdang Please close the issue if PR got merged.

[2020-01-18 20:41] mohitm15 opened #656 "Links at bottom of each article are not aligned"
Major UI issue regarding the Links at bottom of each article is not aligned. Observed many places over the website.

**Screenshots attached**
![Screenshot 2020-01-19 02:10:26](https://user-images.githubusercontent.com/35539313/72670202-f894e380-3a60-11ea-8419-cc8fa7102327.png)

![Screenshot 2020-01-19 02:10:47](https://user-images.githubusercontent.com/35539313/72670206-ff235b00-3a60-11ea-8bdb-cd2

[2020-01-18 20:42] mohitm15 commented on #656
I am working on this issue. Ignore the red horizontal line on screenshots.

[2020-01-18 20:46] mohitm15 commented on #474
@Chaitanyassr there's already a `back to top` menu option at bottom.

![Screenshot 2020-01-19 02:17:11](https://user-images.githubusercontent.com/35539313/72670263-9d172580-3a61-11ea-9d7e-ab7041d82c41.png)

[2020-01-18 20:56] mohitm15 opened #657 "Drop down going out of the screen"
The nested drop-down is going out of the screen in the android window. Attached scrrenshot

**Screenshot**

![Screenshot 2020-01-19 02:25:41](https://user-images.githubusercontent.com/35539313/72670409-fdf32d80-3a62-11ea-85ff-499eef14fa04.png)

This is open to all for contribute.

[2020-01-19 06:21] Chaitanyassr commented on #474
yes, but the page doesnt have back to the top on the right side when scrolling down.

[2020-01-19 09:07] mohitm15 commented on #474
@Chaitanyassr I don't think this is necessary?

[2020-01-19 09:10] Dishebh commented on #619
Sure, go ahead

[2020-01-19 12:47] mohitm15 opened #659 "Buttons are not aligned properly in android view"
**Description**
Buttons are aligned to the extreme left side not giving an aesthetic look.

**Screenshot**
![Screenshot 2020-01-19 18:14:42](https://user-images.githubusercontent.com/35539313/72681279-ef9b2500-3ae7-11ea-86f5-7a1e6b5f609f.png)

[2020-01-19 18:12] SARTHAK1SINGH commented on #657
@mohitm15 i would like to work on it.

[2020-01-19 18:25] mohitm15 commented on #657
@SARTHAK1SINGH go ahead.

[2020-01-19 20:12] SARTHAK1SINGH commented on #619
[Reduced the images size for better performance #661](https://github.com/fossasia/fossasia.org/pull/661)

@mariobehling @Dishebh please review it.

[2020-01-20 09:36] SARTHAK1SINGH commented on #657
okk i'll start working on it.

[2020-01-21 12:03] SARTHAK1SINGH opened #664 "On click different image popup."
### In Memories from FOSSASIA Events section different image popup when clicked on an image for it's preview.
As screenshot attached image with Red line have this issue.

![fossasia issue](https://user-images.githubusercontent.com/44469087/72803230-9233df00-3c73-11ea-9e71-b450d1404635.jpg)

@mariobehling is this a valid issue?

**If so,I would like to work on it.**

[2020-01-28 18:01] mohitm15 commented on #657
Any updates @SARTHAK1SINGH

[2020-01-29 04:38] SARTHAK1SINGH commented on #657
@mohitm15 i am a little busy so i am not able to work on it. if you like to work go ahead.

[2020-02-03 10:11] MelvinManni commented on #657
@mohitm15 If no one is working on it, I'm ready to take it up

[2020-02-03 10:24] mohitm15 commented on #657
Sure , go ahead.

On Mon 3 Feb, 2020, 3:41 PM Melvin Kosisochukwu, <notifications@github.com>
wrote:

[2020-02-03 13:29] MelvinManni commented on #657
Okay, great.

[2020-02-03 13:39] MelvinManni opened #666 "Mobile Menu drop-down doesn't roll back up when clicked the second time"
![Screenshot_20200203-143501](https://user-images.githubusercontent.com/42300447/73657431-93610500-4692-11ea-88f2-524d65250d8b.png)
While browsing through the official site i noticed that when the mobile menu drop down links is shown, they don't roll back up when clicked again.

[2020-02-06 13:29] SaranshDawra opened #667 ""Coding Programs and Labs" heading is being overlapped"
![Screenshot (84)](https://user-images.githubusercontent.com/50369485/73940716-f6140400-4911-11ea-98ad-ee2f58e46f28.png)

I would like to work on this issue. Please assign me with this issue. Thanks.

[2020-02-08 06:09] Chaitanyassr opened #668 "Text get overlapped in code of conduct section of the page."
![Screenshot (159)](https://user-images.githubusercontent.com/30374226/74080220-b101e600-4a67-11ea-923d-9058615c0fa3.png)

[2020-02-10 16:03] Yashank18 opened #669 "In side Navbar "Copyright 2009-2019 Creative Commons By License, FOSSASIA FOSSASIA" isn't visible"
Inside the side navbar, the bottom line isn't visible fully.
Will like to work on it.
![Screenshot (92)](https://user-images.githubusercontent.com/46098062/74166459-9a68b400-4c4c-11ea-88fd-642f2b1470db.png)

[2020-02-11 01:02] bharat-1809 commented on #668
I have made a pull request ( #670 ) regarding this issue. @Chaitanyassr kindly take a look and please review it.

[2020-02-11 01:08] bharat-1809 commented on #668
https://github.com/fossasia/fossasia.org/pull/670

[2020-02-11 01:20] bharat-1809 commented on #668
#670

[2020-02-11 01:26] bharat-1809 commented on #668
#670 Fixes #668 : Text get overlapped in code of conduct section of the page

[2020-02-11 04:21] goyalmuskan opened #671 "Image Cropped in Carousel"
I would like to work on the issue!
![fossasia](https://user-images.githubusercontent.com/47412347/74210992-f74b8500-4cb3-11ea-853e-1a78e3b519c4.png)

[2020-02-11 09:19] satvikchachra opened #672 "Dropdown arrows not visible (before scroll), when hamburger menu is clicked in mobile view"
![Screenshot (94)](https://user-images.githubusercontent.com/50296407/74223650-33dfa680-4cdd-11ea-986e-13af7506c78e.png)

 In Mobile View, when hamburger menu is clicked, drop-down arrows in front of
- Projects
- Events
- Programs
- About
are not visible before scroll.
I would really like to work on this issue. Please assign me with this issue.

[2020-02-11 16:06] bharat-1809 opened #673 "Text overlaps with header in License Agreements section of the page"
Here's a screenshot of the issue:

![Screenshot from 2020-02-11 21-26-12](https://user-images.githubusercontent.com/58745044/74254349-5510b900-4d16-11ea-8064-dd50e0cbd138.png)

I would like to work on this problem. Kindly assign me this issue.

Thanks

[2020-02-11 16:46] bharat-1809 opened #674 "Button text overlaps with the button outline in License section of the page"
"Contributor License Agreement" button text overlaps with the button border. I think we can add padding or space in the button to make it right.

Here's a screenshot of the issue:

![license_2_](https://user-images.githubusercontent.com/58745044/74258191-ee8e9980-4d1b-11ea-8605-cdca5d4fc761.jpg)

I would like to work on this problem. Please assign me this issue

[2020-02-12 04:21] AbhinavMir commented on #674
Let me do it real quick

[2020-02-17 15:17] snitin315 commented on #669
@Yashank18 are you still on it or can i give it a try?

[2020-02-17 20:30] Yashank18 commented on #669
I am working on it,I was waiting for someone to assign me this task.

[2020-02-18 01:13] snitin315 commented on #669
Nope No one is going to assign you , you created the issue and you commented I will work on this , the task is automatically assigned to you just create a Pull request.

[2020-02-18 02:10] Yashank18 commented on #669
Okay, thank you. I will create the pull request as soon as possible.

[2020-02-18 11:23] Yashank18 commented on #669
#680

[2020-02-18 11:25] Yashank18 commented on #669
@snitin315
Created Pull Request
#680

[2020-02-18 11:31] snitin315 commented on #669
Don't add comment like this to link pull request with issues. Github already provides good feature for that , add corresponding  issue in PR description , also everyone who have subscribed receives an email notification , for every pull request anyone creates , every comment any one adds , Hence these unnecessary activities should be avoided . Our emails are already flooded with github notificatio

[2020-03-02 06:37] #669 closed

[2020-03-05 18:28] #627 closed

[2020-03-07 17:37] prateekrai123 opened #683 "Lists are not properly indexed"
![issue](https://user-images.githubusercontent.com/54741353/76148025-5391a100-60c8-11ea-96df-a63844517f49.png)
These two lists are not proper according to the UI

[2020-03-08 09:45] abishekvashok commented on #683
Do you want to work on it? If yes, please go on

[2020-03-08 09:53] prateekrai123 commented on #683
Yes I want to work on it.
Thanks and regards.

On Sun, 8 Mar, 2020, 3:15 PM Abishek V Ashok, <notifications@github.com>
wrote:

[2020-03-08 09:55] prateekrai123 commented on #683
Yes I want to work on it.
Thanks.

[2020-03-08 10:14] prateekrai123 commented on #683
![solved issue](https://user-images.githubusercontent.com/54741353/76160847-a82e2e00-6153-11ea-9553-155eedf258b7.PNG)
Solved the issue assign me to the task.

[2020-03-08 10:15] prateekrai123 commented on #683
![image](https://user-images.githubusercontent.com/54741353/76160871-cf84fb00-6153-11ea-9fea-9779c1fee427.png)
Solved it. Assign me to it.

[2020-03-08 11:35] abishekvashok commented on #683
Just push in a PR

[2020-03-11 10:21] Chaitanyassr opened #684 "Some text are hidden in "A little more about FOSSASIA""
![Screenshot (182)](https://user-images.githubusercontent.com/30374226/76406595-ff303f00-63af-11ea-9a6d-1d7842c0805f.png)

[2020-03-18 15:44] Sohan022 commented on #684
I would like to work on this.

[2020-03-28 10:12] tikhsuP opened #686 "MEMBERSHIP heading text isn't responsive"
### Description

The word "MEMBERSHIP" in the
`<div class="col-sm-12">
..
..
<span class="price">Membership</span>
..
</div>`
overlaps the text paragraph next to it for the screen sizes from 976px to 1184px.

### Screenshot
![Screenshot (34)](https://user-images.githubusercontent.com/42881874/77820641-babfd580-7109-11ea-931c-d94a08ec854e.png)

Look into the similar issues #390  and #627 .

[2020-03-31 05:25] tikhsuP commented on #686
An easy fix is replacing the word 'Membership' by 'Join' as done in the Donate section above.

[2020-03-31 07:23] Chaitanyassr commented on #686
go ahead! make a PR :)

[2020-03-31 12:04] tikhsuP commented on #686
@Chaitanyassr
Kindly review.

[2020-03-31 14:29] Chaitanyassr commented on #686
you can reduce the size of membership in the respective css or make it responsive.....for more information studies the PR maid eariler.

[2020-03-31 15:29] tikhsuP commented on #686
Yes, I can definitely do that but, that will affect the 'Donate' section too.
Should I do that? @Chaitanyassr

[2020-04-01 14:01] tikhsuP opened #690 "Images need a proper alignment"
### Description

The images are aligned to left, by default. This doesn't looks good for screen sizes between 400px to 752px. This needs to be corrected.

![fa](https://user-images.githubusercontent.com/42881874/78145610-b881b200-744e-11ea-937a-94455f245a21.PNG)

![faa](https://user-images.githubusercontent.com/42881874/78145676-cb948200-744e-11ea-8f35-57ca4f6472c6.PNG)

[2020-04-01 14:07] tikhsuP commented on #690
We need to assign `margin: auto;` to the images.

[2020-04-18 08:06] ishandeveloper opened #692 ""A little more about FOSSASIA" section text Gets Cropped"
![Screenshot (215)](https://user-images.githubusercontent.com/54989142/79631800-c89ccf80-8178-11ea-88d4-bb0ca34d7611.png)

fixed height of the section causes the paragraph text to crop.

[2020-04-18 08:07] ishandeveloper commented on #692
I would like to work on this issue. Kindly assign it to me.

[2020-04-18 08:21] Chaitanyassr commented on #692
@ishandeveloper an issue is already there for this..and a professional is also already made..#684. Kindly close this one.

[2020-04-18 08:21] #692 closed

[2020-04-24 07:54] aman-earthian commented on #690
hey @tikhsuP can I work on this issue.

[2020-04-24 07:57] tikhsuP commented on #690
Yes @aman-earthian you are welcome to work on it.
I have tried to simplify the problem and provide a hint to the solution, please feel free to ask any doubts.

[2020-04-24 09:27] aman-earthian commented on #690
do i have to commit changes in custom.css file in css folder

[2020-04-24 12:58] tikhsuP commented on #690
@aman-earthian
All you need to do is assign `margin: auto;` to the images that are misaligned.
You can do it in whichever way you like.

[2020-04-24 13:06] aman-earthian commented on #690
I have checked by changing through console, every image is assigned image-responsive class and I can set margin-auto by selecting this class, so that's why I am asking is there any standard css file there where all css changes have to be made.

[2020-04-25 13:23] Dilshan1997 commented on #690
can I work in this issue?

[2020-04-26 14:27] Chaitanyassr commented on #690
@aman-earthian has already submitted a PR which is under review. You can work on a different issue for now. thank you.

[2020-04-26 15:08] yozaam commented on #671
I think this is no longer an issue because they removed this slide, http://fossasia.org/#myCarousel 🙈

[2020-04-29 08:21] ghost commented on #659
now it look better??
![Screen Shot 2020-04-29 at 13 47 23](https://user-images.githubusercontent.com/46621292/80574976-6f5a5900-8a20-11ea-984e-bf04612ed198.png)

[2020-04-29 10:45] ishandeveloper opened #695 "Sidebar Copyright and Misaligned Social Icons"
## The copyright text in the sidebar overflows the sidebar area and gets cropped.
### Also, the social icons look like they're so tightly squeezed together. I feel that they could use some padding.

### Screenshots Of The Issue :
![image](https://user-images.githubusercontent.com/54989142/80586731-0203f380-8a33-11ea-95a5-0dd84eca39f0.png)

### Proposed Changes :
![image](https://user-images.github

[2020-04-29 13:16] Chaitanyassr commented on #695
Hi @ishandeveloper thanks for reporting the issue. Go Ahead and make a PR.

[2020-04-29 13:54] ishandeveloper commented on #695
Hey @Chaitanyassr I have just created a PR for same. Kindly have a look 😄

[2020-05-01 13:45] Dilshan1997 opened #697 "highlight the nav links"
I suppose it is very important to access the links.

[2020-05-02 05:30] Chaitanyassr commented on #697
Hi @Dilshan1997 , Please be more clear and specific about the issue. attach a screenshot and what do you mean by accessing the link. Which link you are talking about etc.

[2020-05-04 04:53] Dilshan1997 commented on #697
![image](https://user-images.githubusercontent.com/48722230/80937019-004e7d00-8df1-11ea-951f-1a0271cb69d3.png)

that nav links highlight.

[2020-05-06 23:21] Deeksha2501 commented on #697
I would like to work on the issue

[2020-05-06 23:25] Deeksha2501 commented on #656
Is this issue still open? I want to work on this

[2020-05-06 23:27] Deeksha2501 commented on #668
Is this issue still open?
I would like to work on this

[2020-05-06 23:28] Chaitanyassr commented on #656
Hi @Deeksha2501 , there is a PR already opened and also has been approved..better wait for it to get merged.

[2020-05-06 23:31] Chaitanyassr commented on #697
Hi @Deeksha2501 , A PR is already there for this issue also and it is approved by 2 members. it would be suggested to hold of for this issue.

[2020-05-06 23:33] Chaitanyassr commented on #668
@Deeksha2501 Issue is still open but a PR is already there. merging of this PR will close the issue.

[2020-05-07 08:37] keshavagarwal17 commented on #697
is this issue is open? I would like to work on it.

[2020-05-07 08:40] Dilshan1997 commented on #697
yes this issue is open.you can contribut to it

[2020-05-07 08:40] keshavagarwal17 commented on #666
Please assign this task to me. I would like to work on this issue.

[2020-05-07 08:46] keshavagarwal17 commented on #654
is this issue is still open?
I would like to work on this issue.

[2020-05-07 08:51] keshavagarwal17 commented on #697
thanks. i am going to start work on it.

[2020-05-07 08:52] Chaitanyassr commented on #654
Yes, You can work on this as the current PR is inactive.

[2020-05-07 08:54] Chaitanyassr commented on #666
@The-Keshav-Agarwal  yes , go ahead.

[2020-05-07 09:01] Pranav-Kumar-Rai commented on #697
Can i work on it?

[2020-05-07 09:04] Chaitanyassr commented on #697
Are you saying that you want to highlight , projects, events, shop, blog and all. correct me if i am wrong?

[2020-05-07 09:08] Pranav-Kumar-Rai commented on #697
Yes I want to work on that but i am beginner.

On Thu 7 May, 2020, 2:34 PM CHAITANYA, <notifications@github.com> wrote:

[2020-05-07 09:17] keshavagarwal17 commented on #697
but i am working on it

[2020-05-07 09:21] Dilshan1997 commented on #697
Yeah your right

[2020-05-07 09:26] keshavagarwal17 commented on #654
Thanks i am going to work on this.

On Thu, 7 May 2020, 2:23 p.m. CHAITANYA, <notifications@github.com> wrote:

[2020-05-07 09:27] Deeksha2501 commented on #668
ok

[2020-05-07 09:28] Deeksha2501 commented on #656
ok

[2020-05-07 09:38] keshavagarwal17 commented on #697
![Screenshot (248)](https://user-images.githubusercontent.com/56120769/81279281-8b8b7500-9074-11ea-9025-24ee6c969127.png)

is it fine?

[2020-05-07 09:42] Dilshan1997 commented on #697
I suppose change the background colour of navs most usable..not only the nav link front colour

[2020-05-07 09:48] keshavagarwal17 commented on #697
you want to change the background color of nav link always or only on hover??

[2020-05-07 09:49] Dilshan1997 commented on #697
Only hover.

[2020-05-07 09:58] keshavagarwal17 commented on #697
can you please tell me the html file name or folder name in which this file exist of navbar part.

[2020-05-07 10:11] Pranav-Kumar-Rai commented on #697
![fossAsia](https://user-images.githubusercontent.com/56068551/81282676-21c19a00-9079-11ea-9527-c0d6cda9a967.png)
Do you want something like this?

[2020-05-07 10:31] Chaitanyassr commented on #697
@Dilshan1997  @The-Keshav-Agarwal  @betrayer-beep @Deeksha2501  This issue is not a bug fix. This is a feature request. A new feature implementation requires the discussion first from the mentors . @mariobehling @abishekvashok @prateekiiest can someone please look at this issue. Is this required or not as I believe that this repository is inactive and not being maintained.

[2020-05-07 10:38] Dilshan1997 commented on #697
Ok i request it..@chaitnyasr thanks explain that thing..

[2020-05-07 10:43] Chaitanyassr commented on #697
@Dilshan1997  Dont close the issue, i have tagged the mentors they would be reaching out soon. An issue can be a feature request or bug report.

[2020-05-07 11:13] keshavagarwal17 commented on #654
![Screenshot (249)](https://user-images.githubusercontent.com/56120769/81288233-dc559a80-9081-11ea-933a-e4cfaa02805e.png)
is it fine?

[2020-05-07 17:54] betrayer-beep opened #699 "bug fix"
Description

in mobile view if you click if you click and expand any of the Projects,Events or Program they work fine and dropdowns to show further options but it never goes back to original state even after clicking on it ...For better understanding have a look on the screenshot.

![Bug](https://user-images.githubusercontent.com/56068551/81328067-e8f5e500-90b9-11ea-8931-4e66aac02a23.png)

[2020-05-08 09:37] nlok5923 opened #701 "heading overlapped a bit needed a fix"
![Screenshot_20200508-145854_2](https://user-images.githubusercontent.com/56120084/81393185-bd342880-90d4-11ea-9a17-5a8d838f6951.png)

when viewed via mobile heading overlapped a bit.

can I work on this issue.
please let me know.

[2020-05-08 11:40] nlok5923 commented on #701
Please can anybody guide me for solving this issue as I am a beginner.

[2020-05-08 12:16] Chaitanyassr commented on #699
Hi @betrayer-beep  Even in the desktop clicking back wont make them collapsed. But i believe that clicking back should make them collapsed to.

[2020-05-08 12:18] Chaitanyassr commented on #701
Hi @nlok5923 thanks for creating the issue. I believe its fine. Instead of this you can focus on fixing and adding the space between OPENTECHSUMMIT and VIETNAM.

[2020-05-08 12:20] Chaitanyassr opened #702 "Adding gap between OPENTECHSUMMIT and VIETNAM in mobile view."
adding the space between OPENTECHSUMMIT and VIETNAM so they dont overlapped each other in mobile view.

[2020-05-08 12:20] nlok5923 commented on #701
Please can you guide me through which css file I can approach to resolve this issue.

[2020-05-08 12:23] #702 closed

[2020-05-08 15:42] Pranav-Kumar-Rai commented on #699
@Chaitanyassr  can i work on that?

[2020-05-08 17:35] nlok5923 commented on #701
@Chaitanyassr can you guide me that I should approach which css file to bring necessary changes.

[2020-05-09 03:50] nlok5923 commented on #701
this issue has been resolved you can view at  vn.opentechsummit.asia and  i had made PR to the github repo
you can view changes at
https://suspicious-leavitt-4ebe5f.netlify.app/

[2020-05-09 10:44] scortier commented on #701
@Chaitanyassr Can i solve this issue.

[2020-05-09 11:11] s-pratyush commented on #701
@Chaitanyassr  can i solve this issue

[2020-05-09 11:37] Pratyush-Saxena opened #704 "some " © Copyright 2009-2020 Creative..." text is hidden"
![Screen Shot 2020-05-09 at 17 04 22](https://user-images.githubusercontent.com/52444607/81472708-7b5fcb00-9217-11ea-8acc-5d621b18d6c2.png)

[2020-05-09 11:38] s-pratyush commented on #704
@Chaitanyassr  can i work on this issue

[2020-05-09 11:41] #704 closed

[2020-05-09 12:02] tewarig opened #705 "Options in menu are not properly align in a Vertical line in Mobile view"
The which appears in the mobile version of the site, have items not aligned in a  single vertical line.
![WhatsApp Image 2020-05-09 at 17 28 34](https://user-images.githubusercontent.com/54894783/81473236-b3b4d880-921a-11ea-8e77-e7c029a6ab4b.jpeg)
if it is an issue, please tell me I would like to work on it.

[2020-05-09 12:24] Pratyush-Saxena opened #706 "Navigation button missing in event page (in mobile view)!"
![Screen Shot 2020-05-09 at 17 48 38](https://user-images.githubusercontent.com/52444607/81473702-e4e2d800-921d-11ea-94f6-97fec35b9d6c.png)

On clicking event link (present in navigation panel) webpage do not contain a navigation button for futher navigating to other webpages.

[2020-05-09 12:25] Pratyush-Saxena commented on #706
@Chaitanyassr  if this is actually a issue to be fixed , can work on it

[2020-05-09 13:01] Chaitanyassr commented on #701
@nlok5923 Have you opened the iuuse at correct repo? If not then close this issue and opened it in correctt repo and also provide the PR link.

[2020-05-09 13:03] #701 closed

[2020-05-09 13:06] Chaitanyassr commented on #705
hi @tewarig , thanks for submitting the issue although i believe that its completely fine.

[2020-05-09 13:08] tewarig commented on #705
ok, I would be closing the issue.

[2020-05-09 13:08] #705 closed

[2020-05-10 06:31] s-pratyush commented on #706
@Chaitanyassr can I work on this issue

[2020-05-10 12:27] Manish-Kumarr commented on #706
I wanna work on this project

[2020-05-10 15:44] Manish-Kumarr commented on #706
Finally i found the solution.
Could you tell me from where i get https://events.fossasia.org/ website files ? In this repository there is no files of events page.

[2020-05-11 06:52] The-Keshav-Agarwal opened #709 "Navbar Link is not highlighting on hover in open Tech Summit sri lanka"
**Actual Behaviour**
Link is not highlighted on hover

**Expected Behaviour**
on hover there should be color change of background and text of links.

**Screenshot of issue**
![image](https://user-images.githubusercontent.com/56120769/81532228-ac5c0f00-9381-11ea-8e2d-2ea0dcadccad.png)

**Would you like to work on this issue**
Yes, I would like to work on this issue.Please assign this task to me.

I

[2020-05-11 07:28] nlok5923 commented on #709
I think this is not the correct repo to raise this issue.

[2020-05-12 11:41] Chaitanyassr commented on #709
@The-Keshav-Agarwal Thanks for reporting the issue. Please open it in current repo..and then go ahead and make a PR :)

[2020-05-12 11:44] Chaitanyassr commented on #706
@Pratyush-Saxena go ahead! :)

[2020-05-12 12:52] keshavagarwal17 commented on #709
ok,thanks.

[2020-05-12 12:52] #709 closed

[2020-05-12 16:22] Manish-Kumarr opened #710 "Background is not visible proper while hover on navigation"
### 1.
**----Before Event Hover----**
![before](https://user-images.githubusercontent.com/53834930/81719091-3a2b1d80-949a-11ea-9892-32172dd4a1d2.PNG)

**----After Event Hover----**
![after](https://user-images.githubusercontent.com/53834930/81719100-3e573b00-949a-11ea-89c5-4a150a34b85d.PNG)

### 2.
**----Before Program Hover----**
![before program](https://user-images.githubusercontent.com/5383493

[2020-05-12 16:23] Manish-Kumarr commented on #710
@Chaitanyassr Can I work on this issue ?

[2020-05-12 19:41] Chaitanyassr commented on #710
Hi @Manish-Kumarr Thanks for reporting the issue. In my case the site is working fine. Backgroud is properly visible in my web browser so i believe that it may be some kind of other problem.

[2020-05-12 19:44] Manish-Kumarr commented on #710
@Chaitanyassr if you will keep decreasing your browser then you can see this problem.

[2020-05-13 16:48] Mayank0022 commented on #673
is this issue is open, i would like to work on it

[2020-05-14 17:51] Mayank-create opened #711 "licence is not completely visible"
It is a issue of styling, licence in the bottom of the sidebar is not completely  visible.

![fossasia_before](https://user-images.githubusercontent.com/57790631/81967950-56b18c00-9639-11ea-94a2-e95015e3025b.jpg)
**before commit**

![fossasia_after](https://user-images.githubusercontent.com/57790631/81968046-79dc3b80-9639-11ea-863b-1a5cb1d068f0.jpg)
**after commit**

[2020-05-14 17:52] Mayank0022 commented on #711
i would like to work on this issue#711, so please assign it to me.

[2020-05-14 19:02] Chaitanyassr commented on #711
Hi @Mayank-create , I similar issue is already there and a PR has also been submitted but you can always work on a different issue.

[2020-05-14 19:08] Mayank0022 commented on #711
@Chaitanyassr , that's cool

[2020-05-16 14:38] NilimaC04 opened #712 "Need to update the internal URL for YAYDOC project on fossasia.org website under Projects dropdown list"
Yaydoc is currently operating on http://yaydoc.org/ i.e without SSL and the URL on fossasia.org website
under the PROJECTS section is forcefully redirecting it to HTTPS and as a result it shows "Unable to connect"

Required fix: update the internal URL from https://yaydoc.org/ to http://yaydoc.org/

Steps to replicate the issue:
Go to : https://fossasia.org >> PROJECTS >> click on "YAYDOC"

Below

[2020-05-17 09:42] shashwattpandeyy opened #713 "Update README.md"
Some grammatical error

[2020-05-17 10:15] shashwattpandeyy commented on #713
Updated README.md [https://github.com/shashwattpandeyy/fossasia.org.git](url)

[2020-05-17 13:47] Chaitanyassr commented on #713
Please also describe the grammatical mistakes.

[2020-05-17 14:10] Kushagraw12 commented on #616
Please provide some description, so that i can take this up. I want to contribute.

[2020-05-19 09:39] chetan-v commented on #712
@NilimaC04 I work on it

[2020-05-19 10:54] chetan-v commented on #711
@Chaitanyassr @Mayank-create  I done this can I send PR

[2020-05-19 12:38] Chaitanyassr commented on #711
@chetan no need to solve this issue..there is a PR already there....please work on  a different issue. thank you

[2020-05-19 13:06] ishandeveloper commented on #695
@Chaitanyassr Even though the changes were approved, but the PR was stale, while waiting for review since last 20 days. So, it got force-closed by pull-bot.

Can you look into this?

[2020-05-19 19:16] saloniankita opened #717 "Organization joining link not working on FOSSASIA Internship Program Form"
In order to be eligible for FOSSASIA Internship Program, there are some prerequisites for the applicants. One such prerequisite is being a public member of the FOSSASIA GitHub organization. While checking it out, I found that the link attached to this option isn't working. I'm not sure whether this has been disabled or not.
I have attached the images below.
![Screenshot 2020-05-20 00 41 28](https:

[2020-05-20 12:54] Kushagraw12 commented on #654
Has this issue been resolved or is it still active? If active, can i take up this issue?

[2020-05-20 14:01] Chaitanyassr commented on #654
@Kushagraw12 hi, a PR has already been submitted.. please work on a different issue.

[2020-05-21 23:18] Manish-Kumarr commented on #706
@Chaitanyassr Is it pending?
Can I work on it?

[2020-05-22 11:14] Chaitanyassr commented on #706
Looks like no one is working on it...so you can @Manish-kumarr

[2020-05-22 11:16] Manish-Kumarr commented on #706
ok but on this repo there is no file or folder of event page.

[2020-05-22 20:09] mohak852 commented on #717
I have checked it . It is working fine

[2020-05-24 05:52] prashantbarge22 commented on #712
@NilimaC04  I would like to work on this issue .

[2020-05-24 06:05] aryan7778 commented on #717
@mohak852 it is not working for me

![Screenshot (83)](https://user-images.githubusercontent.com/36998845/82747077-7cfec680-9db3-11ea-85fc-edd2715d7af6.png)

[2020-05-24 06:28] saloniankita commented on #717
@mohak852 I checked the link again. It's not working.

[2020-05-24 10:10] Chaitanyassr commented on #712
Hi! Thanks , But a PR has already been submitted. Please solve other issues.

[2020-05-24 11:07] Manish-Kumarr commented on #706
@Chaitanyassr  I have created a Pull Request. You can check on https://github.com/fossasia/events.fossasia.org

[2020-05-25 14:27] mohak852 commented on #717
Actually you are writing. For me also it's not working and I wanna work on this issue.So please assign this issue to me

[2020-05-25 18:34] sparsh-99 opened #719 "[Enhancement]: CSS Updation"
<b>I suggest that you should use colors in your social media referenced icons to make them more attractive and standardized on hover.</b>

![Screenshot (477)](https://user-images.githubusercontent.com/56729873/82836367-01506700-9ee4-11ea-8e6b-34976a3d29c8.png)
![Screenshot (476)](https://user-images.githubusercontent.com/56729873/82836374-03b2c100-9ee4-11ea-93c6-f68668ca204e.png)

<b>Additional Co

[2020-05-26 11:09] abishekvashok commented on #719
Hey fossasia uses a standard template for footer across many sites, updating it will require updations to other sites as well. Hence, it is wise to update the footer only when really required. I don't feel the change is necessary. In the meantime, I appreciate the work you've put into looking into this repo, there are more fossasia projects where contributions are needed. Please see them instead :

[2020-05-28 06:45] amulyavw commented on #616
I want to work on this issue. Please provide a proper description

[2020-05-28 12:14] #616 closed

[2020-05-29 19:44] sparsh-99 commented on #719
@abishekvashok But sir, It will look superbly great when icons have its standard colors. I know fossasia set its standard footer but what about I will show my idea through PL and then you would review it. After all, it's all your choice whether to merge it or close it

[2020-05-29 19:51] sparsh-99 commented on #717
@mohak852 @saloniankita Yes, she is correct. The 2nd link is not working. I think it is being revoked by the org as the submission deadline is gone.

[2020-06-01 02:04] khushi0302001 opened #720 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2020-06-01 17:11] #711 closed

[2020-06-02 12:54] #720 closed

[2020-06-02 15:11] Siddharth1698 opened #721 "Navbar bug"
I noticed that once you press navbar and then if you minimize the screen to mobile mode, the navbar button expansion and reduction is no more working.
![Screenshot from 2020-06-02 20-37-05](https://user-images.githubusercontent.com/31384057/83536646-201cb200-a511-11ea-8ab2-03121c4e7a9f.png)

This seems to be some bug with the navbar expansion.

How to find the bug:
1. In full screen press on navba

[2020-06-07 12:24] RinkiyaKeDad commented on #721
I'd like to work on this issue.

[2020-06-07 12:29] Siddharth1698 commented on #721
Before starting do make sure you get confirmation from the maintainers.. like many projects in fossasia I've seen which arent archived but no one cares to merge PR or look at issues. It's like simply left out projects.

[2020-06-07 12:40] RinkiyaKeDad commented on #721
How do I contact maintainers to get their confirmation? A pull request to this repository was closed 6 days ago so I guess it is still being looked after.

[2020-06-07 12:43] Siddharth1698 commented on #721
Ok. They will probably reply back to ur request. I've seen a trend in their projects. But not always true. So let's wait for them to reply.

[2020-06-08 20:37] Tejas-Asthana commented on #666
is this issue still open?

[2020-06-10 06:35] Ritwik880 opened #722 ""TypeError: Cannot read property 'text' of undefined""
Overview of the issue:
Documentation generation failing with error like below during documentation generation on routing module file when there are too many (?) thing exported from file with the routing module.

[2020-06-18 08:55] 3scava1i3r commented on #713
Can you please elaborate the issue.

[2020-06-18 10:22] Code-Recursion opened #723 "Navbar footer text not visible"
the footer text "© Copyright 2009-2020 Creative Commons By License, FOSSASIA" is not fully
visible even on fullscreen only "© Copyright 2009-2020 Creative" text is visible

<strong>Before</strong>

![nav-bar-bug](https://user-images.githubusercontent.com/52364224/85008893-39616780-b17b-11ea-88d1-d4629280428b.JPG)

<strong>After</strong>

![fossassia-bug-fix](https://user-images.githubusercontent.c