[2020-06-18 14:43] SauravNCI commented on #723
I want to work on this issue. Can you guide me.

[2020-06-19 06:45] SauravNCI commented on #723
Can someone assign me this issue. I want to work on this issue.

[2020-06-19 06:47] Code-Recursion commented on #723
I have already started to fix this issue.

[2020-06-19 06:49] SauravNCI commented on #723
Ok.thnx

[2020-06-24 18:19] shahkushal38 commented on #684
If this issue is still open ,I would like to work on it.

[2020-06-26 04:33] Code-Recursion commented on #723
It's been 8 days kindly review my PR.

[2020-06-27 15:39] Manish-Kumarr commented on #706
@Chaitanyassr Have You seen ?

[2020-06-29 11:16] Raunaksingh100 commented on #674
i want to  work on this issue

[2020-06-29 11:41] Raunaksingh100 commented on #674
![screenshot of FOOSASIA](https://user-images.githubusercontent.com/65535360/86000647-6fc89d80-ba2b-11ea-9775-fb72bfdd666a.PNG)

As i checked,
This option ""contributor license agreement"" is  now removed  or updated ** by the Developer ** .........

[2020-07-01 03:02] thushan-sen opened #727 "text overlap in "Membership-individual or organization" section"

[2020-07-01 03:14] thushan-sen opened #728 "No search option in the home page"
It is hard to find a specific section of the site without a search option

[2020-07-01 05:19] endhambot opened #729 "Missing the full footer in nav bar"
in the nav bar some part of the footer is not visible

![issue](https://user-images.githubusercontent.com/66719901/86205685-22157780-bb88-11ea-8a5d-6c0d8db6e1a8.png)
![issue2](https://user-images.githubusercontent.com/66719901/86205692-25a8fe80-bb88-11ea-8d1e-7db32434b0dc.png)

[2020-07-01 13:04] soumyajit4419 commented on #729
I would like to work on this issue.

[2020-07-01 14:31] endhambot opened #730 "Nav bar is missing in mobile version on event page"
there is no nav bar in event page when we browse using mobile

![IMG_20200701_195453](https://user-images.githubusercontent.com/66719901/86255978-667b3480-bbd5-11ea-95cd-eccdbdaa9018.jpg)

[2020-07-01 17:54] Thusal06 commented on #713
I checked the README.md and there are no grammatical or any spelling errors in it. But there is a comma missing on 'and' should be corrected as ', and',
![image](https://user-images.githubusercontent.com/66709891/86276019-cbdd1e80-bbf1-11ea-97a1-8f8839c13d19.png)
So, I think the issue has been solved. :)

[2020-07-02 00:57] sparsh-99 commented on #730
Would love to work on this issue!!! @iamareebjamal

[2020-07-02 13:29] SDR0512 opened #733 "Internal broken link"
there is a broken link in Fossia Web site
error link - https://fossasia.org/coc/donate/

[2020-07-02 14:03] aaksr commented on #729
Pull request#734 ; Change position of footer from bottom to 30px from 5px

[2020-07-02 17:39] Raunaksingh100 commented on #730
this bug is already fixed  see in the screenshot
![issue](https://user-images.githubusercontent.com/65535360/86392379-fb0a9300-bcb8-11ea-8bdb-3a7b7ee6d71f.jpg)

[2020-07-02 17:40] Raunaksingh100 commented on #730
![Uploading issue.jpg…]()

[2020-07-03 06:16] Raunaksingh100 commented on #730
![issue](https://user-images.githubusercontent.com/65535360/86437916-27f39000-bd23-11ea-8539-a972f48a705b.jpg)

@sparsh-99
This issue is already fixed see in this  screenshot ,,,
plz find some other issues.....

[2020-07-03 06:35] Raunaksingh100 opened #735 "image responsive issue in mobile view"
![issue 1](https://user-images.githubusercontent.com/65535360/86438897-08f5fd80-bd25-11ea-990a-6c7917fa92b5.PNG)

Image responsive issue in mobile view see in the screenshot for the better understanding.....

[2020-07-03 06:45] Raunaksingh100 opened #736 "Map responsive issue in Mobile view map need proper alignment"
![issue 2](https://user-images.githubusercontent.com/65535360/86439810-e06f0300-bd26-11ea-8932-f83013b953c6.PNG)

Map responsive issue in Mobile view

[2020-07-03 06:47] Raunaksingh100 commented on #736
map is not responsive in mobile view but responsive in desktop view #736

[2020-07-03 10:57] Raunaksingh100 opened #737 "Issue with the Sponsorship info Button"
![issue 3](https://user-images.githubusercontent.com/65535360/86462147-bf1f0e80-bd48-11ea-8df7-f49e119eb5c3.PNG)
 I
Issue with the **Sponsorship info Button ** in mobile view wrapping with image see in the screenshot for the better understanding

[2020-07-03 13:46] SDR0512 opened #739 "Create touch icon"
Use a memorable logo as the touch icon so your website will make a good impression as a bookmark on mobile devices.

[2020-07-04 01:33] Anu2006-dev opened #740 "needed to move the scrollbar to view the full page in mobile view"
![issue](https://user-images.githubusercontent.com/61502343/86473482-97d33c00-bd5e-11ea-8da2-bc5454edb5a0.png)
I had to move my screen bit to the right to see the content on the right. not fully responsive.

[2020-07-04 09:19] Raunaksingh100 opened #742 "Copyright issue not solved yet!! footer problem"
![footer issue](https://user-images.githubusercontent.com/65535360/86509434-85600d80-be05-11ea-93e3-30d14ef7f796.PNG)

[2020-07-04 10:27] midopooler commented on #235
@abishekvashok that link is not working. could you help?

[2020-07-05 00:49] #739 closed

[2020-07-05 00:49] #733 closed

[2020-07-05 06:07] Raunaksingh100 commented on #742
@endhambot not fixed yet see in the offical website

[2020-07-07 08:46] Dilshan1997 commented on #742
I working this issue

[2020-07-07 10:15] Raunaksingh100 commented on #742
@dilshan1997

Already My  pr for this and it is approved by mentors

[2020-07-07 10:41] liveHarshit commented on #742
Merged

[2020-07-07 10:41] #742 closed

[2020-07-07 13:22] liveHarshit opened #746 "Add a pull request template"
Add a default pull request template with the following checkbox:
- Preview link provided
- PR is linked to an issue

[2020-07-08 05:54] onkar-shaligram opened #747 "No proper Horizontal Letter Spacing"
Horizontal Spacing between letters is very less
![Screenshot (41)_LI](https://user-images.githubusercontent.com/57686423/86882154-687d5000-c10d-11ea-9895-7da75d35e92d.jpg)

[2020-07-08 08:51] onkar-shaligram commented on #747
Pull Request has been Successfully merged. Hence closing this issue.

[2020-07-08 08:51] #747 closed

[2020-07-08 12:22] #728 closed

[2020-07-08 12:22] #727 closed

[2020-07-09 04:34] onkar-shaligram opened #749 "Copyright text not visible"
![Screenshot (46)_LI](https://user-images.githubusercontent.com/57686423/86997160-10a51e80-c1cb-11ea-940a-1f43b76aa91b.jpg)

[2020-07-09 11:14] deprov447 opened #751 "Dropdown items overflow"
![fossasia](https://user-images.githubusercontent.com/57551996/87033002-14ed2e00-c203-11ea-8bd4-c5a6c6885634.png)
Dropdown items overflow out in all 4 dropdown menus.

[2020-07-09 11:19] deprov447 commented on #751
I have created the patch for this issue.
Please review.
[PR](https://github.com/fossasia/fossasia.org/pull/752#issue-446793313)

[2020-07-10 07:31] #737 closed

[2020-07-10 10:19] Raunaksingh100 opened #753 "Text and the LINK is overlapping not visible in Mobile view.."
![issued foss org](https://user-images.githubusercontent.com/65535360/87144087-d6b84300-c2c4-11ea-9924-9e3afabb8e53.PNG)

Text and the LINK  is overlapping not visible in Mobile view see in the screenshot for the better understanding

[2020-07-10 10:50] #736 closed

[2020-07-10 10:51] anilmaurya61 opened #755 "Image responsiveness issue in mobile view(image slide)"
Screenshots for better understanding.

![Capture5](https://user-images.githubusercontent.com/56387037/87146709-4e8b5c80-c236-11ea-8629-9cc7495a7c1c.JPG)
![Capture4](https://user-images.githubusercontent.com/56387037/87146714-50552000-c236-11ea-89fc-d8efa9463d20.JPG)

[2020-07-10 11:19] bankebihariagrawal opened #756 "UI/UX Design : Hover effect upgraded"
I changed the hover effect on your Contact Links
Example: Github, LinkedIn,  Youtube, and all.

[2020-07-10 18:48] #749 closed

[2020-07-13 16:07] Neilblaze opened #758 "Bottom to top button alignment issues."
• Issue :-

In the landing page of Fossasia i.e fossasia.org, the Back to top button is not correctly aligned, & when page is zoomed in (>125%), it gets out of page margin.

![b2t](https://user-images.githubusercontent.com/48355572/87326535-7d644400-c550-11ea-99fb-466af9ab03bc.JPG)

• Do I want to work upon this issue?

Yes, I want to work upon this issue. It would be better if the existing "Botto

[2020-07-14 10:06] bankebihariagrawal commented on #758
can I work on this?

[2020-07-14 10:30] bankebihariagrawal commented on #758
After the changes, it looks like this

![Bottom button](https://user-images.githubusercontent.com/52813916/87415669-0cbe3580-c5eb-11ea-80b3-602604238a95.png)

[2020-07-14 12:08] bankebihariagrawal commented on #758
Can I made a pull request?

[2020-07-14 12:12] Neilblaze commented on #758
@bankebihariagrawal I already mentioned that I was working on it :)

[2020-07-14 12:14] bankebihariagrawal commented on #758
Ok

[2020-07-18 07:43] Raunaksingh100 opened #760 "The Names of the Android apps name not visible (BUG)"
The name of the Android apps is not visible  see the screenshot for the better understanding

!screenshot --------

![foss](https://user-images.githubusercontent.com/65535360/87847808-72b30180-c8f8-11ea-9a45-5010e9b30277.PNG)

[2020-07-18 14:24] tarunsinghofficial commented on #758
Can I work on it?

[2020-07-18 16:17] Neilblaze commented on #758
@tarunsinghofficial there's already a PR issued to this issue - #759

[2020-07-20 08:20] akash-arelli commented on #683
I would like to work on this issue. please assign it to me.

[2020-07-20 10:43] Adhinesh-Reddy commented on #735
![IMG_20200720_160117](https://user-images.githubusercontent.com/68197578/87929287-d299db80-caa3-11ea-8d24-9f8eab97c4b3.jpg)

I have adjusted the image.
If liked it then please let me know.

[2020-07-20 14:04] Adhinesh-Reddy commented on #735
I want to do.

[2020-07-20 14:13] Raunaksingh100 commented on #735
@Adhinesh-Reddy  go ahead...

[2020-07-21 12:29] #683 closed

[2020-07-25 05:42] prithwishpramanik commented on #740
can I work on this issue?

[2020-07-25 06:38] prithwishpramanik commented on #746
Can I work on it?

[2020-07-26 06:27] aditya2712 commented on #755
I would like to work on this issue

[2020-07-26 08:59] Raunaksingh100 opened #762 "nav bar issue (mobile view)"
![issue i nav bar](https://user-images.githubusercontent.com/65535360/88475322-66f4ba00-cf4c-11ea-9ccf-beb5e1a038a4.PNG)

[2020-07-26 08:59] #762 closed

[2020-07-26 09:38] anilmaurya61 commented on #755
Go ahead.

[2020-07-28 11:33] agarwalraj505 commented on #760
I want to work on this issue please assign me this task. Also, I am new to this repository so do help me to navigate through the repository.

[2020-07-28 11:55] Raunaksingh100 commented on #760
@agarwalraj505  you can work on this issue just
do fork then clone..

[2020-07-28 15:27] agarwalraj505 commented on #760
OK

[2020-08-02 17:22] nickinack opened #764 "Upgrade Android apps section's design"
Upgrades and design change suggestions:

1. Resize the images.
2. Add shadow effects on hover.
3. Change the color and the font of android app names.
4. Ensure that the design fits in with that of the entire website.

Note: I would like to work on this issue.

[2020-08-06 11:18] Aaishpra commented on #755
@anilmaurya61 can i work on this issue

[2020-08-06 11:40] khushishikhu commented on #735
may i work on this issue?

[2020-08-06 14:53] psyduck1203 commented on #753
Hey can i work on this ?

[2020-08-06 14:54] psyduck1203 commented on #722
Hey can i work on this ?

[2020-08-06 14:55] psyduck1203 commented on #764
Hey can i work on this ?

[2020-08-06 14:56] Raunaksingh100 commented on #753
@psyduck1203  i already fixed this issue and create a pr for this plz  find some other issues
thanks............

[2020-08-06 15:01] psyduck1203 commented on #753
Okay :)

[2020-08-06 15:02] psyduck1203 commented on #729
Is the issue solved ?

if no i would like to work on this issue.

[2020-08-06 15:04] anilmaurya61 commented on #755
Go ahead.

[2020-08-06 15:06] Ritwik880 commented on #722
I don't think they are seeing this issue.

[2020-08-07 05:10] Aaishpra commented on #713
@Thusal06 can i create a pr for this

[2020-08-07 05:59] Aaishpra commented on #755
@anilmaurya61 can you please tell me how can i build this on my local machine as i would need to review changes and there is no information provided in the readme to set this project on our local machines.
like i cloned the repository on my device but how to set this up

[2020-08-07 17:05] Dilshan1997 commented on #760
I can fix this issue

[2020-08-07 17:24] Dilshan1997 commented on #760
#765
problem fix
![change app name design](https://user-images.githubusercontent.com/48722230/89671929-7cc98e00-d901-11ea-8567-b68be485c4b9.PNG)

[2020-08-09 02:14] anilmaurya61 commented on #755
@Aaishpra forked repo then do all commit changes there and send PR.

[2020-08-13 08:26] vikramroy622 opened #766 "homepage of fossasia.org in dropdown menu navigator please add scroll bar or make all the option visible in desktop version"
homepage of fossasia.org in dropdown menu navigator please add scroll bar or make all the option visible  till the end
![WhatsApp Image 2020-08-13 at 1 38 06 PM (1)](https://user-images.githubusercontent.com/64978616/90114253-1795f280-dd70-11ea-92d3-839f3183e2de.jpeg)

![WhatsApp Image 2020-08-13 at 1 38 06 PM](https://user-images.githubusercontent.com/64978616/90114334-33999400-dd70-11ea-9986-9a9

[2020-08-13 17:49] Raunaksingh100 opened #767 "link overlapping to right in the mobile view"
the link is overlapping to right in the mobile view

### screenshot
![foss](https://user-images.githubusercontent.com/65535360/90168887-6452eb00-ddbb-11ea-8a5a-77ad4b377d5d.PNG)

[2020-08-13 17:50] Raunaksingh100 commented on #767
### i am working on this issue

[2020-08-18 15:58] shantanumallik commented on #766
**I am working on this issue**

This issue is prevalent in the mobile version of the website as well. This is how it looks on an iPhone X.

Unable to scroll beyond the project ***Scrum Helper*.**

![FOSSASIA_ISSUE_1](https://user-images.githubusercontent.com/63910430/90536391-a1432700-e199-11ea-9be8-61124e94db72.png)

[2020-08-19 05:20] vikramroy622 commented on #766
Good ! keep it up and all the best.

[2020-08-22 08:27] vatsal-M commented on #766
My team would like to work on this issue. Is it available?

[2020-08-22 11:42] shantanumallik commented on #766
@vatsal-M I am working on it already.

[2020-08-23 11:51] shantanumallik commented on #766
@vikramroy622  Created a PR #771 for this issue.

Live Demo: https://shantanumallik.github.io/fossasia.org/

[2020-08-23 12:32] yash-93 commented on #755
@anilmaurya61 can I work on this issue?

[2020-08-23 12:46] vatsal-M commented on #755
My team would like to work on this issue. Is it available?
@ISD14-LNMIIT/isd14

[2020-08-24 03:53] anilmaurya61 commented on #755
Go ahead

[2020-08-24 03:53] anilmaurya61 commented on #755
Go ahead

[2020-08-25 12:05] vatsal-M commented on #755
@Chhavi41 @kingmanas @wepull

[2020-08-25 17:00] anilmaurya61 commented on #755
Please fix issue and open PR

[2020-08-26 08:05] vatsal-M commented on #755
@anilmaurya61 What would be your testing criteria?

[2020-08-27 07:15] vatsal-M commented on #755
@anilmaurya61 We are a team of 11 people working to resolve issues in open source projects. We are following the Team Software process which ensures that the issue is resolved perfectly. However, we are being graded on this and for this reason, **we want to be assigned to this issue** so we can give our all to resolve it. Please reply soon so we know you're interested in our proposal.
@ISD14-LNMII

[2020-08-27 07:57] Yashpandey4 opened #772 "Join Fossasia.org"
Hi, I know this isn't the right place for this but can I be added to the fossasia org?
The org manager link is not working/broken.

[2020-08-27 08:13] anilmaurya61 commented on #755
there is no need to assign....Go ahead

[2020-08-30 06:21] Raunaksingh100 opened #773 "link is overlapping to para in mobile view"
### description-
the link is overlapping to the para see in the screenshot for the better understanding

### screenshot
![foss](https://user-images.githubusercontent.com/65535360/91652653-f72b9f00-eab6-11ea-9bf1-3a8c3a401b46.PNG)

[2020-08-30 06:21] Raunaksingh100 commented on #773
### i am working on this issue

[2020-08-31 02:42] #772 closed

[2020-08-31 03:41] Yashpandey4 commented on #772
How is this issue closed @mariobehling?

[2020-09-01 16:43] kmlhsn opened #782 "Footer inside "hamburger" menu and "back to top" arrow button is very narrow and small"
Description:

Footer inside hamburger menu and "back to top" arrow button is very  narrow and small

expectation:

footer should be on the bottom of the page and  "back to top" arrow button should be good look
Step top reproduce:

1. Go to https://fossasia.org/
2. Click on the "hamburger" menu
3. Scroll down to bottom

![image](https://user-images.githubusercontent.com/32615215/91882211-7631fa80-e

[2020-09-01 17:11] kmlhsn opened #783 "homepage design breaks when "hamburger" menu appears"
Description:

homepage design breaks when "hamburger" menu appears

expectation:

homepage design should not break when "hamburger" menu appears. Design should always fixed

Step top reproduce:

   1. Go to https://fossasia.org/
   2. Click on the "hamburger" menu
![image](https://user-images.githubusercontent.com/32615215/91884787-7d5b0780-eca8-11ea-9417-46b77f3754c9.png)

[2020-09-01 17:28] kmlhsn opened #784 "Entire article shown on front page of the Blog"
Description:

Almost entire article is being shown on the front page of the blog

Expectation:
 Only "Title/Head Line", "featured Image" and Summery of the article should be displayed on front page

step to reproduce:
1. Go to http://fossasia.org/
2. Click on "Blog"

![image](https://user-images.githubusercontent.com/32615215/91886137-b6947700-ecaa-11ea-8b05-fac47928ea89.png)

[2020-09-03 04:44] Utkarshn10 commented on #782
I am a beginner and I would like to work on this issue. And will try my level best to fix it.

[2020-09-05 19:05] pnijhara opened #786 "Team member added twice in the Fossasia Team section"
There is a team member 'Abhinav Raj' who is added twice in the team section on the website.
https://fossasia.org/team/

Find the more about the issue in the following screenshots.
![Screenshot 2020-09-08 at 10 33 24 PM](https://user-images.githubusercontent.com/40136154/92506913-ccaeb400-f223-11ea-87d5-d6c7e9d41813.png)
![Screenshot 2020-09-08 at 10 33 28 PM](https://user-images.githubusercontent.

[2020-09-06 05:14] sagar-barapatre opened #788 "Add Dark Theme"
Save our eyes. And batteries. Do not ignore this property of useragent https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2020-09-08 06:31] yashasvimisra2798 opened #789 "Add badges for stars and forks on this repository"
This repository has a number of stars and forks so we can add badges on the repo to show them.

[2020-09-08 06:32] yashasvimisra2798 commented on #789
I would like to work on this issue, I am a beginner in Open Source, please allow me to work on this. Thank you.

[2020-09-08 12:59] Deepaliiii commented on #788
i want to work on this .
may i ?

[2020-09-08 13:00] khushboojoshi3 commented on #788
Can I work on this issue? Please assign me this issue.

[2020-09-08 17:49] sagar-barapatre commented on #788
Look I am not the owner of this repo, so i can't assign anyone. SORRY for that
But i strongly recommend you both to start working on this issue and make a PR.

[2020-09-08 20:48] #786 closed

[2020-09-13 12:48] Raunaksingh100 commented on #788
no only one person can work on an issue , because it lead to duplicate Work

[2020-09-13 19:56] hp77-creator commented on #784
@mariobehling  I visited blog and was able to reproduce this issue. I thought there might be some error in ./js/blog.js maybe something in feednami API or something similar of sort but there was no fault as such. Then I inspected the webpage and there I couldn't find any script tag which sources blog.js, so I am finding error at the wrong place. Can you guide me where to look at to solve this one.

[2020-09-17 07:33] suyash-patil opened #790 "Mentor section is not responsive"
The "Mentors" section of the website is not responsive on 100% zoom.

Here is the screenshot:

![codeheat](https://user-images.githubusercontent.com/66873825/93434566-f2a01c80-f8e5-11ea-830e-ab2ef4685d49.jpg)

[2020-09-17 07:33] #790 closed

[2020-09-21 11:28] Raunaksingh100 commented on #782
@kmlhsn there is no issue in footer size ..

[2020-09-21 13:47] kmlhsn commented on #782
"back to top" arrow button is not in correct design

[2020-09-21 13:53] Raunaksingh100 commented on #782
I only said that there is no issue in footer
Because the layout and size of footer I fixed in previous months

[2020-09-21 13:55] Raunaksingh100 commented on #782
This issue is duplicate and there is already pr for this here the link of pr-
#759

You can closed this issue....

[2020-09-21 13:58] #782 closed

[2020-09-26 05:06] rajitha302 commented on #788
Is there anyone who's actively working on this issue?

[2020-09-26 05:12] rajitha302 opened #791 "Increase the readability of Hero Slider content"
.

[2020-09-26 10:17] Raunaksingh100 commented on #788
No go ahead !!

[2020-09-27 08:14] HADES-01 commented on #791
@rajitha302  Can you elaborate your issue with some screenshots.

[2020-09-28 16:28] mariobehling commented on #789
No need

[2020-09-28 16:28] #789 closed

[2020-09-28 16:28] #788 closed

[2020-09-28 16:28] #791 closed

[2020-09-28 16:29] mariobehling commented on #784
This is working as intended. Thanks.

[2020-09-28 16:29] #784 closed

[2020-09-28 16:30] mariobehling commented on #783
This works as intended

[2020-09-28 16:30] #783 closed

[2020-09-28 16:32] mariobehling commented on #766
We will redesign the site at one point and resolve this then.

[2020-09-28 16:32] #766 closed

[2020-09-28 16:34] #758 closed

[2020-09-28 16:41] #667 closed

[2020-09-28 16:43] #684 closed

[2020-09-28 16:46] #746 closed

[2020-09-28 16:46] #751 closed

[2020-09-28 16:46] #756 closed

[2020-09-28 16:46] #764 closed

[2020-09-28 16:46] #767 closed

[2020-09-28 16:46] #773 closed

[2020-09-28 16:47] #672 closed

[2020-09-28 16:47] #673 closed

[2020-09-28 16:47] #695 closed

[2020-09-28 16:47] #697 closed

[2020-09-28 16:47] #710 closed

[2020-09-28 16:47] #713 closed

[2020-09-28 16:47] #719 closed

[2020-09-28 16:48] #474 closed

[2020-09-28 16:48] #527 closed

[2020-09-28 16:48] #576 closed

[2020-09-28 16:48] #580 closed

[2020-09-28 16:48] #582 closed

[2020-09-28 16:48] #605 closed

[2020-09-28 16:48] #617 closed

[2020-09-28 16:48] #619 closed

[2020-09-28 16:48] #637 closed

[2020-09-28 16:48] #639 closed

[2020-09-28 16:48] #641 closed

[2020-09-28 16:48] #643 closed

[2020-09-28 16:49] #690 closed

[2020-09-28 18:04] yash0501 commented on #755
Is the issue still open?? Can I work on it??

[2020-09-29 09:51] Ritwik880 opened #792 "Adding Dark mode feature"
before applying dark mode:
![Screenshot from 2020-09-29 15-19-35](https://user-images.githubusercontent.com/54446880/94543196-5d970f00-0267-11eb-9392-35dbcdf65ab4.png)

After applying dark mode:
![Screenshot from 2020-09-29 15-19-02](https://user-images.githubusercontent.com/54446880/94543271-756e9300-0267-11eb-9299-11cccf698ed0.png)

[2020-10-02 08:40] #760 closed

[2020-10-08 17:16] siddhantvirus commented on #792
how is this an issue ?

[2020-10-08 17:46] Ritwik880 commented on #792
@siddhantvirus actually it is a feature.

[2020-10-08 17:48] siddhantvirus commented on #792
@Ritwik880 I understand that , but it wasn't clear whether you were requesting it , or trying to make a pr and making an issue before it.

[2020-10-08 17:50] Ritwik880 commented on #792
@siddhantvirus before making pr I want to know their thoughts about this feature, that's why I opened this issue.

[2020-10-09 09:38] aamangupta commented on #792
this looks good but the fossasia logo must be more visible in dark mode

[2020-10-18 12:51] Abhigyankrsingh commented on #735
Sir, I will work on this because it is an open issue and so i will do Sir.

[2020-10-20 05:48] LokeshRajwar commented on #657
Sorry to interrupt but within a day I'll fix this bug.
@mohitm15 I'll report to at the end of day.

[2020-10-20 06:42] LokeshRajwar commented on #657
@mohitm15  Bug fixed Successfully there were three tabs on the **FOSSASIA** website's Menu bar where the elements of that section were coming out of the prescribed window. That I fixed & also I found many more bugs coming out of it. #795
![image](https://user-images.githubusercontent.com/64107608/96549680-74aca800-12cd-11eb-9d31-cae384318036.png)

[2020-10-26 10:39] Abhigyankrsingh opened #797 "There Should be a class in for each images so that devs can easily customize and update the website"

[2020-10-27 17:05] RishabhArya commented on #792
@Ritwik880  I would love to work on this feature with you if you get a go-ahead...

[2020-10-27 17:07] Ritwik880 commented on #792
@RishabhArya but I don't think the maintainers are active on this issue.

[2020-10-29 12:10] Gupta-Nikhil85 commented on #797
can i work on it?

[2020-10-29 16:25] Abhigyankrsingh commented on #797
@Gupta-Nikhil85  Sorry,you can not work because i have already added, you can work on other issues

[2020-10-31 03:50] dsnehasish74 opened #799 "Hamburger Menu is not visible in the events page . So that in mobile there is no way to navigate"
![Screenshot (370)](https://user-images.githubusercontent.com/58779604/97770540-3e3b1c80-1b5a-11eb-9352-67238c38e6c3.png)

[2020-11-07 09:31] preeti13456 commented on #799
I have created a sample button for the website.

[2020-11-08 06:37] preeti13456 commented on #799
https://github.com/preeti13456/fossasia.org/tree/master I have pushed the request kindly take into consideration.

[2020-11-08 08:57] #735 closed

[2020-11-09 04:24] Raunaksingh100 opened #800 "Sign-up free button is not aligned in mobile view"
![Screenshot_2020-11-09-09-51-49-690_com.android.chrome.jpg](https://user-images.githubusercontent.com/65535360/98500069-6f5dd000-2271-11eb-942e-a125ed66f7c6.jpg)

[2020-11-16 14:14] arpitgupta1906 commented on #800
Can I work on this issue? Also shouldn't it be sign-up instead of sing-up?

[2020-11-16 14:15] Raunaksingh100 commented on #800
Ya plz go ahead and fixed it

[2020-11-17 09:19] Raunaksingh100 commented on #797
this is not a bug you can close this issue thanks.

[2020-11-17 10:43] #797 closed

[2020-12-06 17:46] Devansh252 opened #804 "Scroll to Top icon Improper alignment"
This should be aligned with a proper padding i guess ?

![fossasia web-flaw](https://user-images.githubusercontent.com/46221293/101287803-a09dd180-3818-11eb-9eb5-4760f829d309.PNG)

Can I work on this issue ?

![changed](https://user-images.githubusercontent.com/46221293/101287845-d773e780-3818-11eb-90a4-62fe66171a2f.PNG)
**After Making changes**

[2020-12-10 07:36] shreyash-web commented on #804
if this issue is still open i would like to work on this issue

[2020-12-17 06:22] singhsanskar202 commented on #800
can i work on it plz.

[2020-12-17 07:19] Raunaksingh100 commented on #800
This issue already have pr plz find some other issues

[2021-01-02 08:22] Shaurya1234 opened #808 "Unable to perform payment for Fossasia Community Fund / individual membership"
Hello,
I have tried to make contribution towards Fossasia community Fund as well as individual membership.
However, there seems to some network issue when I try to change the payment system to paypal for both the pages.

Link
https://community.fossasia.org/donation/
https://community.fossasia.org/individual-membership/

Please see the attached images.
![Fossasia](https://user-images.githubusercont

[2021-01-03 15:25] Shaurya1234 commented on #808
@mariobehling fyi. Thank you.

[2021-01-05 06:13] yprince02 opened #809 "dropdown: unable to scroll"
![image](https://user-images.githubusercontent.com/59265719/103612636-e00c2a80-4f4a-11eb-905e-3dd48e7f4240.png)

this is iphone 5s screenshot and unable to scroll the dropdown (in the y-direction) so the list items are being hidden.

I WANT TO WORK ON THIS ISSUE. MAY I?

[2021-01-08 17:06] Raunaksingh100 opened #810 "Cdeontent overlapping in the bottom"
### Description-
content overlapping in the bottom side in the mobile view see in the screenshot given below.

### Screenshot-
![bug](https://user-images.githubusercontent.com/65535360/104043510-f1cb2780-5201-11eb-9f3e-1de02a788501.PNG)

[2021-01-10 18:32] codewithnick commented on #810
Hey, how can i contribute to solve this ,please tell me how do i reproduce the bug

[2021-01-11 08:52] Raunaksingh100 commented on #810
Go to codeheat website and see the bug

[2021-01-11 10:34] codewithnick commented on #810
Haven't participated in codeheat yet..should I participate first.

[2021-01-11 12:07] Raunaksingh100 commented on #810
@codewithnick This issue not valid for "Codeheat" You need to fixed the "Codeheat label issue" only for codeheat issue contest
for more details visit the codeheat.org website

[2021-01-11 12:09] codewithnick commented on #810
Yes I know this contribution won't be counted in codeheat but I still want to make my first contribution here..please assign me the issue

[2021-01-19 05:54] Raunaksingh100 opened #811 "Copyright need to update in footer"
### Description-
Copyright which is present in nav bar footer need to be update see in the screenshot for the better understanding.

### Screenshot-
![now](https://user-images.githubusercontent.com/65535360/104993407-cb4e8d00-5a48-11eb-96e0-2d5d7dcf0223.PNG)

[2021-01-21 08:29] shapnesht commented on #811
I would like to work on this issue.

[2021-01-21 08:39] shreyanshg18 commented on #659
Is this issue still active? If not may I work on it.

[2021-01-21 10:18] shreyanshg18 commented on #811
@shapnesht What Exactly we have to update in the footer.

[2021-01-24 11:35] viraj-lakshitha opened #813 "back-to-top button instead of word on footer"
Can I add back-to-top button instead of back-to-top word on the footer?

[2021-01-27 07:18] Raunaksingh100 opened #815 "nav bar bug in mobile view"
### Description-
Nav bar not opening in the mobile view see in the screenshot given below

### screenshot-

[2021-01-31 07:11] Jha2508 commented on #815
where is the screenshot?

[2021-01-31 21:03] shreysingh8838 commented on #815
show us the ss

[2021-01-31 21:05] shreysingh8838 commented on #811
i will work on this issue

[2021-02-01 16:32] palash32 commented on #755
can I work on this issue?

[2021-02-11 18:20] sujit-jaunjal commented on #813
Yes I would like to work on it.

[2021-02-12 05:05] NikhilSharmaWe commented on #755
Looking forward to contribute

[2021-02-13 04:27] ravikr126 commented on #810
Hii I would like to contribute in this issue.please assign this issue to me

[2021-02-13 05:38] kambojshalabh35 commented on #811
May I work on it?

[2021-02-16 17:08] sujit-jaunjal commented on #813
Is this really a valid problem or anyone wants this change to happen ? Can any contributer or member of organization tell if one should work on this problem or not ?

[2021-02-21 11:10] Raunaksingh100 opened #818 "overlapping issue in mobile view"
![123](https://user-images.githubusercontent.com/65535360/108623172-819bfc80-7463-11eb-8105-96b4e916c98a.PNG)

[2021-02-24 15:00] Himangshu1086 commented on #818
Can you please assign  me to solve this issue?

[2021-03-16 10:56] sk1122 opened #820 "Carousel on Home Page does not have contrasting color"
Images in Carousel has a little bit of white tint and the text on it is also white.
It is difficult to read

SCREENSHOT
![FOSSASIA](https://user-images.githubusercontent.com/40713709/111297958-3c3ea980-8674-11eb-9305-9cbf0a294e70.png)

I want to help fix this

[2021-03-17 15:19] sarvesha-jaiswal commented on #820
hey i want to work on this issue, can you describe me how supposed to be it looks like ??

[2021-03-17 15:52] sarvesha-jaiswal commented on #818
hey i want to work on this issue, can i work on it?

[2021-03-17 16:37] sk1122 commented on #820
@sarvesha-jaiswal sorry, but i have started working on this issue, maybe if i need any help i will contact you

Thanks

[2021-03-18 05:29] sarvesha-jaiswal commented on #820
sure

[2021-03-20 18:04] rohit-raje-786 commented on #818
No, i have already started work over on it.

[2021-03-21 17:27] sarvesha-jaiswal commented on #804
can i work on it?

[2021-03-22 06:40] ruchikamuddinagiri opened #822 "Captcha problem while Subscribing to newsletter"
The captcha verification always fails while signing up for the newsletter. I would like to work on this issue and figure out why. Also, there is a spelling error. ("Singup here")

![image](https://user-images.githubusercontent.com/52284361/111949829-61fdff80-8b07-11eb-8224-30bfd5f58794.png)

[2021-03-23 13:08] pawarhrishi21 opened #823 "Fossasia Summit 2021 Link not added in dropdown"
The website displays links for all summits up to 2020. 2021 link is to be added. I will submit a PR for this.

[2021-03-26 16:05] sarvesha-jaiswal commented on #818
sure, no problem.

[2021-04-05 05:03] harkiratsm opened #826 "idea can added svg animation on hovering on social media icons"
please lemme know i have the ideas it would looking great do lemme know that should i start working on this(on -mouse hovering)
![lop](https://user-images.githubusercontent.com/71957674/113538994-4cee9980-95fa-11eb-9bec-747fc834dcfd.gif)

[2021-04-16 08:12] SakshamDevelops opened #827 "Multiple Text Styling Issues"
- ###  **Issue 1 - (Text Overflow on mobile screen)**

**Desktop**

This is the complete text that should be displayed.

<img width="1242" alt="Screenshot 2021-04-16 at 1 30 32 PM" src="https://user-images.githubusercontent.com/69129797/114992042-ed28a600-9eb7-11eb-898c-d9f3c1cb0155.png">

**Mobile**

On Mobile screens, the text in the section "**A little more about FOSSASIA**" overflows and gets

[2021-04-16 08:20] jasbirrajrana commented on #827
yeah, @SakshamDevelops seems to have issues with the responsiveness of the website!

[2021-04-16 12:12] sxmawl commented on #827
Yea @jasbirrajrana, seems like couple of minor css changes. Would be happy to fix this, should I go ahead a create a PR?

[2021-05-13 13:38] Rara1410 commented on #826
I like to work on it can please provide me the link to the animated gifs

[2021-05-13 13:38] Rara1410 commented on #826
or any kind of guide for the icons

[2021-05-14 04:20] Rara1410 commented on #826
@harkiratsm  hii sir can I work

[2021-05-16 15:12] Shiva336 commented on #827
I want to work on this issue. Could someone help me out?

[2021-05-18 07:02] ambivert-sam commented on #811
I would love to work on this issue can I?

[2021-05-19 19:52] kulendu opened #830 "Making the links in the Programs sections center aligned"
- ### Issue :
![Image-1](https://user-images.githubusercontent.com/56751963/118875168-595c5680-b909-11eb-871d-1126b2ad891b.jpg)

All the **Highlighted** links in the above image are aligned towards the right.

- ### Proposed solution:
Making all these links center-aligned will make it look better

![Image-2](https://user-images.githubusercontent.com/56751963/118875460-b821d000-b909-11eb-80e7-5d17d

[2021-05-20 07:53] Asymmentric commented on #830
heyy @kulendu
I've understood the issue and would be happy to work on it .

[2021-05-20 08:02] kulendu commented on #830
Actually @Asymmentric I am willingly to work on it.
Just waiting for maintainers for reviewing and approving it to me.
@iamareebjamal can you review it please?

[2021-05-20 08:43] himanshujasuja1040 commented on #815
I want to try this if you will provide the screen shot

[2021-05-20 08:45] himanshujasuja1040 commented on #792
If this issue is not solved then Can I try

[2021-05-22 06:02] 2201monesh commented on #827
Hey I would like to work on it can you suggest me ways to get started.

[2021-05-30 11:37] AnirudhPanda opened #831 "[Clean Look] In the navigation bar About Us should be below Projects according to how it is set up in the page."

[2021-06-06 11:10] prsmahajan commented on #823
Hi, I would like to work on this issue, can anyone suggest me ways to get started?

[2021-06-06 17:17] shapnesht commented on #830
Hey @kulendu I would like to work on this issue

[2021-06-08 05:04] kulendu commented on #830
@shapnesht please go-ahead 👍.

[2021-06-14 07:04] Gupta-Nikhil85 commented on #827
Hey I would like to work on it.
Can anyone suggest me the way to get started.

[2021-08-07 23:34] Manish-Kumarr opened #834 "[Design] Change the style and align the back to top button properly!"
**Before:**
The button is not aligned properly.
![before](https://user-images.githubusercontent.com/53834930/128616283-b87084d4-8aa1-4156-85e7-e4462c8b9f6b.PNG)

**After:**
Added background color and aligned properly
![after](https://user-images.githubusercontent.com/53834930/128616288-99843818-e4f3-4f67-bdb4-c20a424c2275.PNG)

[2021-08-09 03:39] Manish-Kumarr commented on #834
@mariobehling I want to work on it.

[2021-08-09 04:11] abishekvashok commented on #834
Hey this requires changing a lot of other sites where this header is reused. I appreciate the amount of work you put in this issue, can you please take a look at open event. I am curious to see what you cna come up with there :)

[2021-08-10 00:37] Manish-Kumarr commented on #834
@abishekvashok okay if you mention the websites then it will be easy for me.

[2021-08-10 19:04] Manish-Kumarr commented on #834
So, There was no back-to-top button, that is what I added here and we can reuse this same code in all the subdomains.
Here is the demo hope you like this @abishekvashok @mariobehling
https://manish-kumarr.github.io/fossasia-demo/

I want to work on all the subdomains.

**After**
![eventafter](https://user-images.githubusercontent.com/53834930/128919464-7d2a404c-e9fb-4451-b690-e9cf4f1edb29.PNG)

**

[2021-08-11 12:53] Ayush2020012016 opened #835 "icon not showing"
![fossasiaerror](https://user-images.githubusercontent.com/78146753/129031807-fefdf64e-cbfd-427e-b55d-3b90d7ea5215.png)

[2021-08-16 09:51] Manish-Kumarr commented on #834
@abishekvashok please have a look.

[2021-08-26 23:05] SamarthAroraa commented on #835
Hi, @Ayush2020012016 I was not able to reproduce the issue. Could you include steps to reproduce the issue?

[2021-09-05 11:06] imthegithubuser commented on #835
can i work on this issue?

[2021-09-06 05:03] abishekvashok commented on #835
Closing as not reproducable

[2021-09-06 05:03] #835 closed

[2021-09-12 08:29] AvidCoder101 opened #837 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2021-09-12 08:29] #837 closed

[2021-09-15 14:10] Nikhil-1503 opened #839 "The link for OpenTechSummit China 2019 is not working"
The url for OpenTechSummit  China, Tsinghua University Shenzhen, 21-23 November, 2019  under Events 2019 in the home page is not working.

[2021-09-17 19:43] kitarp29 commented on #839
@Nikhil-1503 @rctay @smcgregor Can You assign this issue to me?

[2021-09-17 19:44] kitarp29 commented on #830
If this issue is still Open I would like to work on it
@kulendu

[2021-09-18 04:00] Nikhil-1503 commented on #839
@kitarp29 I have already made a pull request which fixes this issue.

[2021-09-18 06:35] kulendu commented on #830
@kitarp29 definitely you can. But I guess you should contact with the maintainer of this project.

[2021-10-01 09:31] shubhamj99 commented on #831
@AnirudhPanda  Can you please share a screenshot of it.

[2021-10-01 13:57] AnirudhPanda commented on #831
https://user-images.githubusercontent.com/66218496/135632232-52218663-c4f5-4c4f-a8c7-89c4e9abcd3e.mp4

I think we should keep it the way it goes!

[2021-10-04 11:56] amruta-kashikar commented on #831
I want to work on this issue

[2021-10-04 13:48] aarhank commented on #813
Any progress? I would like to work on it.

[2021-10-07 14:32] idivyanshbansal opened #843 "Reduction of assets in 404 page"
The 404 page should be easy to load. There should be a reduction of javascript getting data from the assets of the website.
This will decrease the loading time of the page.

https://github.com/fossasia/fossasia.org/blob/gh-pages/404.htm

![Screenshot 2021-10-07 200114](https://user-images.githubusercontent.com/86911142/136405757-6c727fe6-7e64-4128-a5d0-a32436c4d52c.png)
l

[2022-01-27 19:29] shubhamjain2001 commented on #830
Hey @kulendu, can you assign this issue to me.

[2022-01-27 19:34] shubhamjain2001 commented on #541
is this issue open and what changes are needed?

[2022-01-28 16:44] Sajal-12 commented on #723
can I start this , If  that issue is not resolved .

[2022-01-28 16:46] Sajal-12 commented on #800
@Raunaksingh100 still you are working on it , or u completed as it is showing open in Issue section . pls inform if its available so I can start working on it

[2022-01-29 07:41] Sajal-12 commented on #822
Can I work on it , if It's not assigned to anyone !

[2022-01-29 07:41] Sajal-12 commented on #822
can u assign it to me n guide(explain) more about captcha thing .

[2022-01-31 13:06] kulendu commented on #830
Hi, @shubhamjain2001 currently I'm not working on this issue. If you wish to, make sure you contact this repo's maintainer.

[2022-02-01 09:37] Raunaksingh100 commented on #800
there is already pr for this here the link - [](https://github.com/fossasia/fossasia.org/pull/801), but he user is not activate for months so you can start working on this issue .

[2022-04-03 20:42] mariobehling opened #847 "Create a YouTube overlay during the FOSSASIA Summit"
Please implement a YouTube overlay during the FOSSASIA Summit. Use the test video here https://www.youtube.com/watch?v=dzn8ncyx-NA&t=15s

Implement a solution that can be close with a cross [x].

Make the video autoplay.

![fawithvideo](https://user-images.githubusercontent.com/1583873/161447711-e1dc3ed7-a883-4c55-9530-9aa5e7c8fb68.png)

[2022-04-03 20:49] #843 closed

[2022-04-05 07:43] Ash-KODES commented on #847
can I work on this:)

[2022-07-26 14:41] rubiin commented on #92
Any updates on this. Cannot seem to join

[2022-09-09 16:50] nyilynnhtwe opened #849 "Wrong Spelling"
In subscribe section of FOSSASIA website, there is a wrong spelling. It is appeared as "Singup Here" instead of "SignUp Here".

https://github.com/fossasia/fossasia.org/blob/b33079d7f5bce024d2bee723c2906d6f7d1a792c/index.html#L1514

[2022-09-18 17:42] manav-06 commented on #849
You can assign this to me

[2022-09-19 02:46] jacklynn-coder commented on #849
How can I assign?

[2022-09-28 16:29] Manish-Syal123 commented on #849
I corrected the spelling of  "Singup Here" button to "SignUp Here" from index.html file.

- Before correction

![Manish-Syal123_fossasia org_ FOSSASIA Website https___fossasia org - Google Chrome 28-09-2022 21_30_19](https://user-images.githubusercontent.com/112818612/192834531-76382a1c-9895-4d04-bf23-e3873f8e0f19.png)

- After correction

![FOSSASIA _ Asia's Open Technology Organization - Develop

[2022-09-29 14:20] Manish-Syal123 commented on #830
Hey I am new to open source and  I have a doubt that :
can we create a new PR directly without taking permission of repo mentors or without asking them to assign that work to us ?
Because just a day before I generated a new pull request on one such issue without having any chat.

[2022-10-08 05:06] Sagargajare commented on #847
@mariobehling Can you share more details about the issue?

 and assign it to me I would love to contribute.

[2022-10-14 03:47] hiiruki opened #851 "Join FOSSASIA"
Hi, could you invite me to the FOSSASIA GitHub organization?

[2022-10-31 13:02] himanshumarothia commented on #849
" class="btn">SignUp Here</a>

[2022-10-31 15:20] Manish-Syal123 commented on #849
Spelling corrected from SingUp Here to SignUp Here #850

[2022-11-02 10:21] code2forever opened #852 "#newbie"
Hey, I am new to contribution. Want to contribute through my skills please help me out.